[2021-03-06 06:07] LukeTowers opened #5 "We have forked October CMS"
Former October CMS maintainers [Luke Towers](https://github.com/luketowers), [Ben Thomson](https://github.com/bennothommo) and [Marc Jauvin](https://github.com/mjauvin) wish to announce the formation of the [Winter CMS](https://github.com/wintercms) project, a community-driven fork of [October CMS](https://github.com/octobercms) with a dedication to speed, security, stability and simplicity. Along

[2021-03-12 04:46] LukeTowers opened #8 "Support arbitrary depth of dependsOn fields"
We should integrate the final results from octobercms/october#5519. @meesiris if you're willing to resubmit the PR here, that would be appreciated, otherwise this will be targeted for inclusion in v1.1.3.

[2021-03-12 05:02] LukeTowers opened #9 "Add support for uploading SVGs"
Need to integrate with https://github.com/darylldoyle/svg-sanitizer to automatically sanitize SVGs on upload and then re-add them to the list of allowed defaultExtensions, assetExtensions, and imageExtensions.

Original october#5261

[2021-03-12 05:12] LukeTowers opened #10 "Image Resizer fails if the input image's filename is too long"
The ImageResizer will fail with
[code]
if it attempts to resize `/storage/app/media/florence-flood-november-4-1966-view-from-the-south-bank-of-the-arno-river-florence-italy-the-river-rages-just-beneath-the-stone-arches-of-the-ponte-santa-trinita-photo-by-balthazar-korab.jpg`.

Now, why anyone would have files with such long names is beyond me, but the fact of the matter is there isn't anything in

[2021-03-12 05:17] LukeTowers opened #11 "Delay requests made by the markdown formwidget until the user stops typing momentarily"
Originally reported by @multiwebinc in octobercms/october#5523.

With the current markdown editor in split mode, a request is sent to the server for every single keystroke. This doesn't play well with DDoS prevention mechanisms, such as Apache's mod_evasive, which quickly causes a 403 error after just a few keystrokes. Would it be possible to use a client-side markdown parser, or at the very least

[2021-03-12 05:32] LukeTowers opened #13 "Support newer versions of symfony/yaml"
We should add a preprocessor to YAML files to prevent the breaking changes in newer versions of symfony/yaml from affecting the ecosystem (i.e. unquoted string keys that could be interpreted as numbers no longer work in newer versions).

Refs: octobercms/october#5271

[2021-03-12 05:34] LukeTowers opened #14 "Improve support for Laravel packages that integrate with illuminate/auth"
See octobercms/october#3227

[2021-03-12 05:48] LukeTowers opened #15 "BelongsTo relationship fields lose data when saved if hidden in filterFields()"
Refs octobercms/october#3568

[2021-03-12 05:49] LukeTowers opened #16 "Add support for Media Library metadata"
![Media Library Metadata](https://user-images.githubusercontent.com/15900351/152294873-ab114c52-3827-4bd0-b452-b2ba571fe28e.png)

General:
- This is a progressive enhancement that will live in the System module. Simply check if app::hasDatabase() or something similar before registering event listeners
- Media Manager should have integrations with the Form widget to simply extending it
- Perhaps ha

[2021-03-12 05:51] LukeTowers opened #17 "Allow disabling the auto group_concat behaviour on list column select properties for multi relations"
In https://github.com/octobercms/october/blob/develop/modules/backend/widgets/Lists.php#L502-L504 the `select` property of a column that references a `relation` with multiple associated record is automatically wrapped in a `group_concat()` call to automatically concatenate all of the results of the select query into a comma separated string.

This is fine behaviour by default, but a problem arises

[2021-03-12 05:53] LukeTowers opened #18 "Add support for MorphPivot"
Refs: octobercms/library#534 & octobercms/docs#496

[2021-03-12 05:56] LukeTowers opened #19 "Add support for mode option to the MediaFinder"
Refs: octobercms/october#2726

[2021-03-12 05:57] LukeTowers opened #20 "ThemeData attachments should rely on attachMany relationship instead of multiple attachOne"
Refs: octobercms/october#5195

[2021-03-12 05:59] LukeTowers opened #21 "Add support for sortable relations"
Need to review and merge octobercms/october#5298

[2021-03-12 06:07] LukeTowers opened #22 "Add support for child themes and nested layouts"
Refs octobercms/october#2886 & https://github.com/octobercms/docs/commit/42d7837d7d755e5eeeb1db644e60b351adbac46e

[2021-03-12 06:12] LukeTowers opened #23 "Add support for Laravel 9 LTS"
Refs: octobercms/october#5473. Credit to @filipac for the initial work!

I've successfully upgraded a fresh OctoberCMS to use Laravel ^8.0 ( 8.25.0 as of speaking) from Laravel 6 we currently use.
I am sure there is no desire from core team to upgrade to non-lts version for now, but I just want to document what changes should we make to have it working:

- require laravel components ^8.0
- upgrade

[2021-03-12 06:14] LukeTowers opened #24 "Warn users when uploading duplicate file names to the media manager"
Refs octobercms/october#3124

[2021-03-12 06:15] LukeTowers opened #25 "Add support for emptyOption on list filters"
Refs: octobercms/october#3116

[2021-03-12 06:19] bennothommo opened #26 "Sluggable field no longer works after form refresh"
- Winter CMS Build: `develop`
- PHP Version: 7.4
- Database Engine: MySQL
- Plugins Installed: Winter.Pages

### Description:
Sluggable fields appear to stop working as soon as a form is refreshed. This happens even if the form context is in `create` and the sluggable field itself has not been modified, so theoretically, the slug should still be tracking the trigger field value.

### Steps To Repr

[2021-03-12 06:21] LukeTowers opened #27 "Fix filter type group using modelClass when 500+ options are available."
Review and implement octobercms/october#5470

[2021-03-12 06:22] LukeTowers opened #28 "Fix support for integer keys on type: set inspector manager properties"
Refs: octobercms/october#5530

[2021-03-12 06:24] LukeTowers opened #29 "Add support for setting the application key in .env files when running key:generate"
See:
- octobercms/october#5496
- octobercms/library#560
- octobercms/october#5514

[2021-03-12 06:25] LukeTowers opened #30 "Add support for "clear" filter scope"
See:
- octobercms/october#3952
- octobercms/october#4744

[2021-03-12 06:27] LukeTowers opened #31 "Add support for specifying headers on Http::toFile()"
Refs: octobercms/october#5453

[2021-03-12 06:29] LukeTowers opened #32 "Improve password reset validation"
Refs: octobercms/october#5516

[2021-03-12 06:40] LukeTowers opened #33 "Add more relation events"
Refs octobercms/october#4561. @mjauvin did an initial implementation in octobercms/library#537

[2021-03-12 07:17] #8 closed, assigned to nobody

[2021-03-12 16:36] LukeTowers commented on #5
# FAQs

See our blog post for the upgrade guide: https://wintercms.com/blog/post/how-start-using-winter-cms

[2021-03-12 18:52] dhawton opened #37 "WinterInstall displaying October logo"
System module, console/commands/WinterInstall.php function displayIntro is displaying October's logo. Not sure if you had an ASCII logo already, so didn't want to submit a PR to fix. DisplayOutro probably also needs changing.

[2021-03-12 19:23] dhawton commented on #37
Decided to put a PR in in case you guys wanted community involvement. Feel free to change/reject if you have a different idea.

[2021-03-12 19:43] #37 closed, assigned to nobody

[2021-03-14 07:57] LukeTowers opened #40 "Add support for tab deep linking to the CMS & Winter.Pages editor tabs"
Description:
Tab linking doesn't work for pages, the same applies for CMS pages

Steps To Reproduce:
https://example.com/admin/rainlab/pages#primarytab-thepottingshedcontentblockslangcontent-blockstabscontent-blocks <-- Doesn't reference selected page

Refs: octobercms/october#5135

[2021-03-16 05:01] LukeTowers opened #42 "Repeater maxItems doesn't take effect for the first item"
When using repeater with maxItems=1, repeater does not work correctly. It adds one record and still shows the button to add one more. When you remove all records and start adding them again, the repeater works as expected.

Test with the Test Plugin using the Countries > Related repeater and setting maxItems: 1

`plugins\winter\test\models\country\fields.yaml`

Initial report by @GinoPane in octob

[2021-03-17 20:06] LukeTowers opened #48 "Add support for aliasing config namespaces"
See https://github.com/wintercms/wn-user-plugin/pull/1#discussion_r595305159

namespace should transparently replace to the new namespace, and then the file loader should also support falling back to loading the alias path
i.e. if I ask for winter.blog::some_setting but in my files I have config/rainlab/blog/config.php then it should load from there if the winter.blog version doesn't already exist

[2021-03-18 09:04] seanthepottingshed opened #50 "Block access to sensitive field data for unauthorized users"
- Winter CMS Build: Latest
- PHP Version: 7.2
- Database Engine: mysql
- Plugins Installed: N/A

### Description
Setting a `sensitive` form field to `readOnly` doesn't stop the display of the password when clicking the view button.

### Steps To Reproduce:
And the following to `fields.yaml`:

[code]

[2021-03-18 09:05] LukeTowers commented on #50
I'm curious as to why you think readOnly should prevent that, technically they're not editing the field, only reading it. What's the use case you're trying to achieve?

[2021-03-18 09:08] seanthepottingshed commented on #50
Good point, maybe it's just me but it seems counterintuitive to be able to interact with a field that is set to `readOnly`, I assumed it would just display as a `password` field type instead.

[2021-03-18 09:19] seanthepottingshed opened #51 "Can't access private files on Amazon S3 or Rackspace"
- OctoberCMS Build: Latest
- PHP Version: 7.2
- Database Engine: mysql
- Plugins Installed: `RainLab.GoogleAnalytics` **1.3.0**

### Description:
Clicking on `fileupload` form widget, displays modal with **Attachment URL** link for `private` files:

* https://github.com/rainlab/googleanalytics-plugin/blob/master/models/Settings.php#L23

<img width="769" alt="Screenshot 2021-03-18 at 09 17 06" src=

[2021-03-18 09:21] LukeTowers commented on #50
I'm not really sure what the point of that happening would be tbh, are you trying to hide the sensitive data from unprivileged users?

[2021-03-18 09:29] seanthepottingshed commented on #50
Sorry yes, I worked around it by serving different fields based upon user permission. So user with privileges gets field as `sensitive` otherwise as `readOnly` `password`

[2021-03-18 10:14] LukeTowers commented on #51
Seems like a problem with your storage driver @seanthepottingshed, the URL generated by private files should be pointing at the backend files controller by default. Can you share the URL you're seeing and the configuration of the filesystem disk used for the file in question?

[2021-03-18 10:18] seanthepottingshed commented on #51
Sure thing here you go:

* https://voyonic-ipqqvojqrg.s3.eu-west-2.amazonaws.com/uploads/protected/5f9/177/548/5f9177548c405055748179.json?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJBWEHPW6LX3B5ALA%2F20210318%2Feu-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210318T101743Z&X-Amz-SignedHeaders=host&X-Amz-Expires=0&X-Amz-Signature=12a449c713b4479f9708dd03

[2021-03-18 10:19] LukeTowers commented on #50
There are other ways you can achieve similar results too, for example you could hook into the `backend.ajax.beforeRunHandler` event and throw an ApplicationException if you detect someone is trying to `onShowValue()` without the correct level of access to the data.

Is there anything actionable left in this issue or are you fine with your current solution?

[2021-03-18 10:22] seanthepottingshed commented on #51
@LukeTowers

Sorry I'm an idiot, I've just noticed the issue `temporaryUrlTTL` should not be **0**! Sorry for wasting your time.

[2021-03-18 10:22] #51 closed, assigned to nobody

[2021-03-18 10:22] LukeTowers commented on #51
There's your problem: `'temporaryUrlTTL' => 0,`. Private files on S3 & Rackspace disks in october take advantage of the temporary URL feature of those drivers for increased security; setting this value to 0 means you're telling the application that you want to create a temporary URL that lasts 0 seconds

[2021-03-18 10:23] LukeTowers commented on #51
@seanthepottingshed no worries, just feeding the google machine for future people with similar issues 😉

[2021-03-18 10:31] seanthepottingshed commented on #50
_There are other ways you can achieve similar results too, for example you could hook into the backend.ajax.beforeRunHandler event and throw an ApplicationException if you detect someone is trying to onShowValue() without the correct level of access to the data._

Good to know!

[2021-03-18 10:31] #50 closed, assigned to nobody

[2021-03-21 06:07] #32 closed, assigned to nobody

[2021-03-22 05:17] dhawton opened #58 "ConfigWriter issue if you winter:env before winter:install"
- Winter CMS Build: dev-develop
- PHP Version: 7.4
- Database Engine: MySQL
- Plugins Installed: N/A

### Description:
If you run winter:env before winter:install, you'll encounter:

In ConfigWriter.php(45) : eval()'d code line 128:

  syntax error, unexpected ',', expecting ';'

Full output:
`daniel@desktop:/mnt/d/VBRP/Brumalia/install$ docker exec -ti -u www-data winter_web bash -c "cd /var/www/

[2021-03-22 05:51] bennothommo commented on #58
@dhawton `winter:env` and `winter:install` do basically the same thing, in that the set up your configuration for use in Winter (`install` then follows this up with additional work). They're not really designed to be used together.

If you use `winter:env` to set up your `.env` file, you should instead run `winter:up` afterwards to run the migrations. You would only use `winter:install` on a fresh

[2021-03-22 05:52] #58 closed, assigned to nobody

[2021-03-22 08:35] bennothommo opened #60 "Improve handling of ConfigWriter class when using "winter:install""
Refs: https://github.com/wintercms/winter/discussions/59 (reported by @dhawton)

Currently, `ConfigWriter` will throw parse errors when manipulating config files with `env()` calls within while running the `winter:install` command, as it does not properly parse the entire `env()` call when doing its replacement. We should try to improve the handling of `ConfigWriter` to account for this, perhaps b

[2021-03-24 07:08] bennothommo commented on #42
@LukeTowers is this is still occurring? I cannot replicate on a fresh copy of Winter.

[2021-03-24 15:15] LukeTowers commented on #42
No idea. Will close.

[2021-03-28 03:25] #13 closed, assigned to bennothommo

[2021-04-14 18:44] mjauvin opened #73 "Asset Minification Improvements"
A PR to fix asset minifications for CSS variables broke minification for LESS files.

See. https://github.com/wintercms/storm/pull/22

We need to revisit this to find and fix the issue it created with LESS asset minification.

[2021-04-15 06:16] josephcrowell commented on #5
Also change

`        "post-update-cmd": [
            "php artisan october:version",
            "php artisan package:discover"
        ],`

to

`        "post-update-cmd": [
            "php artisan winter:version",
            "php artisan package:discover"
        ],`

in composer.json.

[2021-04-16 14:52] LukeTowers opened #77 "Support more methods of installing plugins"
We should support more ways to install plugins:

- Upload ZIP
- Specify git repo (only if Git binary supported on the system)
- Specify composer package name
- (only on plugin:install command) Specify local folder

These methods should exist in the plugin:install command with a `--from=` option and in the backend plugin manager.

[2021-04-16 15:06] mjauvin commented on #77
We should take this opportunity to unify both the UI and console installer/update code paths

[2021-04-17 09:55] ghost opened #81 "Install on Debian"
Hello dear Team,
Could it be possible to install the same as way below and get an install-master folder ? Currently empty
wget https://codeload.github.com/wintercms/install/zip/master -O wintercms.zip

Wish you all the best to come

Best regards

[2021-04-17 14:07] bachvtuan commented on #81
You can try install by download release version. Here is latest https://github.com/wintercms/winter/archive/refs/tags/v1.1.2.zip

[2021-04-17 14:32] ghost commented on #81
Hello, thanks for this reply,
I'm feeling sorry because I'm a non-technical user,
this is the way I used to install in the past with an install.php file inside the folder, similar to the one below, I'm hoping it could be done soon.
https://codeload.github.com/octobercms/install/zip/master

Cordially

[2021-04-17 15:54] Incremental92 opened #82 "Same widgets in frontend and backend ?"
Hello, I started a project 1,5 year ago and it's still not finished because what I designed with widgets, with Builder in the backend was not all available in the frontend (ie repeater).
Then I moved for the frontend to vue.js and started to use October as a headless CMS (missing GraphQL).
I would greatly love in Winter to have the same widgets (functionalities) both in backend and frontend, then

[2021-04-17 16:00] faselunare opened #83 "Plugin installation error"
- Winter CMS Build: ###
- PHP Version: 8.0.3
- Database Engine: MySql

### Description:
I tried to install a plugin on winter through the OC marketplace but got an error.
So I downloaded the plugin (Magic Form) from the author's repository, I tried to install it `php artisan plugin: enable Martin.Forms` but it gave me error

[code]

### Steps To Reproduce:
- Download the Magic Forms plugin from th

[2021-04-17 16:04] #81 closed, assigned to nobody

[2021-04-17 16:06] #82 closed, assigned to nobody

[2021-04-17 17:47] amjadniazi48 opened #86 "When i Update after installing it shows the message please update from composer but when i update from composer it still shows not update message"
![composer_update](https://user-images.githubusercontent.com/2420029/115121953-d7f26b00-9fce-11eb-9526-f78cd8e0ec56.png)

[2021-04-17 17:49] LukeTowers commented on #86
The marketplace API is being worked on at the moment, should be ready shortly. If you're using composer to manage the core updates though you should set config/cms.php disableCoreUpdates to true so that the backend doesn't try to handle the updates.

Backend updates are the consumer version of Winter, composer managed updates are the developer version. They're mutually exclusive, so don't update t

[2021-04-17 17:51] amjadniazi48 commented on #86
Ok, thanks

[2021-04-17 18:45] arvislacis opened #87 "Media manager throwing error while trying to resize gif image"
- Winter CMS Build: v1.1.2
- PHP Version: 8.0.3 (issue probably related to PHP 8)
- Database Engine: SQLite [not related to DB engine]
- Plugins Installed: [not related to plugins]

### Description:
CMS back-end Media manager throws

`Symfony\Component\Debug\Exception\FatalThrowableError: imagecolorsforindex(): Argument #2 ($color) is out of range in /srv/bucketbear.club/vendor/winter/storm/src/Da

[2021-04-18 00:39] goldmont opened #88 "Some labels are invisible in List Controller due to inline "display: none;" style"
Hi there,

after moving to WinterCMS, controllers lists got broken. As you can see from the attached image, the title column content is invisible because an inline "display: none;" style is attached somehow. I didn't managed to solve this issue and I don't understand why this happens only on that column. Hope there's a solution. Thank you for your efforts.

[code]

Result:
![image](https://user-im

[2021-04-18 01:02] LukeTowers commented on #88
@goldmont this was fixed in https://github.com/wintercms/winter/commit/2bb5d44eb564dc5ca1371258102b175e1778c159 and will be available in v1.1.3. If you would like to get access to the fix now, switch your composer dependencies to use dev-develop instead.

[2021-04-19 01:32] #88 closed, assigned to nobody

[2021-04-19 01:34] bennothommo commented on #83
@faselunare Just to check, did you run `php artisan winter:up` before accessing the Backend?

[2021-04-19 07:09] faselunare commented on #83
i tried to do it now, but it gives me error.
The error blocking me from accessing the backend is this

`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'unread' in 'where clause' (SQL: select count(*) as aggregate from `martin_forms_records` where `unread` = 1 and `martin_forms_records`.`deleted_at` is null)`

[code]

[code]

[code]

[2021-04-19 08:06] faselunare commented on #83
I tried to install this other plugin and I had no problems (however I don't need it because it's too basic)
https://octobercms.com/plugin/grofgraf-contactme

[2021-04-19 08:13] faselunare commented on #83
tried this one https://github.com/abwebdevelopers/oc-forms-plugin

[code]

it doesn't give any further errors in the backend but when i try to create a form i get this error

[code]

[2021-04-19 16:27] #87 closed, assigned to nobody

[2021-04-20 09:18] bennothommo commented on #83
@faselunare I will try and replicate the issue, and see what I can find.

[2021-04-20 09:29] bennothommo opened #94 "Allow color picker widget to return alternate color formats"
Per https://github.com/wintercms/winter/discussions/90,

The Spectrum color picker widget in use with Winter CMS supports exporting of various types of color formats (HSL, RGB, hex, etc.). We could potentially have an option with the widget to allow an alternate color format to be returned and used for certain fields - perhaps `format` - with it defaulting to `hex`.

[2021-04-20 11:24] mjauvin commented on #73
Fixed by https://github.com/wintercms/storm/pull/23

[2021-04-20 11:24] #73 closed, assigned to nobody

[2021-04-20 13:12] pablorq opened #95 "docker-wintercms - Admin password generation vs. docs"
- Winter CMS Build: hiltonbanes/wintercms:build.v1.1.2
- PHP Version:
- Database Engine: mariadb:10.4
- Plugins Installed: none

### Description:

The [Quick Start](https://github.com/mik-p/docker-wintercms#quick-start) says:

After install it a random password is generated, which is a problem not only because it is not matching the docs but also when using tools like Portainer, where the generate

[2021-04-20 13:41] bennothommo commented on #95
@pablorq Please submit an issue to @mik-p to adjust the Docker build. One thing I would suggest he does is set up the build process to run `php artisan winter:passwd` on first entry and set the password from an environment variable (or set it to `admin` / `admin` by default).

[2021-04-20 13:42] #95 closed, assigned to nobody

[2021-04-20 13:51] pablorq commented on #95
I can't (nobody can, really) submit issues to @mik-p on [docker-wintercms](https://github.com/mik-p/docker-wintercms).

This is why I submit it here.

[2021-04-20 13:53] mik-p commented on #95
Yes I have used this suggestion previously and can add some ways to fix. For your issue you may also run:
docker exec -it container_name winter passwd admin admin

After container start.

Should be able to make issues now

[2021-04-20 14:19] pablorq commented on #95
(Moved to https://github.com/mik-p/docker-wintercms/issues/)

[2021-04-21 00:29] goldmont commented on #88
Thank you man

[2021-04-21 16:30] vinibacc commented on #83
hello guys, to install the magic form plugin, just use this command:
`composer require martin/forms-plugin`
After, run:
`php artisan winter:up`

[2021-04-21 22:44] LukeTowers opened #102 "Add MigrationHelper for plugin replacement functionality"
The plugin replacement functionality is nearly perfect, but maintaining data integrity is still a bit tricky. It would be ideal if we had a MigrationHelper that could do the following:

- Rename Settings model's codes (this could potentially be done at the core level with aliases, or we could just not rename these in the first place)
- Iterate over all models in the plugin & all of their relations

[2021-04-22 17:35] mjauvin commented on #102
@LukeTowers those stored classes in the db tables, wouldn't they get remaped when used as well?

[2021-04-22 17:38] LukeTowers commented on #102
@mjauvin no, $settings->file is going to look for `system_files where field = file, attachment_type = New\Classe, attachment_id = $id` whereas any existing data is going to be stored as `Old\Class`.

[2021-04-22 18:17] mjauvin commented on #102
Indeed.

[2021-04-23 14:51] ericp-mrel opened #106 "Named routes not working"
- Winter CMS Build: 18adc4a12d886d36ce396f6be4f1732e8b40d062
- PHP Version: 7.4
- Database Engine: sqlite
- Plugins Installed:
  * Winter.Demo

### Description:
When registering named routes in a plugin's routes.php file you are unable to reference them using the `route()` helper function. However, they do show up in the route list when running `php artisan route:list`

### Steps To Reproduce:
1.

[2021-04-24 09:48] bkrajendra opened #112 "Builder Plugin does not install"
It's great to see the origin of Winter after leaving back October!!! 😁

I gave it a try today because everything went very well, and I liked the CLI install interface.
Only I got an error while installing the Builder plugin through the CLI install menu but showed me 520 origin error.

I also suggest having a marketplace completely based on GitHub.
Is there any way we can directly clone plugins usi

[2021-04-25 04:26] LukeTowers commented on #112
You should now be able to search for and install Winter.Builder from the backend of your Winter CMS projects and the CLI.

[2021-04-25 04:26] #112 closed, assigned to nobody

[2021-04-25 12:09] mjauvin commented on #83
@faselunare can you confirm @vinibacc method above works for you? Are you running latest winter cms code?

[2021-04-25 16:25] tschallacka commented on #23
I'd like to help with this. Should it be pushed to the main develop branch or will there be a separate branch for this specific upgrade?

[2021-04-25 16:31] LukeTowers commented on #23
https://github.com/wintercms/winter/tree/wip/1.2
https://github.com/wintercms/storm/tree/wip/1.2

[2021-04-25 21:06] LukeTowers commented on #102
Finished through the inclusion of migrations in the affected plugins to handle these tasks.

[2021-04-25 21:06] #102 closed, assigned to mjauvin, jaxwilko

[2021-04-25 21:07] LukeTowers commented on #48
Implemented in https://github.com/wintercms/storm/commit/6c2edbb9e613fcd0c1fa70f806afda82265d0c7c

[2021-04-25 21:07] #48 closed, assigned to nobody

[2021-04-25 22:12] goldmont opened #116 "dependsOn does not work on relation partial if primary field is a dropdown"
Hi there,

I have `Farm`, `Order` and `Component` models.
One `Farm` can have many `Components` and many `Orders`; one `Order` can also have `Components`.

I have the following `Order` form:
[code]

Property `farm` allows to set a `Farm` to which the `Order` belongs to.
Property `components` allows to add a `Component` to an `Order`.

The following `config_relation.yaml`
[code]

Please, note the `

[2021-04-25 22:21] goldmont commented on #116
UPDATE:

I forgot to attach the popup screenshot.

Thank you for your efforts.

![image](https://user-images.githubusercontent.com/6855692/116011426-3b127c00-a625-11eb-8515-1278e9bfce94.png)

[2021-04-25 22:35] LukeTowers commented on #106
Found the issue, pushing a fix: https://stackoverflow.com/questions/42984295/laravel-named-routes-not-working/67258851#67258851

[2021-04-25 22:38] #106 closed, assigned to nobody

[2021-04-25 22:40] #86 closed, assigned to nobody

[2021-04-26 00:17] faselunare commented on #83
hi, sorry for the delay, yes it works

[2021-04-26 07:36] Trysystems opened #117 "Datatable wrong data-field-name if field name with key, and data dont save"
Datatable widget generates wrong attribute data-field-name. In my case, I extend form with fields with keys (data[1][row], data[2][row]), and widget generates name "Report[data[1][row]]". It's because of logic on 155 string at DataTable.php file.

Temporary fix it with change string to
`$config->fieldName = $this->getParentForm()->arrayName.'['.implode('][', HtmlHelper::nameToArray($this->fieldNam

[2021-04-26 08:36] WebVPF opened #118 "Replaced plugin message"
I installed Winter 1.1.3
Then the winter.user installed the plugin:
[code]

Now on the page `/backend/system/updates` there is a message that you need to remove the rainlab.user plugin.

![2021-04-26_110034](https://user-images.githubusercontent.com/61043464/116053573-82c7f080-a683-11eb-9adf-4da6c88c1097.jpg)

I did not install the rainlab.user plugin.

[2021-04-26 08:52] bugzbrown opened #119 "Resizer does not work when wCMS is in a subdirectory"
- Winter CMS Build: 1.1.3
- PHP Version:
- Database Engine: mysql
- Plugins Installed:

### Description:
When Winter is installed as a subdirectory and you try to use resizer to resize images in your theme or component, you get a 404 because it tries to find the URL /resizer/d2...cf1/%252Fstorage%252Fapp%252....

### Steps To Reproduce:
1) install wintercms as a subdirectory of a site.
2) try to r

[2021-04-26 11:48] NixFey opened #120 "No Updates Found Migrating to Winter on Non-Composer Install"
- Winter CMS Build: October build 471
- PHP Version: 7.4.3
- Database Engine: MySQL
- Plugins Installed: RainLab.Builder 1.0.26, RainLab.GoogleAnalytics 1.3.0, PanaKour.SendGrid 1.0.0
### Description:

I'm trying to migrate my October CMS installation to Winter using the updateServer method. I've set the updateServer in the cms.php to https://api.wintercms.com/marketplace, but when I check for upd

[2021-04-26 12:57] bennothommo commented on #119
Thanks @bugzbrown. Would you be willing to put this in a PR for us?

[2021-04-26 13:01] bennothommo commented on #117
@Trysystems I believe it is set up this way because the data table was originally built for the Builder plugin (I believe?) and that's the format it used. Since it's been like this for years, it may be difficult to make any changes to the naming without breaking implementations of this data type already out there, but we'll look into it further.

[2021-04-26 15:13] LukeTowers commented on #120
@evanlihou the update file isn't yet available from the marketplace API, should be available in a week at most.

[2021-04-26 15:32] ghost opened #123 "The Winter.Pages plugin replaces RainLab.Pages, please remove RainLab.Pages to ensure there are no conflicts"
- Winter CMS Build: v1.1.3
- PHP Version: 8.0.3
- Database Engine: mysqld 8.0.24
- Plugins Installed: only Winter.Pages

### Description:

This is a fresh install without any plugin installed before. After installing with command
php artisan plugin:install Winter.Pages
Error below:
![error](https://user-images.githubusercontent.com/56940608/116109497-1f56b680-a6b5-11eb-9759-e7547921d5ee.png)

###

[2021-04-26 15:33] NixFey commented on #120
Thanks for the update @LukeTowers! If the marketplace API isn't yet distributing the new version, you might want to consider noting that in the [blog post](https://wintercms.com/blog/post/october-cms-you-know-it-dead).

I'm really excited to see where this project goes, and I'm glad to see the maintainers keeping a FOSS version alive. Keep up the good work!

[2021-04-26 15:37] #123 closed, assigned to nobody

[2021-04-26 15:38] LukeTowers commented on #118
Fixed by #122, will be available in 1.1.4; available now in the develop branch

[2021-04-26 15:38] #118 closed, assigned to nobody

[2021-04-26 15:38] LukeTowers commented on #120
@evanlihou updated the blog post, thanks!

[2021-04-26 17:46] Trysystems commented on #117
Thank you. This fix shouldn't break anything because "Report[data[1][row]]" wrong structure of field name and it can't work at all, because table.js use this name to create post data, and with wrong name data loses.

[2021-04-27 02:35] #83 closed, assigned to bennothommo

[2021-04-28 15:12] arvislacis commented on #119
@bugzbrown @bennothommo Actually this may not be the issue because situations like this are documented in https://github.com/wintercms/winter/blob/4f953107ce462e07d24d5fea35aa1d08d7e047aa/config/cms.php#L303

[2021-04-28 16:23] LukeTowers commented on #119
@bugzbrown you should be able to either add the subfolder to the path or set a linkPolicy of force and it should work. Give that a try and report back please.

[2021-04-29 07:59] w3labz opened #127 "Installer not accessible"
Just wanted to test drive the manual installer, but URL https://github.com/wintercms/web-installer/archive/refs/heads/main.zip is showing an error -Not Found

from page https://wintercms.com/docs/setup/installation#wizard-installation

[2021-04-29 08:32] josieit commented on #127
Hi, if I understood correctly the web installer will be available soon (~ next week).

You will be able to access it from https://wintercms.com/download

[2021-04-29 10:22] w3labz commented on #127
Ideally bug shall be closed once its fixed.
But its your space you can do anything. Or you shall remove the link from this page https://wintercms.com/docs/setup/installation#wizard-installation

1. Prepare a directory on your server that is empty. It can be a sub-directory, domain root or a sub-domain.
2. **[Download the installer archive file.*](https://wintercms.com/download)*
3. Unpack the inst

[2021-04-29 15:48] LukeTowers commented on #127
I prefer we leave this issue open until it's resolved @mjauvin, lots of people are asking

[2021-04-29 21:23] GinoPane opened #132 "Website issue"
Hi guys!

Is everything ok with the website?

![image](https://user-images.githubusercontent.com/3897579/116620207-319d5280-a94a-11eb-80f3-48cdacb41745.png)

Also the discord link seems to be broken:

![image](https://user-images.githubusercontent.com/3897579/116620290-4d085d80-a94a-11eb-9ff6-2705e3de3302.png)

[2021-04-29 21:27] LukeTowers commented on #132
@GinoPane thanks for the report, pushed a bug fix earlier today but it looks like the cache clear never ran so I ran it manually and it's fine now. Discord link seems fine to me, what link are you using? https://discord.com/invite/D5MFSPH6Ux is the correct one.

[2021-04-29 21:30] GinoPane commented on #132
I used the one from the website and also from the github issue template.

[2021-04-29 21:30] GinoPane commented on #132
@LukeTowers yours does not work for me either:

![image](https://user-images.githubusercontent.com/3897579/116621036-46c6b100-a94b-11eb-8680-c1808df641b1.png)

[2021-04-29 21:31] LukeTowers commented on #132
What is your user name?

[2021-04-29 21:34] GinoPane commented on #132
@LukeTowers ah, sorry, nevermind. The issue was with Discord itself. It invalidated my login for whatever reason and forced me to change my password this way. Once it's done, I was able to accept the invite.

[2021-04-29 21:34] #132 closed, assigned to nobody

[2021-04-30 05:45] helmutkaufmann opened #133 "Image Resizer - Resizing fails for images with a file name extension not all in lowercase"
- Winter CMS Build: 1.1.3
- PHP Version: 7.4

### Description:

When resizing an image, modules/system/classes/ImageResizer.php tests if the file to be resized has en image extension, such as jpg. The function fails if the image's extension is not all lowercase (eg JPG or Jpg). Extension should be converted to all lowercase before testing.

### Steps To Reproduce:
Name a file xyzzy.JPG and send it

[2021-04-30 06:08] tschallacka commented on #133
Oh yes, this annoyed the hell out of me for years, when trying to upload a windows snip, as thats saved in uppercase filename. Wholehartedly agree.

[2021-04-30 09:07] helmutkaufmann commented on #133
Changed code. PR done - I hope I did it correctly, not a git person.

[2021-04-30 09:27] arvislacis commented on #133
@helmutkaufmann [PR and fix](https://github.com/wintercms/winter/pull/135) looks good to me. :)

[2021-05-02 03:03] #133 closed, assigned to nobody

[2021-05-03 07:54] arvislacis commented on #117
Some backtracking information (may be useful for someone to make PR or test things) - mentioned code part which may contain problem for this issue was introduced in https://github.com/wintercms/winter/commit/970d5622c0deeaeef38c618b42d43b82499fd7f2 as a fix for https://github.com/octobercms/october/issues/4063

[2021-05-03 09:06] arvislacis commented on #117
In `fields.yaml`:

[code]

![2021-05-03_11-58](https://user-images.githubusercontent.com/626982/116858308-d8157c00-ac06-11eb-8aa3-2f9be290aa6d.png)

^ I made this just for testing purposes and works fine for me. I understand that this is not the format issue author is using but may I ask @Trysystems why you use so specific keys like `data[1][row]` and `data[2][row]` ? Can't you reduce that to simi

[2021-05-03 16:26] Sameto commented on #127
Thanks for prioritising this. Shared hosting can be a pain without it.

[2021-05-05 04:47] Trysystems commented on #117
[code]
This will give you data-field-name="Model[content[table]]" attribute now. And js script cant push to server correct data, so you'll receive model[content] empty array.

[2021-05-05 05:34] arvislacis commented on #117
@Trysystems True but why can't you simply use `content` or `table` as the field name of datable field so you could avoid using nested name in the first place?

In my opinion field name is a field name, that's the reason why it's treated like single value. I also couldn't find any references to your mentioned cases for any other form field in https://wintercms.com/docs/backend/forms

Also make sure

[2021-05-06 02:17] bennothommo commented on #117
@Trysystems we have examples of the data table working in the [Test plugin](https://github.com/wintercms/wn-test-plugin) without these changes. Are you able to demonstrate in a PR to the Test plugin an implementation that does result in data loss?

[2021-05-06 03:34] bennothommo commented on #116
@goldmont I've added a commit to the Test plugin (https://github.com/wintercms/wn-test-plugin/commit/bc275b93c947bc66e4cbdf181e531ffba3fa773a) that demonstrates that partials do refresh in a `dependsOn` context. What I imagine is happening here is that the RelationController, which handles relations, is retrieving the model pre-modification (before any of your field changes are applied) and is usi

[2021-05-06 03:34] #116 closed, assigned to nobody

[2021-05-06 04:11] alekseyp opened #153 "Possibility to include partials outside of the theme"
I'm currently running an older version that allows including files outside of the theme, but going over newer commits I see that it was patched as a security bug that stops you from going outside your theme to find files.

Usually I would have one theme that is common and than all my other themes would load partials from it
Which could include forms, content, or simple html elements that are exact

[2021-05-06 06:29] arvislacis commented on #153
If you are using almost the same elements for ~20 websites then maybe it's better to group them under your own plugin which could have it's own partials and components..., then maybe also the maintenance process could be easier for you, for example, you make changes in plugin file and then could deliver changes to all websites via plugin update. But that's just an idea...

[2021-05-06 07:44] bennothommo commented on #153
@arvislacis is correct - the best form of re-usability is through plugins. We want to encourage safe theme editing and security so I feel it best that we don't have a way to disable the sandboxing of themes when there's readily available functionality better suited to your use case.

[2021-05-06 12:59] LukeTowers commented on #153
@bennothommo I asked for this issue to be opened, there were some ideas for this that I wanted to try but Sam was never interested in.

[2021-05-06 13:37] bennothommo commented on #153
@LukeTowers ah fair enough. What were the ideas?

[2021-05-06 13:39] LukeTowers commented on #153
Mostly centred around using path resolving to ensures that the files existed in the themes directory, could also have it locked behind a config option like restrictBaseDir

[2021-05-06 22:40] tschallacka commented on #153
How about an dependency model. When a theme lists other themes as a dependency, it can read from those theme dirs, but gains no access to other themes.

That way you keep sandboxing, whilst still hemming the possible scans of installed materials.

[2021-05-07 02:32] bennothommo opened #158 "Needs more hot sauce"
As the title says.

[2021-05-07 02:32] #158 closed

[2021-05-07 12:23] mjauvin commented on #153
@tschallacka what difference does it make if the theme can list any theme as a dependency?

[2021-05-08 08:15] amjadniazi48 opened #160 "Problems running latest code with PHP 7.0 / Laravel 5.5"
After migrating my project to wintercms from octobercms I am facing these problems with composer update command
I am using xampp  with PHP 7.4

 ` Problem 1
    - Root composer.json requires winter/storm dev-develop as 1.1.999 -> satisfiable by winter/storm[dev-develop].
    - winter/storm dev-develop requires php >=7.2.9 -> your php version (7.0; overridden via config.platform, actual: 7.4.13) do

[2021-05-08 08:32] rubenvanerk commented on #160
Seems like you set [`config.platform`](https://getcomposer.org/doc/06-config.md#platform) in your composer.json to 7.0. That setting overrides the version you're using (7.4).
Either change this value to 7.4 or remove it. Then it should work.

[2021-05-08 08:38] amjadniazi48 commented on #160
Its not working i think the problem is with laravel version because I m using laravel version 5.5, now i m getting these problem after changing the value to 7.4

Problem 1
    - Root composer.json requires winter/storm dev-develop as 1.1.999 -> satisfiable by winter/storm[dev-develop].
    - winter/storm dev-develop requires laravel/framework ~6.0 -> found laravel/framework[v6.0.0, ..., 6.x-dev] b

[2021-05-08 08:47] rubenvanerk commented on #160
That seems to be the issue. You should upgrade Laravel to 6. Check out the upgrade notes on how to do that: https://github.com/wintercms/meta/blob/master/l6-upgrade-notes.md

[2021-05-08 20:22] tschallacka commented on #153
@mjauvin Nobody would download a theme that's dependent on all the other themes, I would hope.. And this way you can sandbox, whilst still giving some flexibility.

[2021-05-09 03:05] #160 closed, assigned to nobody

[2021-05-10 02:13] bennothommo commented on #153
I'm happy with a theme being able to access its own files and any files that it is dependent on (similar to a child theme), and that's it. I wouldn't want a theme to access files in another theme that has no bearing on it, nor access any files outside of the themes directory.

[2021-05-10 06:08] alekseyp commented on #153
As another security precaution, maybe we can add a flag to a theme that makes it "extendable"?

So only themes with that flag can we included by other themes?

[2021-05-10 06:11] tschallacka commented on #153
@alekseyp i would rather go with a "final" flag, that the default is extendable, in the spirit of open source projects building on top of eachother.

[2021-05-13 06:58] GinoPane opened #170 "Plugin migrations issue via composer"
There's a strange issue when installing a plugin via composer.

Here's the reference: https://github.com/GinoPane/wn-blogtaxonomy-plugin/issues/2

When the plugin is installed via composer, we see that migrations are running (at least they are shown in the console), but when you try to use the plugin after that, you see that some tables were not created.

But, if you run `php artisan plugin:refres

[2021-05-13 07:05] josephcrowell commented on #170
Did you use the replaces property on the plugin? If so, it doesn't run version migrations for earlier versions on the plugin that is replaced. Hope you understand what I mean.

[2021-05-13 07:32] bennothommo commented on #170
@GinoPane is this on a fresh install, or on a project converted to Winter CMS?

[2021-05-13 07:32] GinoPane commented on #170
@josephcrowell
Nope I didn't. Basically it is a fresh install.

@bennothommo
It was for a fresh project. You can install a fresh dev copy of Winter CMS, install the plugin via composer and see the issue.
And "artisan refresh" will solve it.

[2021-05-13 07:34] bennothommo commented on #170
@GinoPane thanks. Giving it a try now.

[2021-05-13 07:42] bennothommo commented on #170
@GinoPane can't seem to replicate it, unfortunately. I was able to access the Blog area just fine after installing the Taxonomy plugin through Composer:

![image](https://user-images.githubusercontent.com/15900351/118094691-a324d880-b401-11eb-8c5a-ad50c2a56244.png)

Might need some more information on the steps taken that ended up exhibiting the issue.

EDIT: I tested with Winter CMS 1.1.3 - did y

[2021-05-13 09:34] GinoPane commented on #170
Ah, I probably understood the issue...

Split of two projects added some uncertainties.

So, when installing plugins via composer, migrations are **not** actually installed in Winter CMS. But, migrations are running when you log in into the backend.

So to reproduce this you need to be logged in already. When you are logged in and you install a plugin in background through composer, you'll get an

[2021-05-13 09:36] GinoPane commented on #170
Maybe it is worth adding an post-install action for a plugin though...

[2021-05-13 10:33] mjauvin commented on #170
@GinoPane you must run `artisan winter:up` after installing a plugin via composer.

[2021-05-13 22:47] multiwebinc opened #173 "Migrating from OctoberCMS fails the first time"
- Winter CMS Build: "modified version of 1.1.3"
- PHP Version: 7.4.3
- Database Engine: sqlite

I had October 1.0.472 installed, and followed the instructions for converting to WinterCMS in the FAQ, however, I had to run `composer update` twice. It failed the first time:

[code]

Then the second time I ran it, it worked correctly:

[code]

[2021-05-14 04:01] bennothommo commented on #173
@multiwebinc could be some `composer-merge-plugin` wonkiness - I've seen some reports of the merge plugin needing two `composer update` runs to get everything in sync.

It sounds to me like it dropped the October dependencies after installing the Winter dependencies, which would've resulted in the `modules` folder being emptied because both October and Winter use that folder.

I'm not sure if ther

[2021-05-14 04:09] multiwebinc commented on #173
That would make sense.

[2021-05-14 04:30] bennothommo commented on #170
@GinoPane we don't run migrations automatically with Composer, as there's no guarantee that the database is available at that time (mostly in the case of new projects when the configuration hasn't been updated yet). It is up to the developer to run the migrations through `winter:up` whenever installing a plugin through Composer, as @mjauvin said.

I'll close this for now, but let us know if we nee

[2021-05-14 04:30] #170 closed, assigned to nobody

[2021-05-15 08:53] helmutkaufmann opened #177 "resize - Cached resized image provided even if it the original changed"
- Winter CMS Build: 1.1.3
- PHP Version: 8 (and 7.4)
- Database Engine: sqlite
- Plugins Installed:

### Description:

When an image that has been resized using Winter's built-in resize Twig function, is replaced, the resize does not identify that and provides the resized version of the ORIGINAL image instead of the NEW image - probably as the modification date of the replaced image is not checked

[2021-05-15 11:57] bennothommo commented on #173
I've [updated our migration guide](https://github.com/wintercms/winter/issues/5#issuecomment-797607263) to make note of this issue and how to fix it if anyone else encounters it during a migration. Cheers for the report, @multiwebinc.

[2021-05-15 11:57] #173 closed, assigned to nobody

[2021-05-15 17:57] LukeTowers commented on #177
@helmutkaufmann can you give https://github.com/wintercms/winter/pull/178 a try and let me know your thoughts?

[2021-05-16 05:04] helmutkaufmann commented on #177
Elegant solution, I have to admit. The PR works as I would have expected it. The only drawback I see is that this solution will result in a number of "orphaned resized" images but we will have those anyway when we remove images that have been resized.

[2021-05-16 15:15] LukeTowers commented on #177
@helmutkaufmann do you have any ideas for a console command that could automatically identify orphaned resized images and delete them?

[2021-05-16 15:16] LukeTowers commented on #177
Only things that comes to my mind is just a command that purges all resized images to force a global reset.

[2021-05-17 15:40] helmutkaufmann commented on #177
One could actually write a command that goes through the resized directory, extract the original file names and check if the originals still exist. An remove the resized ones if not.

[2021-05-17 17:37] LukeTowers commented on #177
I'd be willing to see an attempt be made for that, but I don't think the resized image name is reversable tbh, at least part of it consists of a one way hash of the configuration.

[2021-05-18 05:14] helmutkaufmann commented on #177
Looking at ImageResize.php, the configuration should be available in the cache. However, if I read the Laravel documentation correctly, there is no way to iterate over all cached items (or all items with a select prefix). In that case we might indeed be out of luck.

[2021-05-18 05:35] helmutkaufmann commented on #177
The information of the source images would at least be in the cache. To make use of this, one would have to iterate over all the cached items with the CACHE_PREFIX prefix and check the. I don't think one can iterate over all cache items and even if we could, the information would be lost upon cache:clear.

[2021-05-18 05:48] helmutkaufmann commented on #177
Looking at https://github.com/wintercms/winter/pull/178, a way of achieving this would be to include the identifier of the Cache item (which is, eg "system.resizer.48005fd9c28f24997e3fffb92c1a88f3ddccd0be") in the filename of the resize image. With hat it would be possible to get back to the originals. And it would also allow to implement a command that not only removes orphaned images but also th

[2021-05-19 20:52] LukeTowers commented on #177
Image resizer config data does not stay in the cache after the image has been resized, see https://github.com/wintercms/winter/blob/develop/modules/system/classes/ImageResizer.php#L733-L734

[2021-05-20 10:40] zlobec commented on #120
@LukeTowers Is there any information about when the marketplace API will be available?

[2021-05-20 15:39] LukeTowers commented on #120
@zlobec @bennothommo is currently working on the API for the core updates, hopefully soon. This month has been extremely busy for me as we just bought our first house so I've been running around like a chicken with its head cut off trying to deal with everything that entails and move.

[2021-05-20 16:53] zlobec commented on #120
No worries ... I'm too in the middle of a move... and yeah... Keep up the good work.

[2021-05-21 02:19] bennothommo commented on #120
We've all hit our roadblocks at the same time - mine is a grizzly newborn, hence why progress has been slow. I'm still slowly chipping away at the core updates - once that's done, the installer should be out shortly afterwards. I can't commit to a timeframe yet though, so I can only say "soon" as @LukeTowers said.

[2021-05-22 10:45] ahangarha commented on #5
Would this project move to some Copy Left license? Otherwise projects like October can exploit WinterCMS and benefit one-sided from community contribution to WinterCMS in their project.

[2021-05-22 10:47] ahangarha commented on #5
I am willing to contribute for **Backend skin based on Tailwind UI**. Please let me know where to start and what to keep in mind.

[2021-05-22 14:59] bennothommo commented on #5
This project was founded on the MIT license and strong open-source principles, so I don't see the license changing anytime soon. Thanks for the suggestion though.

We do have a Tailwind UI skin for the Backend in the roadmap. When we have more info, we'll post it up, along with any instructions for people who wish to contribute.

[2021-05-25 06:47] tobias-kuendig opened #189 "Remain backwards compatible with `X-OCTOBER-REQUEST-HANDLER`"
We just got this PR:
https://github.com/OFFLINE-GmbH/oc-mall-plugin/pull/764/files

I feel like it would be a better solution to keep Winter backwards compatible (look for the "old" and "new" headers) instead of updating all of the plugins that access this header directly.

What are your thoughts on that?

[2021-05-25 07:05] bennothommo commented on #189
@tobias-kuendig yeah, this has been brought up in the Discord. The issue isn't your plugin, it's that we *send* an `X-WINTER-REQUEST-HANDLER` instead of an `X-OCTOBER-REQUEST-HANDLER`.

We can send both, I suppose, but we're trying to avoid the association and infringing on October's trademarks. The intention of those headers were to be "system" headers that weren't used directly by functionality.

[2021-05-25 07:05] #189 closed, assigned to nobody

[2021-05-26 12:35] izdrail commented on #5
I'm glad that somebody is taking this and still keep's it open source.
So I guess If I pull down my projects and replace all the octobercms entries from composer with winter cms ones
I should be ok with using it.
Stupid question I've just read the article on the website and I should be ok.
My only concern is the way you are approaching the composer from what I'm seeing I need to use the dev branch

[2021-05-26 20:31] LukeTowers commented on #5
@lzomedia you don't have to use the dev branch, but personally I recommend doing so. I run the dev branch on all my sites in production. At the very least I'd recommend using it until 1.1.4 is out because there was a minor annoying bug that was fixed in 1.1.4

[2021-05-29 05:57] helmutkaufmann commented on #177
Still think we should implement this change.

[2021-05-29 06:07] helmutkaufmann opened #194 "Event not listened to: system.resizer.getAvailableSources"
- Winter CMS Build: dev-develop 0a729ee
- PHP Version: 7.4 or 8, both don't work
- Database Engine: sqlite
- Plugins Installed: none / one, see below

### Description:
Adding the following event handler to boot() of a plugin causes the plugin to not load anymore
[code]

See also related Discord trail with @mjauvin: https://discord.com/channels/816852513684193281/821159568763125800/8479116329400402

[2021-05-29 06:18] LukeTowers commented on #194
Did you set your plugin to elevated access? The image resizer is a protected route, along with the asset combiner.

[2021-05-29 06:19] LukeTowers commented on #177
@helmutkaufmann it's still planned, just need a command to clear out the resized images directory.

[2021-05-29 06:21] helmutkaufmann commented on #194
Found it - after a day:
[code]
The type cast (array) causes this. Replacing it by
[code]
makes it work just fine. Perhaps worth changing the documentation in the source code at one time.

[2021-05-29 06:21] #194 closed, assigned to nobody

[2021-05-29 07:46] LukeTowers commented on #194
What's the specific error that you're getting? The type casts in the docs are usually more for your own reference than a recommended inclusion, but I'm curious to know why it failed.

[2021-05-31 08:27] hirisov opened #195 "Two levels backend navigation on custom main menus"
Hello,

we would like to use the two levels (accordion) hierarchy for backend navigation in our custom backend menus, just like it is in the Settings menu. At https://wintercms.com/docs/plugin/registration#navigation-menus we see how to register a custom main menu item ("blog"), and  and the submenus ("posts", "categories"), but this is only one level navigation inside a main menu.
Considering in

[2021-05-31 09:01] #195 closed, assigned to nobody

[2021-06-01 16:55] LukeTowers opened #199 "Improve UX for filtered list views"
This has probably been reported before, but it would be nice if we could make list views that have been filtered (whether through filter scopes or searches) more obvious to end users, something like a "You are viewing a filtered set of results. **Clear filters**" and or in the pagination "1 of 5 filtered results, 4000 total".

[2021-06-02 09:19] helmutkaufmann commented on #177
You mean an artisan command clearing out ALL resized images? That I could write.

[2021-06-02 09:26] LukeTowers commented on #177
@helmutkaufmann yes, probably under the winter:util command, something like `winter:util purge resized`

[2021-06-02 15:57] izdrail commented on #5
the thing is I'm having to sell this product to enterprise lvl and I cannot say to them we will be using dev branches.
Me as a dev , love the project, enterprise lvl I can't recomand this ( sorry ).
I've been watching this project  (october ) from 2016, been involved in the slack community. Still My question are ? is @daftspunk  still be on the team ? If yes @daftspunk why u are still dooing upgra

[2021-06-02 17:42] LukeTowers commented on #5
@daftspunk is not involved with Winter in any way.

[2021-06-07 22:01] RomainMazB opened #200 "Improve scaffolding commands"
All of us would agree that the scaffolding command is a great things in WinterCMS as it is into Laravel.

I've build many plugins this last weeks and used them widely, so I wanted to give my feedback on what could and should be improved from a "plugin-creator" point of view.

Also I'd like to get some other "plugin-creators" feedback here on how the features should be implemented
_______
### Trans

[2021-06-08 04:54] bennothommo commented on #200
@RomainMazB I'll convert this to a discussion in the Discussions tab. :)

[2021-06-08 04:54] #200 closed, assigned to nobody

[2021-06-09 09:04] TrenchTown commented on #127
When to expect the installer approximately ?

[2021-06-09 09:12] bennothommo commented on #127
@TrenchTown I don't want to commit to a date yet, but we have made substantial progress on the inner workings of the Installer and are nearly close to completion. Just a little longer :)

[2021-06-17 09:18] tospe opened #207 "method_exists(): Argument #1 ($object_or_class) must be of type object|string, null given"
- Winter CMS Build: ### 1.1.3
- PHP Version: 8.0.7
- Database Engine: mysql
- Plugins Installed: Arcane.Seo (https://github.com/quangtrongonline/Arcane-SEO), Winter.Blog

### Description:

When visiting a blogpost page with Seo component this error appears.
![Screenshot 2021-06-17 at 09 58 30](https://user-images.githubusercontent.com/49151314/122365620-bb34ce00-cf52-11eb-8146-3861f6d29ce4.png)
Af

[2021-06-17 09:36] bennothommo commented on #207
@tospe We will look into this, however, in PHP 7.2-7.4, `null` would pass that condition and would go to the `BadMethodCallException` below, so it seems that the component itself might have an issue.

[2021-06-17 09:40] LukeTowers commented on #207
Code change would probably be `if ($this->controller && method_exists($this->controller, $method)) {`

[2021-06-17 10:11] tospe commented on #207
Thank you for the fast response.

As said in in [method_exists() is too strict in PHP 8](https://bugs.php.net/bug.php?id=79623) method_exists(), in php 8, only accepts an object|string as 1st argument.

I checked the component the error happens in
`if (! $this->page['viewBag']) $this->page['viewBag'] = "new ViewBag";`

[2021-06-17 13:14] bennothommo commented on #207
@tospe

I understand, but what I mean is that the fact that `$this->controller` is `null` at all would indicate an issue with the component.

[2021-06-17 14:44] tospe commented on #207
@bennothommo

You are right. I found the issue, viewBag wasn't being called correctly.

Thank you for you help.

[2021-06-17 14:49] bennothommo commented on #207
@tospe I'll leave this open, as we'll need to audit our `method_exists` usage and see if this new behaviour by PHP 8 will catch us out anywhere.

[2021-06-20 19:49] arvislacis commented on #127
@bennothommo As Web installer has been released then this may be closed.

[2021-06-20 20:12] arvislacis commented on #119
In my opinion this may be closed or at least "bug" label should be replaced with something else if there are plans to improve this in future. Currently this can be fixed by adjusting config file.

[2021-06-21 02:03] bennothommo commented on #127
Thanks for the reminder @arvislacis.

If anyone comes across this issue when looking for the Web installer, please see this post for more info: https://wintercms.com/blog/post/web-installer-now-available.

[2021-06-21 02:03] #127 closed, assigned to bennothommo

[2021-06-21 02:52] #119 closed, assigned to nobody

[2021-06-28 05:12] graphixela commented on #120
Congrats on the move and the baby but am I missing something? It still says no updates...

[2021-06-28 18:38] LukeTowers commented on #120
@graphixela nope, not missing anything. Priority for me this week is getting 1.1.4 out and then I can pick up work on the update delivery system through the marketplace again.

[2021-06-28 18:50] graphixela commented on #120
Okay, thanks. It's marked as closed. A bit confusing.

[2021-06-28 18:58] NixFey commented on #120
I closed this issue because my original question was answered, but maybe it should stay open until the API is actually implemented? @LukeTowers / @bennothommo is there another ticket that this is a duplicate of? If not feel free to open this back up and use for updates.

[2021-06-29 22:05] tospe opened #218 "Can't upload Images to Winter.Blog plugin."
- Winter CMS Build: 1.1.3
- PHP Version: 7.3.26
- Plugins Installed: Winter.Blog-v2.0

### Description:
When trying to upload an image to a blog post nothing happens.

### Steps To Reproduce:
- create a wintercms installation,
- add the winter.blog plugin
- create a new post and try to upload an image (without using the media manager)
- when clicking in "Click or Drop an image..", nothing happens

[2021-06-30 00:55] #218 closed, assigned to nobody

[2021-06-30 00:57] tospe commented on #218
Replaced by wintercms/wn-blog-plugin#18

[2021-06-30 07:10] Kuse-GmbH opened #220 "fallback_locale will be ignored"
- Winter CMS Build: 1.1.3
- PHP Version: 7.3, 7.4. 8.0
- Database Engine: mariaDB 10.4.20
- Plugins Installed: -

### Description:
'fallback_locale' => 'en' will  be ignored in backend mainmenu

I use 'locale' => 'de' in my installation and a plugin gromit.sentmails (there is only one plugin without german translation installed) and in mainmenu there is the translation string:

![Bildschirmfoto_20

[2021-06-30 12:37] mjauvin commented on #220
I can't reproduce this, fallback_locale works fine for me.

[2021-06-30 12:46] xitara commented on #220
ok. I will test it on a clean new installation with only this plugin tomorrow and I'll give feedback
thanks

ops. I posted with a different account before. sorry for this.

[2021-06-30 12:51] mjauvin commented on #220
Just to clarify, I tried to reproduce with 'locale' => 'fr' and 'fallback_locale => 'en' with a plugin of mine with missing FR strings localizations and the EN version was used (as a fallback).

[2021-06-30 12:55] mjauvin commented on #220
Just tried with `gromit.sentmails` and was able to reproduce... I'll report what I find in a few minutes.

[2021-06-30 13:00] mjauvin commented on #220
Ok, I found the problem: the plugin is using RainLab.Translate instead of Laravel for its localization...
i.e.
[code]

[2021-06-30 13:03] #220 closed, assigned to nobody

[2021-06-30 13:19] mjauvin commented on #220
Note: the plugin should be using this instead:
[code]

ALL INSTANCES should be replaced in Plugin.php for this to work (everywhere `__()` is used)

[2021-06-30 13:31] xitara commented on #220
I want to migrate this plugin with some new features to winterCMS. Then I replace the translations, too

[2021-06-30 13:50] mjauvin commented on #220
Is it one of your plugins?

[2021-06-30 14:03] mjauvin commented on #220
I submitted a PR to address the issues:

https://github.com/gromitsoft/oc-sentmails-plugin/pull/2

[2021-07-04 09:17] arvislacis opened #229 "Back-end navigation menu throws exception when menu order value is empty in plugin.yaml"
- Winter CMS Build: dc0d6aa (currently latest dev)
- PHP Version: 8.04
- Database Engine: [not related]
- Plugins Installed: [not related]

### Description:

`order: ''` in `plugin.yaml` for navigation menu items cause Exception and almost all back-end is inaccessible until `plugin.yaml` is manually edited.

Exception:

![2021-07-04_11-36](https://user-images.githubusercontent.com/626982/124379503

[2021-07-05 14:18] #229 closed, assigned to nobody

[2021-07-06 01:53] Trysystems commented on #117
Still actual. The example was provided as PR to Test plugin.

[2021-07-06 02:23] LukeTowers commented on #117
@Trysystems could you link the PR here?

[2021-07-06 02:30] Trysystems commented on #117
https://github.com/wintercms/wn-test-plugin/pull/5

[2021-07-08 09:37] bennothommo opened #232 "Add support for trusted proxies"
Laravel 6 has support for trusted proxies (https://laravel.com/docs/6.x/requests#configuring-trusted-proxies) which allows certain setups (such as AWS Elastic Load Balancing, Heroku, Gitpod) where TLS/SSL communications are terminated at the entrypoint to still use HTTPS links even though the actual PHP is not output in a TLS/SSL request.

We currently do not have a similar capacity in Winter CMS,

[2021-07-08 10:08] matteotrubini commented on #232
This should be also applicable to Cloudflare's flexible SSL setup, right?

[2021-07-08 10:11] bennothommo commented on #232
@matteotrubini yep, should likely be able to resolve that too.

[2021-07-08 16:54] LukeTowers commented on #232
Sounds good to me

[2021-07-10 21:44] envas opened #234 "Unable to migrate OctoberCMS on Postgres database"
- Winter CMS Build: 1.1.3 (currently latest)
- PHP Version:   7.3.18
- Database Engine: PostgreSQL server version 11.6

### Description:
I performed the migration from OctoberCMS build 472 using `composer update`. On the development system with MySQL everything was ok. On the stage system with Posgres database the upgrade process was ok (no errors), however, I cannot open any page. The exception I

[2021-07-10 22:11] envas commented on #234
A note to the error - it occurs whenever blog entries are listed. So it looks like a bug related to the RainLab.Blog plugin.  Anyway, it occurs while accessing the `system_files` table, which belongs IMO to the Winter core.

[2021-07-10 22:24] envas commented on #234
Looks like a duplicate of [wn-blog-plugin issue](https://github.com/wintercms/wn-blog-plugin/issues/16)

[2021-07-12 09:20] LukeTowers commented on #232
@bennothommo can you do up a PR for the config file as well?

[2021-07-13 05:27] bennothommo commented on #232
@LukeTowers done :)

[2021-07-15 13:32] avanns opened #236 "PHPUnit tests failing"
**Summary**
Moving from October to Winter using composer.
138 out of 154 PHPUnit tests failing, all around Pivot.php:

ArgumentCountError: Too few arguments to function Winter\Storm\Database\Pivot::__construct(), 0 passed in /var/www/html/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasEvents.php on line 351 and at least 3 expected

/var/www/html/vendor/winter/storm/src/Datab

[2021-07-15 13:34] mjauvin commented on #236
Try copying the tests folder from the github repo

[2021-07-15 14:10] avanns commented on #236
That's solved it, thanks so much for the quick reply!

[2021-07-15 14:10] #236 closed, assigned to nobody

[2021-07-15 18:20] RomainMazB commented on #234
Hi @envas,
Yes, I can confirm this issue is a duplicate of https://github.com/wintercms/wn-blog-plugin/issues/16 .
As said in the other thread, I fixed it in the past but somebody mentioned a side effects.

You can confirm this issue is related by disabling the eager loading of featured images into the Posts component. This will be properly fixed soon.

This line is causing the trouble: https://gi

[2021-07-15 19:14] RomainMazB commented on #29
Ping @ericp-mrel, maybe you'd like to reopen the PR you've made on OC to fix this?

[2021-07-15 19:59] ericp-mrel commented on #29
Yeah, I can re-create a PR since OctoberCMS rejected my changes.

[2021-07-15 20:46] ericp-mrel commented on #29
PRs have been created. Let me know if there's anything I need to do or could improve in the PRs.

[2021-07-17 07:37] RomainMazB commented on #199
Wouldn't it be nice that additionally to the "clear all filters", a list of selected filters is displayed similarly to the `TagList` widget allowing the user to unselect just one or another:
[code]
For sure this adds extra work but I feel like just adding the clear all filters button is just like doing the half of the work.

EDIT: That said, we can already unselect filters individually through the

[2021-07-18 06:35] RomainMazB commented on #153
Laravel community and his leader dislike the final keyword and what it does.
_Réf https://twitter.com/taylorotwell/status/1237053249703854080?s=20_

I'm not sure how this protection should be handled and if it should be.
My thought on that would be to keep this features as a child-theme-like, allowing to extend a theme from one and only one other theme to keep it simple and to not allow to create

[2021-07-19 17:15] jaxwilko opened #243 "Issue with plugin replacementMap not being cleared"
Issue raised by [@Tony-S](https://github.com/Tony-S).

I've just done a brand new install of Winter using composer. I've added various plugins using e.g. php artisan plugin:install Winter.User
In the backend I get the following warning:
[code]
I have not installed the Rainlab versions. They don't appear in the list of plugins or in the manage plugins page and they don't show as files in the plugin

[2021-07-19 17:20] mjauvin commented on #243
This problem is resolved in develop branch of winter.
Release 1.1.4 will contain this fix.

[2021-07-19 20:14] RomainMazB commented on #15
I am able to reproduce it into the test plugin following the original author guidelines.

I found that when disabled/hidden from the model using `listFields` methods, the relation widgets (tested on recordfinder  and basic relation widget) get the wrong `formField` config in `getSaveValue` which probably cause this issue:
- inside `getSaveValue`: `->formField->hidden` (or disabled) are always fals

[2021-07-20 06:14] bennothommo commented on #234
Duplicate of https://github.com/wintercms/wn-blog-plugin/issues/16.

Will be fixed by https://github.com/wintercms/winter/pull/216 when it's merged.

[2021-07-20 06:14] #234 closed, assigned to nobody

[2021-07-20 07:31] #243 closed, assigned to nobody

[2021-07-22 02:01] ideepblue opened #249 "App::make($key, $parameters) cannot resolve driver binding correctly"
- Winter CMS Build: v1.1.3
- PHP Version: 7.3
- Database Engine: MySql 8.0.21

### Description:

I installed a package [`elfsundae/laravel-hashid`](https://github.com/ElfSundae/laravel-hashid) via `composer require elfsundae/laravel-hashid`. And publish the config file via `php artisan vendor:publish --tag=hashid`. I still use the default config file.

However, when I use tinker to test this hashi

[2021-07-22 02:24] #31 closed, assigned to nobody

[2021-07-22 02:30] bennothommo commented on #249
@ideepblue by default, Winter CMS does not auto-discover Laravel packages, to allow plugins to control whether Laravel packages are loaded or not depending on whether the plugin is installed or not.

You can enable package autodiscovery by changing the `loadDiscoveredPackages` value in `config/app.php` to `true`. Alternatively, if you know that you want this package to be always enabled for your p

[2021-07-22 02:52] ideepblue commented on #249
@bennothommo I have already enabled the `loadDiscoveredPackages` to `true`. I can confirm this package's ServiceProvider has been called when booting up the Winter CMS. That's why I have attached a screenshot showing the driver has been bind into the container protected variable `$bindings`.

Please have a look at the screenshot below.

![image](https://user-images.githubusercontent.com/462170/126

[2021-07-22 02:56] bennothommo commented on #249
@ideepblue My apologies - you are right. We will look into this a bit further.

[2021-07-22 02:59] ideepblue commented on #249
Thanks @bennothommo , let me know if you need more information from me.

[2021-07-22 17:22] RomainMazB opened #252 "Missing alias for Resizer class"
Originally raised by @DamsFX on Discord, the namespace for the Resizer class changed in October.

To keep compatibility with some important plugin (offline/responsive-images as an example), we may need to introduce an alias.

Related to https://github.com/OFFLINE-GmbH/oc-responsive-images-plugin/issues/78

A diffchecker between the new oc's file and the actual Winter's one.
https://www.diffchecker

[2021-07-22 18:07] LukeTowers commented on #252
Not interested in doing this. That would be attempting to remain compatible with 2.0 which is an eternally moving goal post that's not worth it. If the plugin author doesn't want to support winter we can either fork the plugin or evaluate it for inclusion in the core, but I'm not liking the idea of changing the core to improve compatibility with one October plugin.

[2021-07-22 18:16] RomainMazB commented on #252
That's fair and I'm not surprised by the answer: We should move on our way 👍🏼

[2021-07-22 20:28] #252 closed, assigned to nobody

[2021-07-29 07:25] #232 closed, assigned to bennothommo

[2021-07-29 07:51] softbia opened #260 "WSL: winter/wn-system-module is locked to version v1.1.3 and an update of this package was not requested"
- Winter CMS Build:1.1.3
- PHP Version: 7.4.3
- Composer Version: 2.1.5
- Ubuntu 20.04.2 LTS (on WSL2)

### Description:

When I'm trying to install WinterCMS 1.1.3 using composer, on a fresh install of Ubuntu on WSL2, I get 3 stated problems. Don't know how to solve those.

Full log:
[code]

Distro description:
[code]

### Steps To Reproduce:

1. Fresh install of Ubuntu WSL2 on Windows
2. Followe

[2021-07-29 15:16] bennothommo commented on #260
@softbia Does it work if you run another `composer update`, or do the same problems appear?

[2021-07-29 15:45] LukeTowers commented on #260
This is a known issue that will be fixed in 1.1.4, you can use dev-develop for now. Update hopefully out tomorrow.

[2021-07-29 16:07] #260 closed, assigned to nobody

[2021-07-30 01:51] bennothommo opened #261 "Test Bug Report Form"
### Winter CMS Build

dev-develop

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Blog, Winter.Pages

### Issue description

This is an issue description.

[code]

And an attachment:

![image](https://user-images.githubusercontent.com/15900351/127587802-f3a60ffc-ff19-4c9f-9aeb-28953e7b64cd.png)

### Steps to replicate

1. Step one
2. Step two
3. Step three

[2021-07-30 01:51] #261 closed

[2021-07-30 02:21] bennothommo opened #262 "Another test"
### Winter CMS Build

dev-develop

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Blog, Winter.Pages

### Issue description

Issue description in more detail.

### Steps to replicate

- Step 1
- Step 2
- Step 3

### Frequency

Most of the time

### Workaround

This is the details of a workaround.

### Any further details?

Further information.

[2021-07-30 02:21] #262 closed

[2021-08-02 03:57] LukeTowers opened #263 "Calling partial() as a function to check for the existence of a partial fully executes the partial"
Calling `partial(path)` as [documented to determine if `path` exists](https://wintercms.com/docs/markup/tag-partial) and can be run as a partial fully executes the partial which includes any `put` statements (i.e. `put scripts`) which can lead to further issues like script resources added via `put scripts` being duplicated in the final output. See https://github.com/OFFLINE-GmbH/oc-microcart-plugi

[2021-08-02 04:31] bennothommo commented on #263
@LukeTowers while we could certainly change the behaviour of the `partial()` method, it might be being used (somewhat incorrectly) to load partials and therefore could be a breaking change.

I think we might have to, in this instance, create a new method (perhaps `exists()`) that checks existence and update the docs to indicate the true behaviour of the partial method.

[2021-08-02 05:10] LukeTowers commented on #263
@bennothommo yeah, that's what I was thinking, something like `partialExists()`, `pageExists()`, etc

[2021-08-09 21:52] remko-key opened #267 "php artisan winter:version error on macOs In SourceManifest.php line 112:"
Hey WinterCms,

I'm using **WinterCMS 1.1.3** on a Mac running php 7.3.27. When I run **php artisan winter:version** which is part of composer post-update-cmd I'm getting an error:

[code]

is it possible to replace the **file_get_contents** function with  **Winter\Storm\Network\Http::get** method  in SourceManifest.php line 112 and 151

[code]
When I change this in the code winter:version works a

[2021-08-10 03:27] #267 closed, assigned to nobody

[2021-08-10 03:28] bennothommo commented on #267
Thanks @meinmotion - that's a good fix.

Fixed by https://github.com/wintercms/winter/commit/e7c43c5aa16d26cfa5b996b2ce62cdeb654dba26.

[2021-08-10 09:58] remko-key commented on #267
Your welcome and keep up the good work with this great CMS

[2021-08-16 14:18] NixFey commented on #120
Have there been any updates on this? It's starting to feel like this feature is never coming and I imagine it's quite important for people trying to migrate away from their October installations

[2021-08-16 15:17] LukeTowers commented on #120
@evanlihou it is still coming, I've just been busy with personal stuff and client projects. All of that should be wrapping up in the next month so I should be able to crank it out in September / October. In the meantime, there's always the composer route for people who need to swap over immediately.

[2021-08-17 17:05] arvislacis opened #269 "RichEditor form field is not editable if stretch parameter is set"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

SQLite

### Plugins installed

_No response_

### Issue description

If RichEditor form field has parameter `stretch: 1` set then in simple layout scenario field is not editable in back-end form. With "not editable" I mean the following - field is shown correctly but it's not possible to click with mouse in it and edit i

[2021-08-18 09:06] bennothommo opened #270 "Move scaffolding commands into System module"
### Package targeted

Both

### Description

Currently, the scaffolding commands in Winter CMS (`create:plugin`, `create:controller`, etc.) reside in the Storm library for historical purposes.

It may, however, make more sense for these to reside in the System module in Winter CMS, as these functions relate directly to Winter CMS functionality, and require a Winter CMS install to be used effective

[2021-08-18 15:25] LukeTowers commented on #270
The theme commands should probably be moved to the CMS module then. Should we move the specific scaffolding commands into each applicable module? i.e.

System Module:
- plugin
- command
- model
- settings (when implemented)

Backend Module:
- Controller
- FormWidget
- ReportWidget

CMS Module:
- theme
- component

[2021-08-18 15:27] LukeTowers commented on #269
@arvislacis are you able to come up with a fix that works and make a PR?

[2021-08-18 16:03] arvislacis commented on #269
Hard to tell. Probably also need to check if other form fields (like textarea, code editor) which allows `stretch: 1` don't have similar issue. Also need to investigate different scenarios where this parameter is used in nested forms, tabs etc.

Anyways, currently I don't see this as very urgent issue because if problem occurs then just remove `stretch: 1` from `fields.yaml` but still something to

[2021-08-19 00:29] bennothommo commented on #270
Yeah, I can definitely do it that way. I assumed we would just put them in System as those commands have traditionally been available at all times given that they've been provided by the Storm library, but it does make sense to make them only available if needed.

[2021-08-19 00:32] bennothommo commented on #269
@arvislacis you could try installing the [Test plugin](https://github.com/wintercms/wn-test-plugin) and make a PR to that plugin that adds `stretch` to some fields to give it a good test, if there isn't already.

[2021-08-20 02:20] LukeTowers opened #271 "Add tests for the authentication system"
It would be great to have full coverage of the authentication system.

Some pieces to cover:
- User login & logout (including destruction of session on logout)
- User impersonation
- Throttling, activation requirements, banning / deleted accounts (soft deletes)
- Permission inheritance
- User registration
- System roles access

[2021-08-23 15:03] YannPl opened #275 "Form context in controllers in 1.1.4"
### Winter CMS Build

1.1.4

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

#### In formExtendFields
We are using code like following in our forms:

[code]

It worked properly in version 1.1.3.

#### In fields.yml
We have fields that depends on the context to display, for example

[code]
These fields no longer appear in the up

[2021-08-23 15:19] faselunare opened #276 "Attached image/s, in custom plugin, doesn't save reference in the system_files table"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

Pages, Users, Products (custom plugin)

### Issue description

In my custom plugin i have a model (products.php) which does not save references to the image and files in the database (system_files table). The images and files are uploaded correctly to the file system.

This is a row in the d

[2021-08-23 15:22] mjauvin commented on #276
I confirm this, just tested it with a plugin.

[2021-08-23 15:24] faselunare commented on #276
I want to add that in the model table, there is no field with the same name as the relationship

[2021-08-23 16:09] #276 closed, assigned to nobody

[2021-08-23 17:36] zaxbux commented on #276
Also experiencing this issue, the backend `fileupload` form field isn't being submitted with the create/save request (all other fields are).

[2021-08-23 22:33] Domeman opened #277 "Installer"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

During the install of winter. The configuration, Database section has a combo box for Database Type defaulted to MySQL / MariaDB. When leaving the default selection MySQL / MariaDB it appears to default to SQLite and the install cannot pass the d

[2021-08-24 01:05] bennothommo commented on #275
@YannPl this may be related to https://github.com/wintercms/winter/issues/276, which has been fixed by https://github.com/wintercms/storm/commit/a644f69c8b7bb4b578e83f67bcaa03e605677f43. There should be a hotfix release of Winter CMS today, but you may also apply the same edit as that commit to you `vendor/winter/storm` directory and see if that makes a difference.

[2021-08-24 01:25] LukeTowers commented on #276
@zaxbux this should be fixed in https://github.com/wintercms/storm/commit/a644f69c8b7bb4b578e83f67bcaa03e605677f43, will release later today

[2021-08-24 07:09] LukeTowers commented on #275
Verified that https://github.com/wintercms/storm/commit/a644f69c8b7bb4b578e83f67bcaa03e605677f43 fixes this issue as well. Will be releasing 1.1.5 shortly

[2021-08-24 07:09] #275 closed, assigned to nobody

[2021-08-24 08:51] YannPl commented on #275
We tried that locally and it fixed our problems, thanks !
Waiting for the release to upgrate :)

[2021-08-24 18:48] LukeTowers opened #289 "Plugin permissions not aliasing with the plugin replacement feature"
Install RainLab.Pages. Grant rainlab permissions to user without is_superuser. Replace plugin with Winter.Pages, user does not have access to the equivalent Winter permissions

[2021-08-24 18:49] LukeTowers commented on #289
Also need to check if the URL rewriting works for controllers

[2021-09-01 07:02] LukeTowers opened #296 "Revamp authentication events"
This is a proposal to revamp the authentication events system within Winter CMS. Feedback and suggestions very much welcome. Related: https://github.com/wintercms/wn-user-plugin/pull/11 & https://github.com/wintercms/storm/pull/48

The current events are as follows:
- `backend.user.login` -> Global event for backend users logging in
- `model.auth.afterImpersonate` -> Local event triggered after im

[2021-09-01 08:31] bennothommo commented on #296
@LukeTowers great write-up. My thoughts below:

Agreed on the impersonation events - we should be safe to change those for consistency.

As far as I can tell from your proposal, pretty much all events will be covered in the same way. We'd need to include a `beforeLogout` and `afterLogout` method for the models too.

Did you have any thoughts on what to do about the `winter.user.getNotificationVars

[2021-09-01 09:12] LukeTowers commented on #296
Thanks for the feedback!

Yeah, we'll leave it as it, it's just an event that ties in with Winter.Notify, so it's a winter.user event in the sense that it's for the Winter.User plugin, not really a `*.user` auth system event to be worried about here.

One off events (i.e. events that are only triggered once in the request and are unlikely to have more than a few at most listeners attached) don't c

[2021-09-01 09:17] josephcrowell commented on #296
@LukeTowers this would be much more elegant than using the existing system and opens up the ability to create a much more robust notification system in regards to user events, although I am a bit worried that the feature my boss expected to be available this week may not be out for an extended period of time due to this larger change. I don't know how much time I'll be able to devote as I'm alread

[2021-09-01 09:20] LukeTowers commented on #296
@josephcrowell You should still be able to accomplish what you need to by listening to model events on either the user model or the throttle model and triggering a manual notification email when your conditions are met in the meantime. This event proposal would just simplify that process for future developers and make it cleaner in general.

[2021-09-01 13:28] bennothommo commented on #296
@LukeTowers

I'm leaning towards local events - these events are specific to a model instance, and it should be considered that a Backend user is not *exactly* the same as a user from the User plugin, so any plugin that intends to extend user functionality should explicitly define which user "streams" (or models) they will be augmenting.

[2021-09-01 16:08] LukeTowers commented on #296
@bennothommo the `*` in my events would be replaced with either `backend` or `winter` as applicable, so that's how targeting the different implementations will work

[2021-09-02 00:57] bennothommo commented on #296
Ah righto - yep, that sounds good.

[2021-09-05 23:40] josephcrowell commented on #296
There was already an afterDelete event as well so I added an equivalent beforeDelete.

[2021-09-10 12:25] tschallacka commented on #77
I would also add as requirement that a specific version can be specified of a plugin, when not uploading as zip. People might end up running on an outdated software version because of reasons, where only a specific version is compatible with, or they want a feature that only an older version offered in a way they like it(think ui changes etc...)

[2021-09-10 15:09] LukeTowers commented on #77
@tschallacka I don't think we want to encourage people to use old versions of plugins, if they absolutely cannot have the updated version they can always just install it manually via composer or putting the files directly into the project.

[2021-09-10 23:02] ericp-mrel opened #307 "ControllerBehavior Config Maker does not take plugin replacements aliasing into account."
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Say you have Acme.Plugin1 and Acme.Plugin2, and Acme.Plugin2 has a controller which implements the RelationController and contains a relation config:

[code]

And, if the Acme.Plugin1 plugin is forked and changed to Winter.Plugin1 the config lookup for t

[2021-09-11 05:26] LukeTowers commented on #307
I'm not sure replacements in path lookups is something we'd want to support, @bennothommo any thoughts?

[2021-09-11 06:13] bennothommo commented on #307
I agree - path aliasing is outside the scope of the replacement functionality. You should aim for your "replacing" plugin to use as little aliasing as possible of the original plugin.

Aliasing should really only cover cases where people extend your plugin, or use it in external ways such as inside a theme or in bespoke functionality.

[2021-09-11 13:59] ericp-mrel commented on #307
Alright no problem. I wasn't sure how far you guys were willing to go in terms of supporting aliasing for plugin replacement since it could get very complex depending on how much you wanted to offer/support.

[2021-09-11 13:59] #307 closed, assigned to nobody

[2021-09-12 01:47] LukeTowers commented on #307
I'd say that it's mostly meant for minimizing the impact of forking abandoned plugins, rather than making it easier for plugins to support extending two different plugins with the same code

[2021-09-13 19:02] amjadniazi48 opened #310 "ERROR while installing winter cms through installar"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

![error](https://user-images.githubusercontent.com/2420029/133138692-631f00ba-23c2-4171-b06f-54d9714c3158.png)

### Workaround

_No response_

### Any further details?

_No response_

[2021-09-13 19:03] amjadniazi48 commented on #310
Please close this , this was not an issue just internet connection problem

[2021-09-13 19:04] #310 closed, assigned to nobody

[2021-09-13 19:05] amjadniazi48 commented on #310
it was just internet connection problem

[2021-09-14 15:18] amjadniazi48 opened #312 "Invalid security token and admin area is not opening just a blank screen"
### Winter CMS Build

1.1

### PHP Version

7.3

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

I getting the invalid security token issue on every browser just blank admin screen
with the following error in the console
[code]

### Steps to replicate

If login to the backend got invalid security token issue

### Workaround

_No response_

### Any f

[2021-09-14 20:12] LukeTowers commented on #312
@amjadniazi48 what's the error you get when you go to modules/backend/assets/js/winter-min.js? Check your server logs to see what's up.

[2021-09-15 06:00] amjadniazi48 commented on #312
This is the error
<b>Parse error</b>:  syntax error, unexpected '?' in <b>/home/afinstitute/public_html/modules/backend/assets/js/winter-min.js</b> on line <b>524</b><br />

[2021-09-15 06:49] bennothommo commented on #312
@amjadniazi48 which browser are you using?

[2021-09-15 08:14] amjadniazi48 commented on #312
using chrome

[2021-09-15 08:15] amjadniazi48 commented on #312
Its working perfectly ok on another server bluehost, donot know whats the problem

[2021-09-15 08:23] amjadniazi48 commented on #312
This error is also showing on both mozilla and chrome

[2021-09-15 08:28] bennothommo commented on #312
@amjadniazi48 would you be able to provide the URL directly to the JS file if possible? It might be that the file is truncated or corrupted.

[2021-09-15 08:31] amjadniazi48 commented on #312
https://afinstitute.pk/modules/backend/assets/js/winter-min.js

[2021-09-15 08:46] amjadniazi48 commented on #312
showing these errors in console

`GET https://afinstitute.pk/modules/backend/assets/js/winter-min.js?v=1 net::ERR_ABORTED 500
backend:29
GET https://afinstitute.pk/modules/backend/assets/js/winter-min.js?v=1 net::ERR_ABORTED 500
jquery.min.js?v=1:2

POST https://afinstitute.pk/backend 403`

[2021-09-15 08:52] bennothommo commented on #312
Unfortunately that means it is an issue with your hosting, not with Winter CMS. Perhaps there is an invalid server configuration or caching system at play. You will need to get in touch with your hosting provider to look into it.

[2021-09-15 08:52] #312 closed, assigned to nobody

[2021-09-17 15:22] lex0r opened #315 "Revisions not deleted automatically once related "revisionable" entity is deleted"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When a revisionable model gets deleted (physically from the database) no related revisions of that model get deleted automatically from system_revisions.

### Steps to replicate

1. Create a revisionable model
2. Save it to the database
3. Delete

[2021-09-20 04:07] bennothommo commented on #16
I have a couple of ideas for this:

- We could store a lot of "common" metadata in this fashion, for example size and last modified date. I'd also like to see dimensions for images too. If we wanted to be clever, we could even leverage [this library](https://github.com/JamesHeinrich/getID3) to provide support for durations for audio and video files, and resolutions for videos. The upshot of this i

[2021-09-21 02:17] ideepblue commented on #249
My temporary solution, binding the driver to the `Winter\Storm\Foundation\Maker`:

[code]

[2021-09-24 04:37] bennothommo opened #321 "Pressing Enter after manually entering a colour in the Color Picker widget saves the entire form"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

SQLite

### Plugins installed

All of them!

### Issue description

To manually enter and select a color in the color picker, one must select the text field at the bottom of the widget and enter in the value, but to actually select it, you have to hit the Enter key. Doing this, however, saves the form.

It would appear that the

[2021-09-26 23:15] danielbozsoki opened #322 "Mail template HTML editor height bug"
### Winter CMS Build

Winter version: 1.1.6

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When editing a mail template, the height of the HTML editor is very small.

<img width="1366" alt="Képernyőfotó 2021-09-27 - 1 12 32" src="https://user-images.githubusercontent.com/13118726/134827381-50dd2312-171e-4d95-82b5-0c3a71120

[2021-09-27 00:54] bennothommo commented on #322
Thanks @bozsokidaniel - we'll take a look.

[2021-09-27 01:51] bennothommo commented on #322
@bozsokidaniel What browser are you running? I'm unable to replicate this on Firefox 91.

[2021-09-27 06:26] danielbozsoki commented on #322
@bennothommo I have tried on mac and windows also with Google Chrome version  94.0.4606.61 (64 bit) - latest version I think.

On Firefox seems to be good.

[2021-09-27 09:04] queengab opened #323 "Rainlab blog to Winter blog: wrong path aliasing when using blog post method inside a custom plugin"
### Winter CMS Build

Other (please specify below)

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.blog, winter.page, own.plugin

### Issue description

I and good morning.
I detected maybe a bug inside a wintercms method.

We had rainlab.pages and rainlab.blog installed on our instance.
We installed both winter versions, and following the cms messages remo

[2021-09-27 12:11] bennothommo commented on #322
@bozsokidaniel I've tried Chrome 94 on Windows and Linux and it seems to be fine:

![image](https://user-images.githubusercontent.com/15900351/134905244-f96362fe-c64a-4c86-8b62-a173e8eb9222.png)

Could you use the Inspector Tool in your browser and find out if there's anything obvious as to why it's cutting off like that?

[2021-09-27 12:38] danielbozsoki commented on #322
@bennothommo, I attach an Inspector Tool image in Google Chrome and Firefox side by side.

If I can see, the height of the div class="ace_content" doesn't match in this case, let's just say it's a difference for now. In Google Chrome (Windows) if I scroll I can see that the JS overwrites the values ​​of the height as well and it's fix 85px while in Firefox it's much bigger. Also the textarea is 17

[2021-09-27 14:02] bennothommo commented on #322
@bozsokidaniel thanks for the further info - it could potentially be an extension that you have running on Chrome that you may not have in Firefox?

[2021-09-27 15:33] WebVPF commented on #322
I confirm. This problem exists.

[2021-09-27 17:47] arvislacis commented on #322
Can confirm this on Linux, Brave browser (Version 1.29.81 Chromium: 93.0.4577.82 (Official Build) (64-bit)).

I think that this may be related to issue I posted some time ago: https://github.com/wintercms/winter/issues/269

If you remove `stretch` class from `field-markdowneditor size-giant layout-relative stretch mode-tab` then it seems to work fine but this need to be confirmed and tested, I jus

[2021-09-28 02:07] bennothommo commented on #323
@queengab try running `php artisan cache:clear` inside your project folder from the command line. It could be that the `packages.php` inside the `storage/framework` directory is still referencing the old class. You could also try deleting this file manually which should then regenerate on the next page load.

[2021-09-29 06:20] bennothommo commented on #322
I still can't replicate it, unfortunately, even on the OS's and browsers specified ☹️. Is it happening for a specific display resolution? Is there zooming applied in the browser?

[2021-09-29 07:03] arvislacis commented on #322
I am personally using 1920x1080px display resolution but problem also persists when I resize window (and reload). Using default 100% zoom, no display scaling.

[2021-09-29 07:06] arvislacis commented on #322
I can also confirm now that this is browser or engine specific problem as I have no problems in Firefox (on my Linux machine).
But on my Windows server Chrome browser I see the same issue again so probably something related to Chrome/Chromium browsers.

[2021-09-29 07:45] bennothommo commented on #322
Thanks @arvislacis, I've been able to replicate it with a small window. Will look into it now :)

[2021-09-29 08:40] bennothommo commented on #322
Alright, found the issue. It seems related to a `min-height` being applied to the `field-markdowneditor` element, when both the `stretch` and `size-giant` classes are applied - the minimum height in this case is set to 390px. If the editor is restricted below this min-height, the content gets cut off.

This only occurs in Chrome, Firefox seems to be unaffected.

[2021-09-29 14:58] queengab commented on #323
Hi @bennothommo ,

thanks for your response.
Ok i had reporte my plugins with old references:

`use RainLab\Pages\Classes\Page as StaticPage;
use Rainlab\Blog\Models\Post as BlogPostModel; `

and if launch
`php artisan cache:clear` receive the custom error: ` Class 'Rainlab\Blog\Models\Post' not found`

I have also search `storage/framework` but found only `services.php` and not `packages.php`

I

[2021-09-30 01:42] #322 closed, assigned to nobody

[2021-09-30 01:44] bennothommo commented on #322
@bozsokidaniel @arvislacis @WebVPF could you try the fix applied above in https://github.com/wintercms/winter/commit/7aea162fe2f383e800c29f8130c67c182e7573bd and let us know if that resolves the issue for you?

[2021-09-30 17:18] arvislacis commented on #322
@bennothommo Fix works fine for me. :) Thanks.

[2021-09-30 22:24] danielbozsoki commented on #322
@bennothommo checked, problem fixed on Mac and Windows with Chrome browser. Thanks! :)

[2021-09-30 23:28] bennothommo commented on #322
Awesome news, thanks guys! Fix will be released with Winter 1.1.7!

[2021-10-03 09:02] arvislacis opened #325 "Issue with minifying some CSS combined assets"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

SQLite

### Plugins installed

_No response_

### Issue description

Asset combine and minify tool has problems when trying to combine and minify some CSS files, for example, TailwindCSS - https://unpkg.com/tailwindcss@2.2.16/dist/tailwind.min.css (original file)

- Current output after combine and minify operation can b

[2021-10-04 08:05] bennothommo commented on #325
@arvislacis I've taken a quick look, and I think this might be an issue with the CSSMin library we are using, not specifically anything in Winter. We'll have to investigate further, but it might be the case that we will need to switch that library out.

[2021-10-06 07:02] LukeTowers commented on #325
This was affecting the wintercms.com website as well,
[48b7a8f637e588aede82e2cac9871afb-1633501296.txt](https://github.com/wintercms/winter/files/7291499/48b7a8f637e588aede82e2cac9871afb-1633501296.txt) should have been the output but instead in production it was generating
[e2e8581af99b56bea6d20576b582b86b-1633502607.txt](https://github.com/wintercms/winter/files/7291501/e2e8581af99b56bea6d20576b

[2021-10-06 08:34] bennothommo commented on #325
@LukeTowers we might need to swap out `natxet/cssmin` with `mrclay/minify` (which we already use for JSMin) or `tubalmartin/cssmin` in Assetic.

[2021-10-06 13:44] LukeTowers commented on #325
@bennothommo sounds good to me, we already need to revert the changes Sam made where he pulled in the entirety of Assetic into the library and pull in assetic through composer anyways.

[2021-10-07 02:23] bennothommo commented on #325
Turns out it is probably related to Winter after all - October, in their infinite wisdom, is rocking a custom stylesheet minifier filter which we inherited:  https://github.com/wintercms/storm/blob/develop/src/Assetic/Filter/StylesheetMinify.php

[2021-10-07 07:15] arvislacis commented on #325
Cause of my original problem is probably in https://github.com/wintercms/storm/blob/b774511b6f0cc3220a431507d6f13f27745c1dc9/src/Assetic/Filter/StylesheetMinify.php#L37 line which handles different types of comments etc.

But, yes, it looks like it's better to consider replacing this all `minify()` function with something else...

[2021-10-07 07:58] bennothommo opened #329 "Mail template translations not working"
### Discussed in https://github.com/wintercms/winter/discussions/327

<div type='discussions-op-text'>

<sup>Originally posted by **AIC-BV** October  5, 2021</sup>
Hello!

I am trying to translate my Mail Templates, which is working by adding the following code in my boot() function:

Just one small issue, even though the mail is translatable in the backend at `settings -> mail templates`, the mai

[2021-10-07 08:00] bennothommo commented on #325
@arvislacis I'm trying out a replacement at the moment and will let you know how it goes.

[2021-10-07 14:31] AIC-BV opened #330 "Theme translations not working with View::share()"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate, Aic.Contact, Aic.ExtendWinterPages

### Issue description

When using translations in theme.yaml file AND using View::share() in a PHP plugin, the theme translations stop working.

### Steps to replicate

### 1. Set up your them

[2021-10-13 22:06] RomainMazB opened #333 "Misleading exception when using the Relation FormWidget with an unsupported relation type"
### Winter CMS Build

dev-develop

### PHP Version

7.4

### Database engine

No database

### Plugins installed

_No response_

### Issue description

When using the Relation formwidget with an unsupported relationship (example detailed below), the formwidget is throwing this misleading Exception:
![image](https://user-images.githubusercontent.com/53976837/137219157-e596cc38-6843-48ef-85ab-a0142a

[2021-10-14 18:34] AIC-BV opened #335 "php artisan winter:env config conversion breaks in certain cases"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate

### Issue description

I want a local database and a live database.
When running `php artisan winter:env` in my CMDline, the website stops working and the pages return '500 internal server error'.

Documentation: [https://winter

[2021-10-14 19:18] RomainMazB commented on #335
Hi, are you able to provide the `config/database.php` file before the file was modified? at least the part which was broken after the `winter:env` command

[2021-10-14 19:26] RomainMazB commented on #335
And it should be `'database' => env('DB_DATABASE', base_path('storage/database.sqlite')),` (with a `A` on DAT**A**BASE), is that a typo in your message?

[2021-10-15 01:58] bennothommo commented on #335
@AIC-BV the `ConfigWriter` class used by the `winter:env` command does currently trip up when converting some config values that have already been populated in the config files to the `.env` file - most commonly, this is the result of passwords using quote characters or some other sequence-breaking characters.

There is an active PR to fix this: https://github.com/wintercms/storm/pull/40.

As @Rom

[2021-10-15 07:28] AIC-BV commented on #335
Was indeed a typo, thanks! But obviously didn't solve the problem..
If it is still of any use; here's my `config/database.php` file, before running `php artisan winter:env`.

[code]

I think don't think the values are sequence-breaking characters, since its all pretty default.
I tried running `php artisan winter:env` again and it didn't break that line. (but it adds the absolute path)
Website is s

[2021-10-15 17:07] LukeTowers commented on #335
What does it look like after running?

[2021-10-16 00:16] NixFey commented on #120
Just commenting to keep this open

[2021-10-18 06:40] AIC-BV commented on #335
[code]

[2021-10-18 06:44] AIC-BV commented on #335
Ok, I don't know why but after the 5th time, everything works fine as expected.
Perhaps turning my computer off before the weekend mysteriously solved the problem..?

I am sorry for the inconvenience.

[2021-10-22 06:10] luciandex commented on #335
What environment you use?
If it is Docker containers, this may be cache config related problem.

[2021-10-25 03:19] #94 closed, assigned to nobody

[2021-10-25 03:19] #321 closed, assigned to nobody

[2021-10-25 12:56] AIC-BV commented on #335
No it's pretty default;
XAMPP (apache)
MySQL
PHP 8.0
and Visual Studio Code as IDE

[2021-10-25 13:51] AIC-BV commented on #330
Update:
I moved my variables from theme to my own plugin, and managed to solve the problem.

I changed `use Cms\Classes\Theme;` to ` use Aic\ExtendWinterPages\Models\Settings;` (this is a model from another plugin, dedicated to global variable settings)
and
[code]
In
[code]
When dumping the settings variable, I can read all my global variables: `var_dump($settings);`, and when uncommenting `View::

[2021-10-25 13:51] #330 closed, assigned to nobody

[2021-10-27 06:04] #333 closed, assigned to nobody

[2021-10-27 06:22] #27 closed, assigned to nobody

[2021-10-28 15:16] berensn opened #341 "Composer errror 'Undefined index: winter'"
### Winter CMS Build

1.1.6

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

winter.blog, winter.drivers, ginopane.blogtaxonomy

### Issue description

I was attempting to install the twig format_datetime filter using `composer require twig/intl-extra` and received the error
[code]

using the -vvv flag shows

[code]

I went to the need-help channel in Discord and @

[2021-10-31 00:08] berensn commented on #341
Solved the issue, there was a conflict with drupal/console-extend-plugin once it was removed composer was able to run

[2021-10-31 00:08] #341 closed, assigned to nobody

[2021-11-03 09:02] bennothommo opened #342 "Border on Inspector fields not appearing on Firefox"
The bottom border on some Inspector fields do not appear to show in Firefox, but appear fine on Chrome. It seems to be the case for `autocomplete` and `dropdown` types.

**Firefox**

<img width="419" alt="Screen Shot 2021-11-03 at 4 56 33 pm" src="https://user-images.githubusercontent.com/15900351/140032557-c001418f-9eda-4543-af70-439a426612e9.png">

**Chrome**

<img width="414" alt="Screen Shot 2

[2021-11-03 10:06] ivang76 opened #343 "Issue with PHP 7.4.25 and media path, open_basedir"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Error server side when opening a page that contains uploaded images.
**open_basedir restriction in effect, _file_ is not within the allowed path(s)**

### Steps to replicate

- Upgrade or switch to PHP 7.4.25 from any other older PHP version
- Open a pag

[2021-11-03 13:12] bennothommo commented on #343
Unfortunately, that's a problem that you need to solve in your PHP config - that's not a Winter issue.

[2021-11-03 13:12] #343 closed, assigned to nobody

[2021-11-03 13:13] bennothommo commented on #343
Check the `open_basedir` config in your new PHP version. Perhaps it has changed between versions.

[2021-11-19 14:16] queengab opened #350 "After launching Composer2 require "plugin" php artisan can't work anymore"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

manogi.Mediathumb, Code200.Eucookielawmadness , RainLab.GoogleAnalytics, OFFLINE.SiteSearch, Zen.Robots, Winter.Blog, Winter.MailChimp, Winter.Pages, Winter.Sitemap

### Issue description

Hi to all,

i have a test and a prod server.
I made an October to Winter passage installation with comp

[2021-11-21 10:43] xyz1123581321 opened #351 "Backend component property type of Set bug when options array keys are integers"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When you want to set different options for a property of type set, if keys are integers, it doesnt work properly, ex:
[
   123 => 'Milano',
   435 => 'London',
   '124' => 'Munich',
   "333" => 'New York'
]

When you want to select an option, none is act

[2021-11-22 03:36] #351 closed, assigned to nobody

[2021-11-23 09:02] queengab commented on #350
Hi,

to add more detail. Today i tried to invert the process:

`composer2 dump-autoload`

[code]

`composer2 update laravel/framework`

[code]

[code]
Then
composer2 require winter/wn-googleanalytics-plugin

[code]

In my backend perhaps ... Winter suggest me to remove rainlab plugin.
In this case it's not a problem cause this plugin have no tables.
![142994672-c5feaccc-925c-4a2b-9432-fdb85c74f81e

[2021-11-23 09:18] queengab commented on #350
This is actually the only way to install a Winter plugin replacing a rainlab plugin:

`composer2 dump-autoload`
[code]

`composer2 update laravel/framework`

[code]

[code]

`php artisan plugin:remove RainLab.GoogleAnalytics`
[code]

`composer2 require winter/wn-googleanalytics-plugin`

[code]

`php artisan winter:up`

Haven't tried with other plugin.

[2021-11-23 14:16] damsfx opened #352 "Color picker widget don't trigger `dependsOn` event"
### Winter CMS Build

dev-develop

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

If a backend form field depends on (`dependsOn` attribute) a new color picker widget (winter 1.1.7+); changing color with sliders or by picking an existing on in the palette, it don't fire the refresh event on the linked field.
Manually editing f

[2021-11-23 14:17] damsfx opened #353 "Color picker widget don't allow empty value"
### Winter CMS Build

dev-develop

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

The new color picker widget (winter 1.1.7+); `allowEmpty` attribute don't work.
It show the clear button on widget but the button has no action on the field.
If you manually delete field content (shown a No color placeholder), as soon as the fiel

[2021-11-24 16:42] ivang76 commented on #343
Hi again,
the open_basedir didn't change beetween version, but to fix the issue I must change it, adding the path "/storage/app" at the **open_basedir** param in the php.ini on all the sites.

I noticed this happens where has been used the twig ["| media"](https://wintercms.com/docs/markup/filter-media) to get the src of an image for a img tag, source coming from the old _octobercms_ version of th

[2021-11-25 02:12] bennothommo commented on #343
@ivang76 are you using symlinks at all between the old October version of the site and the new Winter one you're working on?

[2021-11-25 07:42] ivang76 commented on #343
@bennothommo probably yes, because the most of that sites are migrated from October... would it be a problem?
And how is that related to the php update too?

[2021-11-25 07:50] bennothommo commented on #343
@ivang76 I'm not quite sure why the PHP update would present different behaviour, but I know that if you have open_basedir restrictions, then symlinks would never work if those symlinks go outside of the restricted directories.

[2021-11-25 17:54] lex0r opened #357 "Infinite loop when trying to impersonating other administrator users"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

If I'm an administrator (but not a super-user) who wants to impersonate another administrator (not a super-user either but also less privileged) I would expect this to be possible. For example, I could be an editor in chief wanting to impersonate

[2021-12-02 12:26] AIC-BV opened #363 "readOnly: true on a type: datepicker is still editable (but grayed out)"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate

### Issue description

Models field.yaml
readOnly: true on a type: datepicker is still editable (but grayed out)

[code]

### Steps to replicate

Create field with readOnly and type datepicker

### Workaround

_No response_

###

[2021-12-06 21:19] #350 closed, assigned to LukeTowers

[2021-12-07 11:09] AIC-BV opened #371 "Colorpicker in preview mode - wrong cursor"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate

### Issue description

I noticed that in preview mode the cursor is incorrect.

Its 'forbidden' on hover hexcode, but can still select and copy the text.
And a pointer on hover over the color itself (but can't click).

I think i

[2021-12-08 12:25] #371 closed, assigned to bennothommo

[2021-12-08 12:44] #352 closed, assigned to bennothommo

[2021-12-08 13:11] #353 closed, assigned to bennothommo

[2021-12-13 10:32] AIC-BV opened #376 "Custom stylesheet editor throws wrong errors"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate

### Issue description

Noticed at `Customize backend -> styles` that the error messages displayed are wrong.
At first I thought it was a CSS file.
But apparently it supports SCSS and it throws errors (but it still works)
![image

[2021-12-13 22:02] LukeTowers commented on #376
Yeah, at some point we're looking to replace the usage of Ace Editor with Monaco (the editor used by VS Code) which will probably solve those sorts of issues. Going to close this as I don't personally plan on doing anything to address this at the moment, but if anyone else is interested in making a PR (to either fix this or replace Ace with Monaco) then I'd be happy to reopen it.

[2021-12-13 22:02] #376 closed, assigned to nobody

[2021-12-13 22:03] LukeTowers commented on #376
Might be as simple as changing the language used for that field from CSS to SCSS btw, feel free to try that and report back.

[2021-12-14 07:50] AIC-BV commented on #376
Yeah changing the language to scss solves the problem!

[2021-12-18 07:40] LukeTowers commented on #207
@bennothommo if you could take a look at this, looks like this issue gets the most amount of traffic according to the insights tab.

[2021-12-18 12:24] #207 closed, assigned to nobody

[2021-12-21 16:27] xyz1123581321 opened #386 "When deleting and restoring an admin, UserGroups relations are not restored"
### Winter CMS Build

1.1

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

I want to prevent User Group deletion when an admin is deleted. The records exists but not the relations. After restoring the admin, groups are not restored.

Tried with changing the core User.php file with:
[code]

Doesnt help. I even tried to modify So

[2021-12-28 15:51] LukeTowers opened #389 "System Files and deferred bindings using database connection of parent model instead of default"
Cross posted from #385 on behalf of @informas

I have tried to reproduce the problem raised in my previous posting regarding errors that appear when moving user tables (and associated) to a secondary database.

The following are the steps followed for me.

**1) Create 2 new MYSQL databases:**
**winter_test_user** (Main)
**winter_test_user_data** (Auxiliary)

**2) Download WinterCMS**
`composer cre

[2021-12-28 16:06] bennothommo commented on #389
I can see a rationale for attached data (files, deferred bindings) being stored in the same database as the parent model - for example, if one were setting up a secondary database that's perhaps more secure (or audited) for user data, it might be a security risk storing attachments or deferred data for those users in the main DB.

The only issues that I can see with this implied logic is that: a)

[2021-12-28 16:16] LukeTowers commented on #389
It's also not documented behaviour AFAIK, and it should at least be configurable.

[2021-12-28 16:21] bennothommo commented on #389
Probably because it's not an common scenario to be running multiple databases in this fashion, so it's probably never come up before. Now that we know it, we definitely should document it at a minimum, and look at making it configurable down the track. I'm just thinking it's not a "bug", per se.

[2022-01-04 07:04] w3labz opened #392 "Error in while using composer"
Tries installing the hashids and following issue comes up

`composer require hashids/hashids
Using version ^4.1 for hashids/hashids
./composer.json has been updated
Running composer update hashids/hashids
Loading composer repositories with package information
Updating dependencies
Lock file operations: 1 install, 0 updates, 0 removals
  - Locking hashids/hashids (4.1.0)
Writing lock file
Installin

[2022-01-04 07:12] #392 closed, assigned to nobody

[2022-01-05 09:47] justbobtn opened #395 "Plug-in not working"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

jan-vince.SmallContactForm

### Issue description

Getting the following error when I try to submit:

"AJAX handler
'contactForm: onMailSend' was
not found." on line 753 of /home/
**********/public_html/
modules/cms/classes/
Controller.php

I’m using the latest version of WinterCMS.

### Ste

[2022-01-05 10:32] AIC-BV commented on #395
Did you add the component to your page?
CMS -> open your page -> components -> click on the component for the contactForm

Looks something like this when you added it
![image](https://user-images.githubusercontent.com/89913092/148202910-238c8309-321e-4d68-85ec-3fc6b2e22cd9.png)

[2022-01-05 10:57] justbobtn commented on #395
I do have the component on the page.

Sent from my mobile phone

[2022-01-05 18:04] LukeTowers commented on #395
Please share the full contents of your page file that this is not working on or share a link to a winter instance with the problem demonstrated on github. Sounds like user error to me.

[2022-01-06 02:42] justbobtn commented on #395
I got it to work. Upgraded to latest version (was 2 behind), removed and reinstalled the plug-in and it works now. Thank you!

Sent from my mobile phone

[2022-01-06 21:22] qroft opened #396 "Winter.Builder plugin with "Checkbox list" getting "unexpected type of array"."
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Builder,Rainlab.User

### Issue description

Within the builder plugin i have created a DB with a column called "settingsO" as "Text" with a length of 65535.
Then in my models for this DB, i went to Forms -> fields.yaml and created a "Checkbox List" with three options.

It does not ma

[2022-01-07 01:15] #395 closed, assigned to nobody

[2022-01-11 22:08] LukeTowers commented on #357
Just ran into this one and boy oh boy was it a giant pain to identify the issue as this on Homestead; can't believe you've put up with it since November. Fix will be pushed shortly.

[2022-01-11 22:11] #357 closed, assigned to nobody

[2022-01-13 11:02] qroft opened #402 "When there is an index.html in the root, the backend loads it."
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

I just installed a totally new WinterCMS via the Web-Installer on a Hetzner Wehost server for a client.
The webspace initially only had an index.html file in its root (A "Welcome, this webspace is under construction"-like).

Now after going through the w

[2022-01-13 19:44] LukeTowers commented on #402
That's very bizarre, sounds like a server configuration issue that prefers index.html over index.php. Will close for now but if anyone can reproduce it on other hosts / environments feel free to ping me

[2022-01-13 19:44] #402 closed, assigned to nobody

[2022-01-13 21:18] josephcrowell commented on #402
The web server would do this by the host's configuration. I has nothing to do with Winter's backend.

[2022-01-16 10:21] WebVPF opened #436 "Improve developer tools for localization on the client side"
At this stage, translations for the plugin are useless. It is controlled from javascript.
Here are all the script lines that need to be localized:

https://github.com/wintercms/wn-notes-plugin/blob/f9937edf69e078127276d2ee5aca1a9cca59337f/formwidgets/notes/assets/js/notes.js#L314

https://github.com/wintercms/wn-notes-plugin/blob/f9937edf69e078127276d2ee5aca1a9cca59337f/formwidgets/notes/assets/js

[2022-01-19 20:41] qroft commented on #9
Hi Luke,
i am too noobish to know if what i found out fits into your request for integrating the sanitizer or if this is a bug
that i have encountered.
I have allowed the SVG file type inside the cms.php configuration.
When i try to upload a SVG file through the Media manager A) i do not get an error B) the file is not listed and uploaded.

So as a workaround i thought: let's upload my 6 SVG files

[2022-01-19 22:05] LukeTowers commented on #9
What does your cms.php configuration look like?

[2022-01-20 13:56] m-paniez9292 opened #409 "Switch from October to Winter - Composer update doesn't start"
### Winter CMS Build

Other (please specify below)

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Hi all,
We have a little website on October and would use it to test the switch method to Winter.
The October version is 473 and we put composer.json to use the "Wizard Method Installation" switch method describe on https://winte

[2022-01-20 14:18] m-paniez9292 opened #410 "Switch from October to Winter - Composer update : InteractsWithAuthentication"
### Winter CMS Build

Other (please specify below)

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Hi all,
We have a little website on October and would use it to test the switch method to Winter.
The October version is 473 and we put composer.json to use the "Wizard Method Installation" switch method describe on https://winte

[2022-01-20 14:47] #409 closed, assigned to nobody

[2022-01-20 14:48] #410 closed, assigned to nobody

[2022-01-20 15:58] CitrinoDeveloper opened #413 "create event fail when working with oneToOne or morphOne relationships"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Issue description

Hi Everyone,
I'm writing a plugin but I'm blocked on a simply one2one relationship.

In one model  User, I just want to store :
[code]
Than I want to create different tables to link the user_unique_id for example Anagraphic Model:
[code]

I have so created the two Models

[code]
And a Anagra

[2022-01-20 17:42] mjauvin commented on #413
I found the problem in modules/backend/traits/FormModelSaver.php line 74:
[code]
It's supposed to pass a model, but is passes the relation name.

[2022-01-20 17:56] mjauvin commented on #413
This fixes it:
[code]
Although I'm sure there's a cleaner way to do it.

[2022-01-20 17:57] LukeTowers commented on #413
@mjauvin note that only fixes it for your specific use case. Did you test with jsonable properties or other relationship types?

[2022-01-20 17:59] mjauvin commented on #413
It's just a starter on fixint it, we need to use deferred to assign the keys... it creates the morphed model record without linking it to the parent.

[2022-01-20 18:00] LukeTowers commented on #413
@mjauvin for that try `$model->{$attribute}()->new()`

[2022-01-20 18:25] mjauvin commented on #413
This works for the update context, but for create context we'd need to use a deferredBinding:
[code]

[2022-01-20 18:31] mjauvin commented on #413
This will skip saving those nested fields in create context:
[code]

[2022-01-20 18:43] mjauvin commented on #413
And this works in both create & update context (tested for morphOne):
[code]

[2022-01-21 18:07] CitrinoDeveloper commented on #413
Dear @mjauvin,

For what I get, your code fails when hasOne relationship is used.

I have the doubt, also, that the `create()` method you are firing can skip the ` beforeCreate()` method.

Looking on the code, the iteration logic of the nesting is to recall the setModelAttributes() using a model again:

Can you (and @LukeTowers ) please give a look on the further code, and tell me if it can works?

[2022-01-22 01:55] Denoder opened #418 "Base File model sort order error when not using numerical ids"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Whn extending the base file class `Winter\Storm\Database\Attach\File` with ids other than numerical (eg uuids) the sort order trait located in `Winter\Storm\Database\Attach\File` will not work with the id because it isnt numerical.

this is the e

[2022-01-24 12:54] mjauvin commented on #413
in your hasOne relation definition, you set both key and otherKey to the same value... that's not right

[2022-01-24 16:31] CitrinoDeveloper commented on #413
Hi @mjauvin, I understand from documentation that 'key' is my foreign key, in the example into the anagraphic table:
[code]
'otherKey' instead is the connected key into the relationship table. So, in the example into user table:
[code]

am I wrong with it?

[2022-01-25 00:19] Mrkbingham opened #421 "dependsOn triggers infinite loop"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When a model has two fields that are dependent upon one another, an infinite loop occurs when the dependants are refreshed (line ~189 of winter.form.js: `$('[data-field-name="' + toRefresh.fields[0] + '"]').trigger('change')`

Appears to be related to th

[2022-01-25 01:44] LukeTowers commented on #421
Why do you have a circular dependency in the first place?

[2022-01-25 03:32] Mrkbingham commented on #421
In my use case I would like both fields to be available at the outset (fresh page load/create), but if one switch is enabled, then the other option should be hidden (or disabled)

[2022-01-25 03:41] Mrkbingham commented on #421
Also worth noting that I have to use `dependsOn` and can’t use `trigger` as there are other fields that are impacted by these two switches

[2022-01-26 00:38] LukeTowers commented on #421
@Mrkbingham why don't you use a single `balloon-selector` field instead to toggle between the two states?

[2022-01-26 01:05] #363 closed, assigned to nobody

[2022-01-27 14:37] CitrinoDeveloper commented on #413
Hi @mjauvin and @LukeTowers

on my point of view this is the last working code for this issue.

[code]

Can you check this so I can prepare a PR?

[2022-01-27 14:50] mjauvin commented on #413
@CitrinoDeveloper this does not resolve the issue. In create context, deferredBinding is needed for the pivot table record to be created AFTER the related record is created.

[2022-01-27 14:59] LukeTowers commented on #413
Try
[code]

[2022-01-27 15:03] CitrinoDeveloper commented on #413
"Call to undefined method Winter\Storm\Database\Relations\HasOne::new()" on line 50 of /var/www/fiorite.test/wintertest/vendor/laravel/framework/src/Illuminate/Support/Traits/ForwardsCalls.php

[2022-01-27 15:07] mjauvin commented on #413
The following code should work for all relation types:
[code]

[2022-01-27 15:13] CitrinoDeveloper commented on #413
As I just told before in this thread, your code jump up the `beforeCreate()` method.

[2022-01-27 15:28] LukeTowers commented on #413
Final solution
[code]

[2022-01-31 12:19] lex0r opened #425 "Plugin tests can't run in non-debug mode"
### Winter CMS Build

dev-develop

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When running plugin tests (those inherited from PluginTestCase) with APP_DEBUG set to false I get an error saying:

Error: Call to undefined method Illuminate\Support\Facades\Cache::remember()

This is probably because earlier during the bootstra

[2022-01-31 14:50] LukeTowers commented on #425
Couple issues, first: PHP 8.1 isn't supported on the develop branch, only dev-wip/1.2 which is our WIP branch for Laravel 9 support.

Second: The issue that triggers that error was fixed in https://github.com/wintercms/winter/commit/9314a4442e2695b3665e2fa2e0cf1788809e02d8, are you sure you have the latest dev-develop?

[2022-01-31 16:43] lex0r commented on #425
@LukeTowers  indeed, the fix addresses the issue, thank you for pointing out.

[2022-01-31 16:43] #425 closed, assigned to nobody

[2022-01-31 21:17] LukeTowers opened #427 "[Enhancement] Add winter:deploy command"
This will be a collection of various ideas around static file generation & deployment of assets to CDNs.

Ideas:
- Add support to the `winter:mirror` command to publish a filtered list of assets (i.e. only assetExtensions and potentially excluding local file storage folders)
- Build caching plugin that generates static files that the server software can then handle the routing for with 404 falling

[2022-02-01 00:50] bennothommo commented on #427
Personally, I believe deployment is too opinionated to be something we can truly include in core, so perhaps this command should be something along the lines of `winter:static`?

[2022-02-01 01:50] LukeTowers commented on #427
Yeah, I'm pretty flexible about what it would be called, @jaxwilko was working on making Winter work on Laravel Vapor and as part of their deployment process they copy everything from the public folder to a S3 bucket and change the asset_url to the CDN URL for the bucket and I thought that would be a pretty nice thing that we could potentially do in the core as well.

The static file generation fo

[2022-02-01 02:30] bennothommo commented on #427
Both great ideas definitely, I just personally don't want it to sound like the "one true method"(tm) of deployment.

[2022-02-02 17:35] Mrkbingham commented on #421
@LukeTowers each field has a complex knock-on effect depending upon selection, so I need a desc explaining each option.  I think the radio selector might be my since it supports the secondary description.

It'd be great to get something like a console.error() on a circular logic loop in winter.form.js

[2022-02-03 00:41] bennothommo opened #431 "Switch code editor to Monaco"
![Switch to Monaco](https://user-images.githubusercontent.com/15900351/152263359-7f6a36d1-34e5-4fa3-9aad-b6fd35ac43b6.png)

We are planning to update the code editor to use the [Monaco](https://microsoft.github.io/monaco-editor/) that powers [Visual Studio Code](https://github.com/microsoft/vscode). With this, we will gain an exceptional amount of features and control over the experience of editin

[2022-02-03 01:05] bennothommo opened #432 "Official VS Code extension for Winter"

[2022-02-06 03:43] mjauvin commented on #325
@bennothommo I wonder if this is related to the issue I was having with *js* file minification from bootstrap5.

[2022-02-06 20:32] LukeTowers commented on #436
@WebVPF I appreciate the help; however I was thinking of making it easier to deal with client side translations in Winter CMS in general. One idea I was thinking up was building upon [Vue I18n](https://kazupon.github.io/vue-i18n/started.html) and providing it as a Snowboard plugin with a layer of niceties to make it more similar to dealing with localizations on the serverside with the per plugin /

[2022-02-06 21:47] mjauvin commented on #436
@LukeTowers do you mean making AJAX call from JS to the serverside which would return translations dynamically or something different?

[2022-02-06 21:59] WebVPF commented on #436
Why compiling files with translations is bad:
- because we will remove the ability for the user to redefine the translation as he needs https://wintercms.com/docs/plugin/localization#overriding

[2022-02-07 01:04] bennothommo commented on #436
I reckon we can do this without necessarily tying it to Vue I18n - I do like that library, but it is intrinsically tied to Vue, and I'd rather keep Snowboard agnostic.

I did originally think that we could just use AJAX to load in translations dynamically, but I worry about having to hit the server every page with an AJAX request.

At the moment, the most graceful idea I've come up with is to intr

[2022-02-07 01:08] bennothommo commented on #325
@mjauvin I'd say you're right. We're going to swap out the custom CSS minifier with one brought in through Assetic, so hopefully that'll sort out your B5 bug as well as this one.

[2022-02-07 01:19] LukeTowers commented on #436
Personally I still like the idea of compiling the language files, support for the project level overriding of language strings is easily achieved by calling `Lang::get($groupCode)` rather than loading the file content directly as that will pass it through the translation system first which will apply the project overrides for us. Asking users to run a single command after populating their custom l

[2022-02-07 01:53] bennothommo commented on #436
Wouldn't precompiling it to a file still require it to be brought in through AJAX? Or are you talking about generating a file somewhere and loading that in a link tag or something?

[2022-02-07 02:30] LukeTowers commented on #436
I'm talking about generating a file somewhere and loading that in a link tag yes. We could potentially look at leveraging the Asset Compiler functionality to add support for loading combined localization files in somewhat the same way we do for existing JS / CSS files. We could also look at revising that functionality somewhat to bring it more in line with the ImageResizer's deferred compilation /

[2022-02-07 02:40] LukeTowers opened #437 "[MediaManager]: Switch to using the ImageResizer class to generate thumbnails"
The MediaManager widget currently uses custom thumbnail generation logic implemented in `generateThumbnail()` and related path generation methods to generate the thumbnails for the media library items.

This causes the following problems:
- Generating thumbnails is only possible on deployments with active local storage (read-only filesystems cannot generate thumbnails)
- Resizing logic is unnecess

[2022-02-07 03:22] mjauvin commented on #413
@CitrinoDeveloper still planning on creating a PR for this?

[2022-02-07 04:53] bennothommo commented on #436
I'd prefer if it were something we could do without a command. I think with most of our command usage at the moment, it's been something for actual development on Winter itself (although I'll give that Snowboard / the mix commands will blur this line).

I'd be happy with the Asset Combiner handling it if it does the compilation in a way similar to the CSS / JS compilation - compiling it on the fir

[2022-02-07 07:36] bennothommo opened #438 "New Winter website"
![New website](https://user-images.githubusercontent.com/15900351/152746155-a7e64f20-feb5-42bc-8e72-92bcb420349e.png)

We are deep in development on a new Winter website, showcasing the platform that you all know and love.

**And yes, it will include the long-awaited marketplace for themes and plugins!**

Other improvements will include touch-ups to our documentation to include more context for co

[2022-02-07 07:52] bennothommo commented on #438
A little teaser, to know we are not bluffing... 😉

![image](https://user-images.githubusercontent.com/15900351/152746804-eeb35e34-f7a2-4e53-96ad-f2cb165f2f46.png)

[2022-02-07 19:54] fpomidoro commented on #120
hello all, is there any news or ETA on this? thanks!

[2022-02-07 22:22] LukeTowers commented on #120
It's actively being worked on @fpomidoro, see #438

[2022-02-08 05:32] multiwebinc commented on #437
Probably related to this bug, but when you use `ImageResizer` to resize the images, it puts them in `storage/app/resized` (and keeps the original filename), but when resizing with Twig, (e.g. `{{ image|media|resize(width, height) }}`), it puts them in `storage/app/uploads/public` (and uses 9 hex characters for the path plus the resize parameters used as the filename). I would think that all resize

[2022-02-08 06:20] multiwebinc opened #439 "Make errors in components show the correct path"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

SQLite

### Plugins installed

_No response_

### Issue description

If you have an error in a component, the error page does not give any indication of which actual line of code is producing the error either in the error message or the stack trace.

For example:

![image](https://user-images.githubusercontent.com/901732/1529272

[2022-02-08 07:44] LukeTowers commented on #437
@multiwebinc nope, that is an intentional part of the design. What is actually happening is that when you pass a File model to the ImageResizer, it resizes with the File model's getThumbnail() functionality which stores the image the uploads folder allowing it to respect the public vs protected properties of File models. Any other source for an image will be handled with the ImageResizer's logic,

[2022-02-08 09:18] LukeTowers opened #440 "Support Laravel Mix"
This directly relates to #401 and is being broken out to be it's own item on the 2022 Roadmap:

# Support for Laravel Mix in Winter CMS:

The bare minimum in order to start using Laravel Mix in Winter CMS should be the presence of a `winter.mix.js` file.

This file can be autodetected under the following locations:

- `modules/*/winter.mix.js`
- `plugins/*/*/winter.mix.js`
- `themes/*/winter.mix.j

[2022-02-08 20:03] multiwebinc commented on #439
I'm not sure if with Winter you make a habit of modifying/extending the files from other vendors, but in `vendor/twig/twig/src/Template.php`, if you remove the second catch in `displayWithErrorHandling()`, it fixes the problem.

[code]

Now the path and the stack trace represent what's **actually** causing the error:

![image](https://user-images.githubusercontent.com/901732/153066066-0e25ca05-0b8

[2022-02-08 21:18] LukeTowers commented on #439
I believe the solution is actually to make the following lines of code work with the current version of Winter: https://github.com/wintercms/winter/blob/develop/modules/system/classes/ErrorHandler.php#L20-L35; but since we're planning on switching to Ignition for the error page handler with the upgrade to Laravel 9 I'll probably look into that then.

[2022-02-08 22:04] multiwebinc commented on #439
@LukeTowers Oh, Ignition looks amazing. Laravel 9 was also released today too.

[2022-02-08 22:12] LukeTowers commented on #439
Yes, I'll be working on finishing up support for Laravel 9 this week.

[2022-02-14 17:44] jaxwilko opened #448 "Improve form repeaters"
This is a list of notes for things I would like to add, if anybody has any suggestions please add a comment :)

- Add new item under each item (rather than at the bottom and dragging it up)
- Speed up item generation
- Allow items to be dragged between scopes if acceptable
- More span options? (maybe)

[2022-02-15 07:22] LukeTowers opened #450 "Add support for auto completion results to console commands"
Symfony 5.4/6 added support for autocompletion of console command arguments and options (see https://symfony.com/blog/new-in-symfony-5-4-console-autocompletion); Winter CMS should add out of box support to every command possible as well as provide documentation for the feature.

Support will be limited to v1.2+ as it requires Laravel 9 & Symfony 5.4/6.

[2022-02-15 15:57] AIC-BV commented on #448
I noticed that the lazy loading does not work in fields.yaml for a repeater field.
It returns an array but the lazy loading expects a string. Could be an improvement! 😄

EDIT: Hmm forget what I said, its more a bug, it works but in some cases it doesn't. Can't find the reason I'll have to dig deeper.

[2022-02-15 17:49] LukeTowers commented on #440
Implemented in https://github.com/wintercms/winter/pull/444 and #401

[2022-02-15 17:49] #440 closed, assigned to nobody

[2022-02-16 09:08] bennothommo commented on #432
A preview version of the Winter CMS extension is now available on the VScode Marketplace:
https://marketplace.visualstudio.com/items?itemName=wintercms.winter-cms

You can download it via VSCode by searching for `wintercms.winter-cms` in the Extensions tab.

We'll leave this open until the other features are completed :)

[2022-02-16 21:32] LukeTowers commented on #29
Going forward (1.2+) .env files will be first class citizens in Winter so we no longer wish to support setting the application key in the config file by default. If someone has a legitimate need for it we can re-evaluate in the future but as of https://github.com/wintercms/storm/pull/40 the key:generate command is reverted back to mostly the Laravel default (exception is that it will generate a .e

[2022-02-16 21:32] #29 closed, assigned to nobody

[2022-02-17 00:58] fanti1 opened #454 "When using listExtendQuery with groupby, paginate seems not work"
### Winter CMS Build

Other (please specify below)

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Hello everyone.
I have a model listing, where I need to override the standard querie, using a groupBy that returns the desired results, according to the business rule. The values ​​that appear as "totals" in the pagination are co

[2022-02-18 13:19] gianluca-ugolini opened #458 "Pivot fields in models list not showing if deferredBinding is set to true in relation_config.yaml"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

Builder, Debugbar, User

### Issue description

If a Relation controller is defined with deferredBinding: true in yaml file, pivot columns are not shown in list table.

This image shows the config_relation.yaml file where relation has deferredBinding: true
<img width="579" alt="deferred-bind

[2022-02-18 19:55] dragomano opened #461 "Select2 does not load i18n localizations"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

Builder

### Issue description

Select2 dropdown library does not load i18n localization (e.g., message "No results found" during search in the list - it should be localized)

### Steps to replicate

1. Use a dropdown field with non-English localization
![](https://user-images.githubusercont

[2022-02-18 19:59] LukeTowers opened #462 "Support CSV exports on readonly file systems"
Currently the ExportModel works with temporary files to generate the file and then provide a download in a response, but it would be great if the files could either be easily stored on an external filesystem for caching purposes or perhaps generated and streamed from the request memory instead of touching the disk at all. See https://csv.thephpleague.com/9.0/connections/output/ for more informatio

[2022-02-18 21:53] #413 closed, assigned to LukeTowers

[2022-02-19 18:22] hauzmann commented on #461
Did you put this code in your plugn.php?

     // Listen for `backend.page.beforeDisplay` event and inject js to current controller instance.
    `  Event::listen('backend.page.beforeDisplay', function($controller, $action, $params) {
        $controller->addJs('/modules/system/assets/ui/vendor/select2/js/i18n/ru.js');
    });`

Everythig works fine for me:
![select2](https://user-images.githubuse

[2022-02-19 20:00] dragomano commented on #461
Thanks. It would be better to add it once in `/modules/backend/classes/Controller.php`:

[code]

[2022-02-19 22:08] LukeTowers commented on #461
This should definitely be handled by the code that already loaded client side localizations for the Winter backend; a PR would definitely be appreciated :)

[2022-02-21 00:21] #269 closed, assigned to nobody

[2022-02-21 19:05] multiwebinc opened #466 "Migrations are not performed if version number starts with a "v""
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

SQLite

### Plugins installed

_No response_

### Issue description

As per the documentation at https://wintercms.com/docs/plugin/updates, in the "version.yaml" file, versions are prepended with "v", however, in practice, this does not work. The migration files referenced under that version are not executed if the version begin

[2022-02-21 19:30] multiwebinc commented on #466
In `modules/system/classes/versionManager.php` > `updatePlugin()`

[code]

Note: `'string' == 0` returns `true` prior to PHP 8 (see https://www.php.net/manual/en/types.comparisons.php). Before any migrations are performed, the version is set to `0`.

[2022-02-21 19:38] LukeTowers commented on #466
@multiwebinc can you try: `if ($currentVersion === (string) $databaseVersion) {` instead?

[2022-02-21 22:34] multiwebinc commented on #466
@LukeTowers Close. However, for some reason, it skips the initial version.

[2022-02-21 22:46] PubliAlex opened #467 "Taglist in relation mode don't support default values"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

SQLite

### Plugins installed

_No response_

### Issue description

When you have a taglist in relation mode, you can't set default values.

### Steps to replicate

- Create 2 models, with a manyToMany relationship between them (eg : Post and Author)
- In post model, add that field in your fields.yaml
        authors:
        l

[2022-02-21 22:47] multiwebinc commented on #466
Ok, I got it figured out. PR coming.

[2022-02-22 03:09] mjauvin commented on #467
@PubliAlex try this patch, it fixes the TagList formwidget behavior with default value:
[code]

Note: the diff above is against wip/1.2 branch, so line numbers could be different.

[2022-02-22 08:23] PubliAlex commented on #467
You...... are....... the........ boss, works perfectly !

[2022-02-22 08:24] LukeTowers commented on #467
We'll leave it open for now until the fix is merged @PubliAlex, but thanks for confirming it works!

[2022-02-23 20:58] LukeTowers commented on #270
Closed by https://github.com/wintercms/winter/commit/e3fecdb9c2df298970c963e14b8a7f3c47d15198

[2022-02-23 20:58] #270 closed, assigned to nobody

[2022-02-24 10:44] AIC-BV commented on #448
So I did some deeper digging and found out the following:

Error: `htmlspecialchars(): Argument #1 ($string) must be of type string, array given`
Triggered by: I think it happens when you have a repeater like this in the database.
[code]

I can understand it errors on a base64.
The base64 was only temporary and will be removed and changed to an image path (no worries! 😅)
**But I'm pretty sure it h

[2022-02-25 01:18] LukeTowers opened #473 "winter:down doesn't seem to drop indexes along with tables"
In a fresh Winter CMS installation that has all of the Winter.* first party plugins present, running `winter:up` and then `winter:down` and then `winter:up` again (on SQLite anyways) will reveal that the indexes for removed tables were somehow left behind
<img width="1714" alt="Screen Shot 2022-02-24 at 7 18 06 PM" src="https://user-images.githubusercontent.com/7253840/155635176-4c1506b2-7f26-4839

[2022-02-26 05:29] LukeTowers commented on #436
Brain dump for reviewing later:

Some options out there:
- https://kazupon.github.io/vue-i18n/
- https://stackoverflow.com/questions/55957319/how-to-call-vue-i18n-from-non-vue-class
- https://phrase.com/blog/posts/the-best-javascript-i18n-libraries/
- https://github.com/airbnb/polyglot.js
- https://airbnb.io/polyglot.js/
- https://github.com/globalizejs/globalize
- https://medium.com/@jamuhl/vue-j

[2022-02-27 00:33] bennothommo commented on #436
Oooo, I like Polyglot. Might be worth wrapping that for Snowboard.

[2022-02-28 02:35] bennothommo commented on #473
@LukeTowers I just tried this and didn't encounter the issue. I had installed Pages, Blog, User, Forum, Sitemap, Translate. Was there any other plugins you had in there too?

[2022-02-28 02:53] LukeTowers commented on #473
This is on 1.2 using SQLite. I also have most of my personal plugins present but none of them interact with the blog plugin AFAIK.

[2022-02-28 03:03] bennothommo commented on #473
I tried both 1.1 and 1.2 and it appeared to work fine. :/

[2022-02-28 06:13] LukeTowers commented on #473
Huh, I'll see if I can replicate on a fresh install sometime

[2022-03-01 17:56] LukeTowers opened #477 "[MediaFinder] Automatically select uploaded file(s) after uploading it"
When uploading a file through the mediafinder widget the uploaded file is not automatically selected after the upload is completed. This is not intuitive and can cause issues with users that aren't paying close attention to what is currently selected before pressing the "insert" button.

[2022-03-02 02:15] damsfx opened #478 "Menu item not set as active"
### Winter CMS Build

dev-develop

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.staticPage

### Issue description

Winter.staticPage menu don't set item as active if his pointing to a 'CMS page' with `url = "/"` configuration.

### Steps to replicate

Add a CMS page with this configuration in the active theme :
[code]

Add a reference to this home page in

[2022-03-02 09:55] zimbar opened #480 "Method Winter\Storm\Translation\Translator::set does not exist"
### Winter CMS Build

1.1

### PHP Version

7.3

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Hy,

I want to install the plugin "mall by offline", but  i have this error during installation "Method Winter\Storm\Translation\Translator::set does not exist"

Thanks

### Steps to replicate

go to settings->update&plugins->install plugin->search for "

[2022-03-02 16:45] LukeTowers commented on #480
This stems from the plugin in question using https://github.com/octobercms/library/commit/20ccbe7d72ad404559345dc8246dba1d3d8ebab6 which was added to October but not to Winter.

[2022-03-07 15:12] AIC-BV opened #483 "registerNavigation sidemenu counter 0 is displayed"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate

### Issue description
![image](https://user-images.githubusercontent.com/89913092/157061476-b863056d-0bc4-4579-8045-cdbfa9b9c5ed.png)
When counter is 0 it should not be displayed?

### Steps to replicate

[code]

### Workaround

[2022-03-08 01:11] bennothommo commented on #483
@AIC-BV @wintercms/maintainers what are your thoughts on the inconsistency here?

In my opinion, a "zero" should be displayed in both locations if set, and it should only be a `null` value that hides it (or perhaps also an empty string). Zero *can* be a valid value worth showing for a counter and `null` more explicitly describes the absense of a counter.

[2022-03-08 02:23] LukeTowers commented on #483
This is performing as designed. I added "empty" logic to hide counters when the value was zero specifically when using a callable counter (see https://github.com/wintercms/winter/commit/cb878020806ff4b64d23ea4d1d138350b695df3b) since returning null instead of 0 from a callable would probably cause issues with other code wanting to use that callable; but as stated in the workaround if an explicit i

[2022-03-08 02:27] #483 closed, assigned to nobody

[2022-03-08 07:35] AIC-BV commented on #483
If it is meant to behave like this, then its fine by me 😄
Easy workaround!

It's just seemed like a bug because at the top navigation bar it doesn't show the 0 label
![image](https://user-images.githubusercontent.com/89913092/157188678-4f478236-6438-4e57-9da4-7ebb6640193e.png)

[2022-03-08 21:02] LukeTowers commented on #483
@AIC-BV that's because the top menu bar is a calculated value by default, if you manually specified `0` as the value for the counter in the top menu bar instead of leaving it unset then it should display `0` as well.

[2022-03-09 08:00] AIC-BV commented on #483
If I'm not mistaken, it doesn't display the 0
[code]

[2022-03-09 16:55] LukeTowers commented on #483
Huh. Well if someone wants it to display the 0 I'm fine with a PR that makes the behaviour align with the sideMenu counter behaviour. I probably won't touch it otherwise though.

[2022-03-11 20:59] LukeTowers opened #490 "Investigate replacing the Updater class with a Migrator instance"
Plugin migrations are currently executed by the UpdateManager calling the VersionManager which calls `Winter\Storm\Database\Updater` which is an extremely simplified version of the Laravel `Migrator` class and is missing several pieces of functionality and extensibility for plugin migrations.

Further investigation is needed to determine the best path forward, but initial gut feeling is that we sh

[2022-03-12 19:12] msimkunas opened #492 "Add optional automatic CSRF protection for AJAX handlers on the frontend"
### Winter CMS Build

dev-develop

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Frontend AJAX handlers currently do not have CSRF protection enabled.

As per discussion with @LukeTowers, this could be rectified by hooking into the `cms.ajax.beforeRunHandler` event and checking the token with the `verifyCsrfToken()` controlle

[2022-03-13 20:19] LukeTowers opened #493 "Revamp Plugin Management"
There are a number of minor annoyances with the existing plugin management UX, DX, and API. The following is a dump of my notes on the process so far, this issue will be gradually improved and fleshed out to define my desired changes to the Plugin Management system in Winter and then the work can be done piecemeal, ideally with any potentially breaking changes done first to make it into 1.2.

This

[2022-03-16 02:50] bennothommo opened #498 "Redevelop the Inspector widget"
The [Inspector](https://wintercms.com/docs/ui/inspector) widget in Winter CMS is one of the many unique and powerful features of the framework, providing contextual "popup" forms for various elements, most prominently in the configuration of CMS components, but also used very liberally throughout some first party plugins like the Builder plugin.

![image](https://user-images.githubusercontent.com/

[2022-03-16 02:52] LukeTowers commented on #498
Could we explore having the fields being managed by an embedded Form widget to bring the full power & flexibility of that to the inspector? Currently only a very limited set of fields are available to be used.

Also it would be great if it could support more types of data, I don't think anything complicated like raw markup is currently supported.

[2022-03-16 02:59] bennothommo commented on #498
I'm not sure how well the Form widget will lend itself to the Inspector due to it being primarily front-end - it would also mean that we would have to be able to develop some way to allow the form widgets templates to be changed if displayed inside the Inspector. I also think the limited field set is intentional, but I can certainly look into though.

[2022-03-17 01:46] bennothommo commented on #342
Closed in favour of https://github.com/wintercms/winter/issues/498 - will be actioned in there.

[2022-03-17 01:46] #342 closed, assigned to nobody

[2022-03-17 01:47] bennothommo commented on #28
Closed in favour of https://github.com/wintercms/winter/issues/498 - will be actioned in there.

[2022-03-17 01:47] #28 closed, assigned to bennothommo

[2022-03-18 13:59] LukeTowers commented on #478
Fixed in https://github.com/wintercms/winter/commit/3cf4b5a5cbb29fbf415601ce944532e9f3dbc685

[2022-03-18 13:59] #478 closed, assigned to nobody

[2022-03-21 18:41] mjauvin opened #503 "Flysystem disks visibility"
### Winter CMS Build

Other (please specify below)

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

`Laravel\Illuminate\Filesystem\FilesystemManager` now use `Visibility::PRIVATE` by default now when instanciating the LocalAdapter class.

ref. https://github.com/laravel/framework/blob/9.x/src/Illuminate/Filesystem/FilesystemMan

[2022-03-22 01:59] iamyigitkoc opened #505 "Laravel Mix is not working as expected on Windows Platform"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

### Issue description

## Summary
Laravel Mix implementation has issues on Windows 10. The newly implemted "mix:compile" and "mix:watch" commands have many issues preventing mix feature running. [Exact PHP version 8.0.14]

## Bug 1:

First of all, I found out that path concatenations are not

[2022-03-22 04:24] bennothommo commented on #505
Great work investigating this @iamyigitkoc. We'll take a look at your workaround and do some of our own investigation into this. I had a feeling that Windows paths might not be handled by the new functionality as most of its functionality operates on the CLI level, although we had hoped that PHP (or Symfony Process) might've handled a fair few of the gotchas.

[2022-03-22 20:17] LukeTowers commented on #503
Sounds like instead we should set the permissions property of the system disk config to `cms.defaultMask.folder`

[2022-03-22 20:26] mjauvin commented on #503
You mean like this, but for the system disk:
[code]

[2022-03-22 21:04] mjauvin commented on #503
Adding this to `Winter\Storm\Filesystem\FilesystemManager` works:
[code]

The problem with the `permissions` property of the system disk is that it's more complex:
ref. https://laravel.com/docs/9.x/filesystem#local-files-and-visibility

But we could also just pass the `visibility` parameter to `Storage::put()`:
ref. https://laravel.com/docs/9.x/filesystem#file-visibility

[2022-03-22 21:11] mjauvin commented on #503
I tried to replace `FileHelper::put($tempPath, $this->getSourceFileContents())` with `FileHelper::put($tempPath, $this->getSourceFileContents(), 'public')` in `modules/system/classesImageResizer.php` and it doesn't work either.

[2022-03-22 22:16] LukeTowers commented on #503
Hmm, this is odd. The issue is happening on my server but not locally on Homestead. Server creates the directories with permissions 0700 and homestead creates them with 0755. I also tried changing `$disk->put($path, file_get_contents($tempPath), ['visibility' => 'public']);` in the `resize()` method but that didn't have any effect on the server.

Do you have idea what is causing the difference bet

[2022-03-22 22:34] mjauvin commented on #503
I don't know, could be the PHP user's umask maybe? Not sure.

[2022-03-23 01:14] LukeTowers commented on #335
This should be fixed by https://github.com/wintercms/winter/pull/404

[2022-03-23 01:14] #335 closed, assigned to nobody

[2022-03-24 20:35] ArchimedeSolutions opened #508 "Repeater field - "sortable: false" not working"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

I would like to be able to block the reordering of the repeater field, despite having set the sortable key to false the items keeps showing the reorder icon and move around if grabbed.
Yaml below:
[code]

### Steps to replicate

Create e repeater field a

[2022-03-25 15:53] LukeTowers commented on #508
@ArchimedeSolutions this was just fixed in https://github.com/wintercms/winter/pull/506, you'll need to pull in the develop branch until 1.1.9 is released.

[2022-03-25 15:53] #508 closed, assigned to nobody

[2022-03-25 19:36] ArchimedeSolutions commented on #508
Thank you @LukeTowers !

[2022-03-25 21:32] LukeTowers commented on #508
Thanks to @Flynsarmy, he's the one that implemented it :)

[2022-03-26 00:22] #20 closed, assigned to nobody

[2022-03-28 18:52] joho1968 opened #509 "Unable to install via backend"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Trying to install a new theme (any theme) while testing Winter, I keep getting this error message:

[code]

The "popup" is displayed, and things look like they're downloading. But very briefly after that, the error message is displayed.

It doesn't matte

[2022-03-28 20:29] LukeTowers opened #510 "Migration messages are not displayed if exception is thrown during migration process"
If plugin migration fails on initial database migrations after modules are seeded but during the plugin migration process then the messages generated during the migration / seeding process are never displayed to the user. This is a problem for the backend user seed which needs to display the generated password to the terminal user.

[2022-03-30 14:56] wverhoogt opened #515 "Flash timer issue"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

winter.builder, winter.pages, winter.translate, winter.user

### Issue description

When using flash messages in Ajax-requests, you can´t influence de 7 seconds message timer. The handler in FlashListener calls the flash-plugin as follows:
[code]
where` this.snowboard.flash` expects a timing

[2022-03-31 04:37] bennothommo commented on #515
@wverhoogt it's not a bug per se - it's simply not providing an API to allow modification of the timer in this scenario.

What I think we'll do is add an event to allow modification of the flash message (and its configuration) on creation.

[2022-03-31 15:39] wverhoogt commented on #515
AH, ok. For now is´s not too much of a deal.

[2022-04-01 03:58] bennothommo commented on #515
I've added a `flash.create` and `flash.remove` event to the Flash plugin which you can use to modify the Flash parameters. See: https://github.com/wintercms/winter/commit/192b91af123bc7fdb14045b37534c0027c9ea0e5

You could create a simple Singleton that can set the default duration of Flash messages to another duration:

[code]

This will be released with the next Winter version.

[2022-04-01 03:59] #515 closed, assigned to bennothommo

[2022-04-03 23:32] shadow5og commented on #9
Hello There

Any update on this?

[2022-04-04 00:33] bennothommo commented on #9
@shadow5og not at this stage, but you can enable SVG support in the Media Manager now if you wish by configuration change:
https://wintertricks.com/tricks/enable-svg-support-in-media-manager

[2022-04-04 01:57] shadow5og opened #523 "Unable to save a newly created page in the editor."
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Unable to save a new page. Instead, I get a pop up modal with HTML in it.

![image](https://user-images.githubusercontent.com/55452673/161461351-62d2f427-978b-4074-9695-853a69316828.png)

### Steps to replicate

Create a new page with no layout selected,

[2022-04-04 02:01] LukeTowers commented on #523
@shadow5og are you or your host using ModSecurity rules? See https://octobercms.com/support/article/ke-1

[2022-04-04 02:11] shadow5og commented on #523
Hello Brother

Yes, my host does use mod security.
Let me check the attached.

[2022-04-04 02:21] shadow5og commented on #523
Disabling Mod Security does indeed solve the problem. Thank you.

[2022-04-04 02:21] #523 closed, assigned to nobody

[2022-04-04 02:36] shadow5og commented on #9
Alright Brother!

[2022-04-05 21:34] LukeTowers opened #527 "[Enhancement] Add "Test configuration" button to backend mail settings page"
We should add a "Test configuration" button to the backend mail settings page that will save the current settings and then send a test email to the current user's email address so that they can verify that the email settings they've provided are working correctly.

[2022-04-05 21:51] mjauvin commented on #527
Yeah, like from the Mail Template page. I'll submit a PR tomorrow.

On Tue, Apr 5, 2022 at 5:34 PM Luke Towers ***@***.***> wrote:

--
Marc

[2022-04-06 02:36] LukeTowers commented on #527
I was thinking directly on the Mail Settings page itself, right after the configuration details are entered.

[2022-04-06 03:01] mjauvin commented on #527
Yes, we're saying the same thing.

On Tue, Apr 5, 2022 at 10:36 PM Luke Towers ***@***.***>
wrote:

--
Marc

[2022-04-06 18:00] mjauvin commented on #527
Fixed by #528

[2022-04-06 18:00] #527 closed, assigned to nobody

[2022-04-09 02:01] fpomidoro commented on #120
Just keeping this open! Thanks!

On Fri, Apr 8, 2022, 21:24 github-actions[bot] ***@***.***>
wrote:

[2022-04-20 13:12] maricruztm commented on #454
Hi,
I have the same issue with a backend list. It has a groupBy as I'm joining more tables to the query, which gives me duplicated rows of the main table. This used to work in older versions (I was on OctoberCMS and migrated to WinterCMS 1.1.8).

I'm trying with distinct('main_table.id') but that breaks the items count. leaving the group by is fine but it breaks the pagination.

As far as I know,

[2022-04-20 13:35] mjauvin commented on #454
@maricruztm from what October version did you migrate from (the one where it worked) ?

[2022-04-20 14:56] maricruztm commented on #454
I cannot double check that anymore but I think it was 448: https://github.com/octobercms/october/tree/v1.0.448

[2022-04-21 21:15] LukeTowers opened #535 "Event Log details page title section displays date in UTC instead of user's timezone"
<img width="963" alt="Screen Shot 2022-04-21 at 3 15 04 PM" src="https://user-images.githubusercontent.com/7253840/164553450-af78186d-9ba8-410b-99eb-0967d1237bee.png">
Date & Time field is rendering in UTC, but backend preferences has been set to UTC - 6. Time should be displaying 6:12pm instead.

[2022-04-22 01:37] bennothommo opened #536 "Allow theme to specify richeditor settings"
I think this has been discussed before, but couldn't find the discussion/issue, so adding it here for future reference.

Since the rich editor widget is generally meant as a representation of how the content will look on the CMS-facing website, it would make sense for the theme to be able to play a part in defining the settings and styling of rich editor config so that rich editor content more clo

[2022-04-22 10:19] damsfx commented on #536
Is the idea to use the `theme.yaml` file of the theme to set all these options or another file?

Would it be possible to inform the user that the settings have been changed from the "Editor settings" page before performing a reset from the settings defined in the theme?

[2022-04-24 21:21] LukeTowers commented on #458
Darn bot is too fast for weekends 😝

[2022-04-25 11:34] bennothommo commented on #536
@damsfx

It will definitely be part of `theme.yaml`. No real need for it to be in a different file.

Good suggestion - will see what I can do on this.

[2022-04-25 13:11] damsfx commented on #536
@mjauvin , I'm really a fan of this evolution. To me it seems logical that the theme should drive the editor configuration.

I have created a ThemeAddOns plugin for my needs that allows me to get the options for some fields in this way:
[code]
Combined with a configuration file `[your theme]/configs/themeaddons.yaml` (I didn't dare to use the theme definition file) where options can be set :
[code

[2022-04-25 13:27] mjauvin commented on #536
@damsfx did you mean to tag @bennothommo ?

[2022-04-25 14:46] damsfx commented on #536
Whoops!  ¯\\\_(ツ)_/¯

[2022-04-26 00:46] bennothommo commented on #536
@damsfx

We'd need a mechanism for the *Backend* to load the font file, so that the font file can be used in the editor. For example, the project I'm working on at the moment has a purchased font, and the only way to load it into the Backend at the moment is to hack it in through the Back-end Settings area, or by creating a new skin for the Backend, both of which aren't the most natural way.

[2022-04-26 10:26] damsfx commented on #536
@bennothommo

I was more thinking of the fonts declared in a stylesheet loaded by the editor:
[code]
Reading you, I better understand the needs for this feature.

[2022-04-26 11:13] bennothommo commented on #536
@damsfx I don't particularly want people to be able to inject full stylesheets into the Backend from the theme - there has to be a separation between a CMS theme and a Backend skin. However, I'm thinking of allowing people to define custom fonts in the YAML file which we'll then create the `@font-face` rule automatically for them.

[2022-04-27 04:59] bennothommo commented on #509
This is not something we can control as of yet. The Backend of Winter still uses October's marketplace for downloading plugins and themes, and can break at any moment on the whims of the October maintainers.

Once our new Marketplace is online, we'll switch over these functions to use our Marketplace instead.

[2022-04-27 04:59] #509 closed, assigned to nobody

[2022-04-27 18:00] LukeTowers commented on #536
I don't particularly mind if people inject custom CSS into the backend from the theme, it'd be up to them how much they want to use/abuse such a feature. I wouldn't really want to go down the rabbit hole of reimplementing a bunch of different CSS options through some other interface just to avoid them injecting full CSS into the backend from a theme.

[2022-04-27 22:50] LukeTowers opened #541 "Snowboard.js isn't picking up on the CSRF token automatically in the backend"
When making a request via Snowboard in the backend it will always fail with invalid token errors because it is not automatically including the CSRF token from the meta tag in the head.

[2022-04-28 00:36] bennothommo commented on #536
Well, I suppose we do give them the ability to add a custom stylesheet for the Backend, so I guess we could just make that something that the theme can populate.

[2022-04-28 00:39] bennothommo commented on #541
@LukeTowers looks like it is using an AJAX pre-filter for this on the Backend:

https://github.com/wintercms/winter/blob/develop/modules/backend/assets/js/backend.js#L9-L16

We could perhaps rewrite that file as a Snowboard plugin and provide both a Snowboard event as well as the original jQuery pre-filter.

[2022-04-28 03:13] LukeTowers commented on #541
Sounds like a good idea to me, thanks!

[2022-04-28 13:03] bennothommo commented on #541
I'm still on the homebound road for this project for the next couple of days. Will be able to take a look at this next week. Let me know if it's urgent though.

[2022-04-30 04:11] bennothommo commented on #473
@LukeTowers feel free to re-open this if you manage to replicate it. :)

[2022-04-30 04:11] #473 closed, assigned to nobody

[2022-04-30 10:03] TheFehr opened #545 "Migrating from RainLab.User"
I am trying to move a privat / scout website I manage to WinterCMS to keep updates going and staying safe.
I have RainLab.User installed in the current version and am unsure on how to migrate to Winter.User.

I tried to just add it but the migrations are very unhappy as the tables already exists.
Where do I need to change some data to convince it of being installed already?

[2022-05-02 05:36] #545 closed, assigned to nobody

[2022-05-04 16:39] LukeTowers opened #549 "Flash message appears twice in the backend if loading a new page with pending flash messages"
<img width="585" alt="Screen Shot 2022-05-04 at 10 37 05 AM" src="https://user-images.githubusercontent.com/7253840/166729071-d971d44f-e389-49b7-95a8-b63a2273cf28.png">

Edit a record and hit save & close. This will set a flash message in your session that the page load flash handler will render but for some reason it's also being rendered by the AJAX flash handler.

@bennothommo would this have a

[2022-05-05 00:41] bennothommo commented on #549
@LukeTowers I deployed a fix for this a couple of days ago - https://github.com/wintercms/winter/commit/43d386958175b5530a6c56497234719cc75377ef.

It hasn't been merged in with the 1.2 branch yet, but has been fixed in the 1.1 branch.

[2022-05-05 00:41] #549 closed, assigned to bennothommo

[2022-05-05 08:02] AIC-BV opened #550 "Cache::remember not working as expected"
### Winter CMS Build

1.1

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate, Winter.Redirects, Aic.Globals, Aic.ExtendWinterPages, Aic.Blog, Aic.Team, Aic.Account, Aic.Contact, Aic.Invoice, Aic.Discount, Aic.Aftersales, Aic.Reviews, Aic.Faq, StudioBosco.BackendNotifications, StudioBosco.BackendComments,

[2022-05-06 06:03] bennothommo commented on #550
@AIC-BV if you don't return a value when using `Cache::remember`, then it won't cache - that's why it continues to fire off the log. You must return a value in the callback in order for the cache to populate and remember.

[2022-05-06 06:03] #550 closed, assigned to nobody

[2022-05-06 07:16] AIC-BV commented on #550
Ow 🤦‍♂️ Sorry!

[2022-05-06 07:39] AIC-BV commented on #550
@bennothommo Would it be best to create a `Cache::remember` for each action I want it to do, or create a single `Cache::remember` running all actions and returning an empty string?

[2022-05-06 07:44] bennothommo commented on #550
@AIC-BV I'd say if you're intending to have something that runs monthly, you might be better using [Task Scheduling](https://wintercms.com/docs/plugin/scheduling) instead of the `Cache::remember()` call. You can set up a task to run multiple actions, or you could split the actions into individual scheduled tasks - it's entirely up to you :)

[2022-05-06 08:20] AIC-BV commented on #550
The Task Schedueler is
- much harder to set up
- doesn't work locally out of the box (so I can't test it in advance)
- can basically do the same thing as I want with Cache?
I think i'll stick with Cache to make my life easier 😄

[2022-05-06 20:34] LukeTowers commented on #550
@AIC-BV the downsides of using cache instead of scheduled tasks are the following:
- You have to trigger the call to the cache remember method at least once a month manually
- Unless you explicitly set something up you won't know if your scheduled task has failed.

It's easy to setup scheduling locally and in production, see https://wintercms.com/docs/setup/installation#crontab-setup. You can also

[2022-05-08 10:37] arvislacis commented on #325
Issue is probably related with https://github.com/assetic-php/assetic/issues/31 and potential fix (pull request) - https://github.com/assetic-php/assetic/pull/32

[2022-05-09 07:40] AIC-BV commented on #550
@LukeTowers What do you mean 'manually'?
Do you mean the backend needs to be manually opened for the code to be able to run?
Our backend is used almost daily so that shouldn't be a problem for my case, but I understand your argument!
[code]

[2022-05-09 15:18] LukeTowers commented on #550
That's correct @AIC-BV

[2022-05-09 15:19] LukeTowers commented on #550
@AIC-BV also note that logging into the backend clears the cache in some cases AFAIK, so every time the cache is cleared your code will run again.

[2022-05-09 15:21] AIC-BV commented on #550
I see. Cronjob would be more reliable and performant

[2022-05-09 16:42] LukeTowers commented on #325
Fixed by https://github.com/assetic-php/assetic/commit/f5fd3415fdb0a280b86eb50e2f0ad9754f842706, thanks to @damsfx!

[2022-05-09 16:42] #325 closed, assigned to nobody

[2022-05-12 21:13] LukeTowers commented on #177
Fixed in https://github.com/wintercms/winter/commit/78a720146145fcf234fbbb412c049e4f4440b094

[2022-05-12 21:13] #177 closed, assigned to nobody

[2022-05-12 21:15] LukeTowers opened #554 "Add winter:util command to purge the resized images folder"
See https://github.com/wintercms/winter/pull/178#issuecomment-841948643

[2022-05-12 21:18] LukeTowers commented on #450
Added!

[2022-05-12 21:18] #450 closed, assigned to nobody

[2022-05-12 21:19] LukeTowers commented on #18
@bennothommo is this related to your relationship refactor PR to storm?

[2022-05-13 05:59] bennothommo commented on #18
@LukeTowers nope, I don't think we have MorphPivot support yet.

[2022-05-13 06:37] bennothommo commented on #18
Morph Pivot support has been added: https://github.com/wintercms/storm/pull/64

[2022-05-14 10:51] mjauvin commented on #503
@bennothommo can you reproduce this as well? Any idea on how to properly fix this?

[2022-05-16 00:33] bennothommo opened #556 "Add feature to create component templates automatically in theme through the Backend"
### Package targeted

Winter CMS

### Description

Inspired by discussions on Discord (hat tip to "TinTong" on Discord).

It would be a nicety if we could allow users to create component partial templates automatically in the right location in their theme, to quickly jumpstart modification and customisation of the components. A simple button to create the templates in the theme would suffice - onl

[2022-05-16 04:38] LukeTowers commented on #556
Isn't this sort of already supported by the "forking" functionality of the CMS editor?

[2022-05-16 05:16] bennothommo commented on #556
Today I learned something, that this feature even exists! :P

It doesn't quite cover the use case I had in mind though. Besides the fact that it is very, very hidden, it only populates the contents of the `default.htm` partial in the editor. I'm wanting for **all** partial templates to be copied and brought over, so that they act as true overrides and the theme developer is able to modify partials

[2022-05-16 05:31] #541 closed, assigned to bennothommo

[2022-05-16 13:41] WebVPF opened #557 "Error when inserting component through twig"
### Winter CMS Build

Other (please specify below)

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

My local website is down after today's update (Winter CMS 1.2)
The error is caused by the code inserted into the file `\plugins\webvpf\acme\components\item\default.htm`:
[code]

![2022-05-16_163807](https://user-images.githubuser

[2022-05-16 13:44] WebVPF commented on #557
If I remove string `{% component 'ShareButtons' %}`, then the site starts working.

[2022-05-16 13:51] bennothommo commented on #557
@WebVPF could you provide the full stack trace for us?

[2022-05-16 13:55] WebVPF commented on #557
@bennothommo like this?

[code]

[2022-05-16 14:01] bennothommo commented on #557
Thanks @WebVPF.

That's strange though - there hasn't been any edits to the Twig functionality in a little while (bar a very minor change to a return type, which should have no effect on your code), so it's puzzling to me that it would only break today.

Could you try clearing the cache with `php artisan cache:clear` and see if that helps?

[2022-05-16 14:09] WebVPF commented on #557
@bennothommo I already tried clearing the cache.
This code worked for several years until this day. The website is down today after an update.
Broke on those pages where there is this code.
Winter CMS 1.2

[2022-05-16 14:19] WebVPF commented on #557
@bennothommo Here is my component file `{% component 'ShareButtons' %}` https://github.com/WebVPF/wn-share-plugin/blob/master/components/buttons/default.htm

Does it have any error?

[2022-05-16 19:20] LukeTowers commented on #557
@WebVPF what does your Component class file look like?

[2022-05-16 19:25] WebVPF commented on #557
@LukeTowers there he is https://github.com/WebVPF/wn-share-plugin/blob/master/components/Buttons.php

[2022-05-17 05:07] WebVPF commented on #557
@bennothommo, @LukeTowers This twig is causing the error

[code]

[2022-05-17 05:13] bennothommo commented on #557
@WebVPF so just to clarify, the issue is occurring when you include the component within another component? Or is it happening anywhere where you include the `ShareButtons` component?

[2022-05-17 05:13] bennothommo commented on #557
I've just tested your plugin out on my current Winter 1.2 project, and it seems to be working fine for me. The only difference - as far as I can tell - is that I'm including the component within a layout.

[2022-05-17 05:15] WebVPF commented on #557
@bennothommo When I include in another component

[2022-05-17 05:25] bennothommo commented on #557
Ah right. I just tested that too and I didn't encounter the error.

Just to note, I don't believe we support components within components. While it may be possible to hack together, it's probably likely to break.

[2022-05-17 06:32] WebVPF commented on #557
@bennothommo In Winter 1.2 the system markup filter `|trans ` was removed? I don't see it in the documentation https://wintercms.com/docs/markup/filter-app

[code]

It is he who is causing the error.
I insert this filter into the layout and get an error. Just a filter without a plugin.

[2022-05-17 09:30] arvislacis commented on #557
@WebVPF @bennothommo I think this is not related to Winter 1.2.0, I also got this error today when doing simple `composer update` on Winter 1.1.8 installation so my guess is that problem is one of the updated dependencies.

[2022-05-17 09:56] arvislacis commented on #557
I am not 100% sure but this may be related to:
- https://github.com/twigphp/Twig/pull/3704
- https://github.com/twigphp/Twig/issues/3703

So the fix is already deployed and should be fine soon..., I will let you know later.

[2022-05-18 00:46] LukeTowers commented on #16
@bennothommo further thoughts from @jaxwilko and myself regarding the potential for a "version replacement / management system" for individual files.

We could provide the ability to upload new versions of a given file which must match the filetype of the current file, when a file is replaced with a new version; it is replaced in place on disk and the metadata remains the same; the original file i

[2022-05-18 13:04] bennothommo commented on #16
It's a cool idea, but I think it might be better as a plugin.

I would assume it would only be able to version track files managed through the manager, and so wouldn't cover cases of people manipulating the files directly or through another plugin. It would also have storage implications and require people to keep on top of cleaning out old versions if they're on space-restricted setups, or perhap

[2022-05-18 20:29] LukeTowers commented on #16
Fair enough re: having the functionality as a plugin. That would probably work better for the company's interests anyways as the feature is a selling point with the existing product.

[2022-05-20 09:24] arvislacis commented on #557
@bennothommo Ok, looks like problem still persists. Same happens when I tried to update (`composer update`) my Winter 1.1.8 dev installation.

[2022-05-20 16:00] LukeTowers commented on #557
@arvislacis are you using the same components as @WebVPF?

[2022-05-20 16:03] arvislacis commented on #557
@LukeTowers No, I am using mostly my own, custom components and some from Winter CMS plugins, not the ones @WebVPF mentioned.

[2022-05-20 18:34] xitara opened #562 "Error with decompiled assets in 1.2"
I installed a fresh wintercms 1.1.8 and upgraded to 1.2
if I set 'decompileBackendAssets' => true, I get the following error:

File https://tb.tbtest.andoria/modules/backend/widgets/mediamanager/assets/js/mediamanager-browser.js does not exist to be decompiled.

.../modules/backend/helpers/Backend.php line 229

I think, the problem is, there is an URL and not a file-path given in $file. In another

[2022-05-20 23:21] alekseyp commented on #153
bump

[2022-05-21 05:21] LukeTowers commented on #557
@arvislacis are you able to isolate the issue to a single specific component or does it affect every single component?

[2022-05-21 08:24] bennothommo commented on #562
@LukeTowers yeah I have the same issue occurring. It's due to the [Asset Maker PR](https://github.com/wintercms/winter/pull/552) that was merged recently, and the fact that now all assets are using a URL. I was meaning to ask Jack or yourself what the change was for.

[2022-05-21 08:40] Sameto commented on #438
I really can't wait for this 😃

[2022-05-22 05:56] LukeTowers commented on #562
@bennothommo it's to support having your assets published on a CDN, specifically on Laravel Vapor it was an issue where any assets added via the AssetMaker trait weren't respecting the asset_url config value and thus weren't loading. We should just be able to add support for the `app.asset_url` config value to the asset decompiler and it should just work.

[2022-05-22 09:04] arvislacis commented on #557
Something a bit weird is going on... because I did `composer update` once again today and it works fine now (so far no error in pages), without any changes in my code although yesterday I did some server management work and cache cleaning etc and reconfiguration, maybe cache was the issue...

@WebVPF could comment on this..., form my side everything looks fine now.

[2022-05-22 12:55] bennothommo commented on #562
@LukeTowers ok, gotcha, however, is that needed for assets that are included in the core? I can see the case for plugins, where they may be externally stored, but the ones in core that actually are candidates for decompilation should still be loaded locally? Unless you are moving those externally as well?

[2022-05-22 14:12] LukeTowers commented on #562
When using a CDN as a part of your deployed Winter instance the idea is for all assets to be served through it, so loading any assets "locally" would be a bit pointless.

I imagine that the decompiler should be able to just strip off the asset URL before attempting to decompile an asset, no?

[2022-05-23 00:25] bennothommo commented on #562
Sure, we can do that. If the assets are not available locally though, it will fail.

[2022-05-23 01:02] bennothommo commented on #438
@Sameto we're still chipping away at it - unfortunately the Laravel 9 upgrade has taken longer than we anticipated, so our focus has been primarily on that. But we're making good progress!

[2022-05-23 16:27] LukeTowers commented on #562
That should be fine, the asset URL helper should only be adding to assets that are available locally anyways, and you certainly wouldn't actually be using the asset decompiler in an environment like Vapor where the assets might not even be present on the server at all.

[2022-05-25 08:19] bennothommo commented on #562
Fixed by https://github.com/wintercms/winter/commit/805b95b490245289ce1149ce3cd772d000a137b7.

[2022-05-25 08:19] #562 closed, assigned to bennothommo

[2022-05-26 13:58] arvislacis commented on #557
Here is additional update on this issue:

My coworker experienced same issue after setting up the same project I used with clean composer update.

After a little investigation we found out that `|trans` filter was also the main cause for this problem like @WebVPF initally mentioned. We didn't dig deeper into this but we fixed it by doing `composer install` on stable composer.lock file (from my pre

[2022-05-26 14:25] LukeTowers commented on #557
Differences between those files:
- doctrine/cache: 2.1.1 vs 2.2.0
- monolog/monolog: 2.5.0 vs 2.6.0
- scssphp/scssphp: 1.10.2 vs 1.10.3
- twig/twig: 2.14.13 vs 2.15.1
- winter/wn-backend-module: 95351e0c6bf1b12b60ee867bc3f6eab81ec1a9c9 vs 80c7c022c230fdad08099b7c6d5cd99754554f74
- winter/wn-system-module: 64611047694291d60dc26b68996867efbde8877b vs a51317638412a769654186916ff31801e16b73db

[2022-05-26 14:26] arvislacis commented on #557
@LukeTowers My guess it's issue with doctrine/cache or twig/twig...

[2022-05-26 14:28] LukeTowers commented on #557
Yeah, looking at https://github.com/twigphp/Twig/compare/v2.14.13...v2.15.1 it would look like those two issues that you linked were indeed the problem.

[2022-05-26 14:30] arvislacis commented on #557
But it's interesting that sometimes also doing `composer update` on the stable .lock file doesn't causes problems anymore and everything works fine also with latest Twig etc. versions.

[2022-05-26 14:32] LukeTowers commented on #557
@arvislacis could be there was a commit that was tagged as 1.15.1 and your first update got it (the "unstable" composer.lock) and then reverting your lock file to the old version told Composer to download it again.

Anyways, going to close this for now.

[2022-05-31 13:38] mjauvin opened #566 "Infinite loop when calling getOriginal within accessor."
### Winter CMS Build

Other (please specify below)

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

In Laravel 7+, when getOriginal() is called from within an attribute "get mutator" for the same attribute, an infinite loop is created.

ref. https://laravel.com/docs/7.x/upgrade#factory-types

### Steps to replicate

In your mod

[2022-06-03 15:38] WebVPF opened #567 "Call to undefined method addVisible"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

custom

### Issue description

Winter CMS - 1.2

When I try to export, I get an error:

I do export according to the example from the official documentation https://wintercms.com/docs/backend/import-export#export-model

[code]

### Steps to replicate

Export Implementation

### Worka

[2022-06-04 17:47] TheFehr commented on #567
I can confirm this.
My upgraded october code base has the same problem.

[2022-06-05 12:40] bennothommo commented on #567
Laravel 7 dropped the `addVisible` / `addHidden` methods ([upgrade note here](https://laravel.com/docs/7.x/upgrade#blade-components-and-blade-x)) in favour of `makeVisible` / `makeHidden`. You can switch to those methods if you wish as a workaround, but we'll likely have to re-add these in as they were in our docs.

[2022-06-05 12:51] WebVPF commented on #567
@bennothommo Thank you!
Replaced `addVisible` method with `makeVisible` method. The export worked.

~~$subscriber->addVisible($columns);~~

[code]

[2022-06-06 17:30] WebVPF opened #569 "Console create:plugin - PascalCase namespace"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Winter CMS 1.2
Console command `create:plugin` incorrectly changes namespace. Camelcase names are changed to capitalized names.
Example:
[code]

Plugin.php file generation result:
[code]

Must be:
[code]

### Steps to replicate

Create a plugin

[2022-06-08 09:50] arvislacis commented on #569
Some comments for clarification:

1) Issue name and description should contain **PascalCase** not **camelCase**;
2) Issue is probably more relevant in `wintercms/storm` repository but that's just side node;
3) If we look at https://wintercms.com/docs/help/developer/guide#vendor-naming then it states - "The vendor or author code in a namespace must begin with an uppercase character and should not c

[2022-06-09 15:13] mjauvin opened #571 "ViewMaker::makePartial() regression"
### Winter CMS Build

Other (please specify below)

### PHP Version

8.0

### Database engine

Other (please specify below)

### Plugins installed

_No response_

### Issue description

The commit that changed the default extension for backend partials from `.htm` to `.php` broke BC.

ref. 643a581ce93cc5f8efb3fc8a2420c8dc014c8787

### Steps to replicate

When calling the ViewMaker trait makePartia

[2022-06-11 11:07] WebVPF opened #573 "Mail branding - Settings page error"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Winter CMS 1.2
Open the **Mail branding** page `/backend/system/mailbrandsettings`

![2022-06-11_140645](https://user-images.githubusercontent.com/61043464/173185298-b54e1797-ad26-46e4-8cb1-7a5517d6120f.jpg)

### Steps to replicate

Open the Mail

[2022-06-11 11:56] bennothommo commented on #573
Confirmed bug.

[2022-06-11 12:29] arvislacis commented on #573
Isn't this somehow similar to https://github.com/wintercms/winter/issues/557 ?

[2022-06-11 14:24] bennothommo commented on #573
Possibly - I had confirmed it on a fresh install without any plugins however.

[2022-06-13 13:36] LukeTowers commented on #573
What version of twig are you using?

[2022-06-13 18:31] WebVPF commented on #573
@LukeTowers Twig version 3.4.1
Could it be because `assetic/framework` require-dev ^2.11 ?
I did the transition to Winter 1.2 according to this guide https://github.com/wintercms/meta/blob/master/l9-upgrade-notes.md

Here are the mentions of the twig in my composer.lock
[code]

[2022-06-15 13:39] cstorus opened #575 "PluginManager doesn't find replaced plugins"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Skripteria.SiteSearch, Winter.Blog, Winter.Pages

### Issue description

The Winter PluginManager->hasPlugin() method doesn't correctly identify replaced plugins. This appears to be caused by searching the replacementMap array using the normalized identifier, however the array is keyed using

[2022-06-15 14:49] mjauvin commented on #575
@jaxwilko looks like this is for you!

[2022-06-15 16:11] jaxwilko commented on #575
@cstorus @mjauvin hey guys, I've had a look at it and I'm not sure I see the issue. I added this test (I'll push it later with anything else needed for this issue), and everything passed.

![image](https://user-images.githubusercontent.com/31214002/173873551-db01195c-1306-4515-9a72-aa09d340b31d.png)

Basically the rational for this is:

- `hasPlugin(): bool` - Tells us if the plugin is on the syst

[2022-06-15 16:35] mjauvin commented on #575
@jaxwilko I think your test above succeeds because `Winter.Original` is still installed.

@cstorus is right, the test to see if the plugin is in the replacement map does so with the NORMALIZED identifier of the plugin... but the replacementMap does NOT use normalized keys.

[2022-06-15 16:42] jaxwilko commented on #575
@mjauvin ahh I see, thanks for explaining. So basically the issue is the following:

![image](https://user-images.githubusercontent.com/31214002/173880674-4d109e20-41f3-49ee-99fc-2b7b0e968ecb.png)

`hasPlugin()` should return true as the plugin is being aliases however it doesn't.

[2022-06-15 16:54] mjauvin commented on #575
Correct. The following patch fixes the issue:
[code]
But might cause regressions elsewhere...

[2022-06-15 17:02] mjauvin commented on #575
Note: the above patch also fixes the `exists()` method for replaced plugins

[2022-06-15 17:05] mjauvin commented on #575
Any way to backport the fix to dev-develop @jaxwilko ?

[2022-06-15 17:06] LukeTowers commented on #575
Probably not @mjauvin, the PluginManager enhancements were made to the 1.2 branch.

[2022-06-15 17:06] jaxwilko commented on #575
@mjauvin from my perspective the issue is that `normalizeIdentifier()` should return the passed value if the identifier was not found in the replacement map, this is what the comment suggests should happen, but because we were overwriting the `$code` var, we were returning a modified version.

![image](https://user-images.githubusercontent.com/31214002/173884768-8e027efb-8dbe-41b2-8feb-28a22d0b5df

[2022-06-15 17:11] mjauvin commented on #575
@LukeTowers Yes, but I submitted a proof of concept fix that could be applied to develop

[2022-06-15 17:18] jaxwilko commented on #575
@mjauvin I just ported my test to `develop` and it passed without modification to the `PluginManager`, the issue may have only affected 1.2 due to the changes made to `PluginManager` during the refactoring.

[2022-06-17 10:34] damsfx commented on #557
### Winter CMS Build
Latest : (dev-wip/1.2)
[code]

### PHP Version
8.0.20

### Database engine
MariaDB : 10.3.10

### Plugins installed
 - winter/wn-pages-plugin

`winter/wn-pages-plugin              dev-wip/1.2 62c6003`

### Issue description
Unable to add a twig tag containing the  **| trans** filter

### Steps to replicate
[code]
 => Site working.

**Add twig tag with trans filter in layout :*

[2022-06-17 13:14] mjauvin commented on #557
@damsfx @LukeTowers @bennothommo

I was able to reproduce this using the above procedure.

Note: no need to install extra plugin. Just adding `{{ 'anything' | trans }}` triggers the bug.

[2022-06-17 13:20] mjauvin commented on #557
Interesting: I switched this vhost to PHP 8.1, launched `composer update` and the problem disappears.

[2022-06-17 13:20] damsfx commented on #557
@mjauvin @LukeTowers @bennothommo
Reverting Twig to v3.3.10 (`composer require twig/twig:3.3.10`) solved my issue.
|trans filter works properly again

[2022-06-17 13:27] mjauvin commented on #557
@damsfx what twig/twig version did you have before downgrading?

when on php 8.1, composer reports this:

[code]
When using PHP 8.0 (after updating with composer), I have the exact same version for twig/twig ... so this is caused by a different dependency.

[2022-06-17 13:34] mjauvin commented on #557
But you're right, downgrading to `twig/twig:3.3.10` resolves the issue.

Why are you closing this @LukeTowers ?

[2022-06-17 13:39] arvislacis commented on #557
@mjauvin Because initially it seemed like a random issue with specific Twig version but now it seems more global or/and problem still persists with newer Twig versions.

Read above Luke's comment: "@arvislacis could be there was a commit that was tagged as 1.15.1 and your first update got it (the "unstable" composer.lock) and then reverting your lock file to the old version told Composer to downlo

[2022-06-17 13:42] damsfx commented on #557
From v3.4.1 : `Downgrading twig/twig (v3.4.1 => v3.3.10)`
I try with v3.4.0 with no success.

[2022-06-17 15:25] bennothommo commented on #557
I wonder if this commit to Twig will fix the issue: https://github.com/twigphp/Twig/commit/55ce7242b1f0fcafdef0967d36e2a9d0ef1da6fe

It's pending for the next release.

[2022-06-17 16:08] mjauvin commented on #557
@bennothommo I tried it and it results in the exact same error.

[2022-06-18 17:41] damsfx commented on #557
Same error with last composer update in Winter 1.1.8:
[code]
Need to downgrade [twig/twig](https://github.com/twigphp/Twig) to 2.14.3 (v2.15.1 => v2.14.13) to get site working.

[2022-06-19 09:40] bennothommo commented on #557
Hi all, I've done some investigation into this.

The issue actually happens with any filter that uses a facade - to test, I created another filter that uses the `Cache` facade and the same issue occurs.

I believe it's related to this change: https://github.com/twigphp/Twig/pull/3702

It appears that reflection is unable to find the correct method because it's hidden behind `__callStatic` magic fr