[2022-06-20 02:40] bennothommo commented on #557
Weirdly, I don't get this issue on my Mac - both on `develop` and `1.2` with the latest Twig versions (exactly the same version I tested yesterday on my Linux machine).

[2022-06-20 07:13] LukeTowers commented on #557
@mjauvin if you revert only https://github.com/twigphp/Twig/pull/3702 locally, does that fix the error?

[2022-06-20 12:24] damsfx opened #578 "Can't get twig filter in macros"
### Winter CMS Build

1.2
[code]

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Getting an error when using `|page ` twig filter in a macro.

`An exception has been thrown during the rendering of a template ("Undefined array key "this"").`

### Steps to replicate

[code]
Then add `{{ 'plugins' | page }}` in default layout or

[2022-06-20 13:55] mjauvin commented on #557
@LukeTowers @bennothommo I confirm reverting above PR does resolve the issue.

[2022-06-20 14:26] LukeTowers commented on #573
Closing in favour of https://github.com/wintercms/winter/issues/557

[2022-06-20 14:26] #573 closed, assigned to nobody

[2022-06-20 14:28] LukeTowers commented on #569
Just need to change a single line here: https://github.com/wintercms/winter/blob/wip%2F1.2/modules/system/console/BaseScaffoldCommand.php#L47. PRs welcome.

[2022-06-21 21:55] LukeTowers commented on #575
Fixed in https://github.com/wintercms/winter/commit/fba6446d3f8a0f4f9920e605d283de02803df68b

[2022-06-21 21:55] #575 closed, assigned to jaxwilko

[2022-06-22 17:33] cstorus commented on #575
Thanks for the speedy fixes, they're very much appreciated! It doesn't seem to have completely fixed things though. Replaced plugins can now be identified, but the usage/registration of aliased classes now seems to be broken.

It appears that the registration of aliased classes/namespaces for replaced plugins is now also happening in lower case, causing them to be registered incorrectly in the Cla

[2022-06-23 00:15] LukeTowers commented on #575
@cstorus fixed in https://github.com/wintercms/winter/commit/9e4e36bad712830bee47d4904521cbc684bf5238, thanks!

[2022-06-24 07:02] bennothommo commented on #567
Restored the `addVisible` / `addHidden` methods as of https://github.com/wintercms/storm/commit/1643791cc13fac0b9724e6cd095f12387f7ddfb2.

[2022-06-24 07:02] #567 closed, assigned to nobody

[2022-06-24 07:06] bennothommo commented on #566
Personally, I think this may have to be fixed at the plugin level, as it's only the edge cases tripping up on this, like with the example above.

We'd be better to keep parity with Laravel on this or we risk functionality breaking elsewhere.

[2022-06-24 10:21] RomainMazB commented on #578
I can confirm this bug, I am using this trick on a link macro to mark the link as the currently visited one:
[code]

This issue occurred during migration from 1.1.8 to 1.2.

[2022-06-24 12:01] RomainMazB commented on #578
I made some investigations:
This is _probably_ due to the PR https://github.com/wintercms/winter/pull/455 by @LukeTowers.
As I understand, in this PR, he dissociated the Twig base environment from the cms extension.

Doing so caused the CMS environment to not "overlaps" the Twig's one, making the `this` context key not available anymore from [the original Twig's MacroNode context here](https://git

[2022-06-24 14:32] mjauvin commented on #578
Good find @RomainMazB !

Whether or not the global var is the right fix, at least we have a good pointer on where the problem lies.

[2022-06-24 19:42] LukeTowers commented on #566
The vast majority of uses of getOriginal() in Winter & October plugins that I've seen in the wild tend to use getOriginal() in afterSave for change tracking rather than the method described above. Additionally, I'm not sure why anyone would use the provided example instead of just treating the passed argument as the original value.

Closing as an edge case that shouldn't have really worked in the

[2022-06-25 02:12] #566 closed, assigned to LukeTowers

[2022-06-25 04:10] LukeTowers commented on #571
Fixed in https://github.com/wintercms/winter/commit/7a25524f737b8c4a612f917900e0a276d43bd447

[2022-06-25 04:10] #571 closed, assigned to LukeTowers

[2022-06-25 05:26] LukeTowers commented on #466
@multiwebinc is this fixed in the 1.2 branch? See https://github.com/wintercms/winter/commit/af311f7001d9f07c802166faafaa0d5715a2dc78

[2022-06-26 02:18] mjauvin commented on #578
@LukeTowers I confirm this resolves the problem I was having in this discussion:

https://discord.com/channels/816852513684193281/816852817267785758/988861851582464000

[2022-06-26 12:32] mjauvin commented on #557
@arvislacis @damsfx can you confirm that with latest wip/1.2 & php8.0 the problem is gone?

Not sure what changed but it doesn't trigger anymore for me.

[2022-06-26 12:44] arvislacis commented on #557
@mjauvin I had this issue on `v1.1.8-dev` when I commented so I can't confirm about `wip/1.2`... but today I run `composer update` on my local and test server project which actively uses `|trans` and I hadn't any problems. As far as I can see in https://github.com/twigphp/Twig then no new commits have been added in the last few days so I think that this issue is still a bit mysterious.

(Just a ra

[2022-06-26 13:04] WebVPF commented on #557
No. The problem hasn't gone away.
Twig  `|trans`, `| transchoice` and backend mail branding settings page.
I asked those who use Oсtober 3, they say that it all works for them. But I myself do not use October, so I cannot confirm the veracity of their words.

[2022-06-26 20:17] LukeTowers commented on #557
@WebVPF I could be wrong but I don't think October 3 uses Twig v3

[2022-06-26 20:19] #535 closed, assigned to nobody

[2022-06-26 20:53] WebVPF commented on #557
@LukeTowers I recently asked in a telegram in the Ukrainian October group. Tried to check. I didn't tell them that we have problems in Winter.
To my questions, people who are testing Oсtober 3 for themselves sent me screenshots:

![photo_2022-06-22_16-06-16](https://user-images.githubusercontent.com/61043464/175833328-9efb5dde-a831-41ff-b148-b56154b524b4.jpg)

Backend mail branding settings page:

[2022-06-26 21:31] LukeTowers commented on #557
Hmm, odd. It does seem to be fairly environment dependent though, so far I haven't run into this on any of my sites.

[2022-06-26 21:46] WebVPF commented on #557
I have Windows 10 (localhost).

[2022-06-27 01:09] bennothommo commented on #557
The more I looked into it, I'd almost say that it's likely the fault exists within the Reflection library itself within PHP. It's the only way I can explain why the problem doesn't happen on some environments (like my Mac) but does on others, even with the same Twig version.

[2022-06-27 01:10] bennothommo commented on #557
We do have a fix here BTW, if we don't want to wait on Twig: https://github.com/wintercms/winter/issues/557#issuecomment-1159670223

[2022-06-27 07:37] mjauvin commented on #578
@LukeTowers @bennothommo @jaxwilko can you give your thoughts about the suggested fix from @RomainMazB above?

I can submit a PR for it in the morning.

Thanks.

[2022-06-27 07:58] WebVPF commented on #557
The people I asked about Oсtober 3 said that one had a Mac, the other had Linux.

[2022-06-27 08:28] bennothommo commented on #578
On the outset it looks fine, but Luke's original PR was trying to avoid too many global attributes polluting the Twig environment.

And I'm presuming that the `| page` filter works outside the macro, so I'm not sure why it would not work within given that they're supposed to share the same scope.

[2022-06-27 13:26] damsfx commented on #557
Still the same issue with:
[code]
and PHP 8.0.20 in an Windows/Nginx environment.

[2022-06-27 13:51] bennothommo commented on #557
I'm sending a fix upstream to Twig to resolve the issue - https://github.com/twigphp/Twig/pull/3719.

[2022-06-27 14:01] RomainMazB commented on #578
@mjauvin, actually I agree with @bennothommo on the fact that this is probably not the right fix (I would have directly submit a PR if I was not convinced of that).

But I disagree with @bennothommo too when he says that the macro share the same scope that the page or layout.
To me there is actually no more scope since the PR #455, all the page and layout variables are filled here:
https://github.

[2022-06-27 18:05] WebVPF commented on #557
I fixed it as in a pull request, everything worked for me. The errors are gone.

[2022-06-27 19:55] RomainMazB commented on #569
@LukeTowers Actually, to be synced with the scaffold methods' code style, we'll need another modification here to add the `ucfirst` case: https://github.com/wintercms/storm/blob/develop/src/Scaffold/GeneratorCommand.php#L144-L146

[2022-06-27 20:03] LukeTowers commented on #569
@RomainMazB I'm not sure I understand, could you expand on that?

[2022-06-27 20:07] LukeTowers commented on #578
Hmm, sounds interesting @RomainMazB, as long as @bennothommo doesn't have any objections I'd be interested in seeing a PR that implements those suggestions. Sounds like we need to also expand our testing suite a bit in this area as well.

[2022-06-27 20:26] RomainMazB commented on #569
Sure @LukeTowers.

To convert "WebVPF" to "WebVPF" and ensuring the first letter is uppercase to keep the PascalCase style, we need to use the php native `ucfirst` function, or the `Str::ucfirst` laravel helper.

So, to me, we have two ways to fix this:
The cheap:
[code]

The good (to me):
[code]
[code]
---------
The second one looks prettier with the rest of the method:
[code]
instead of this:
[c

[2022-06-27 20:27] arvislacis commented on #569
@LukeTowers I think that @RomainMazB was referrencing that we would need to add `ucfirst` modifier (https://www.php.net/manual/en/function.ucfirst.php) to make the first character of the string uppercase. However, that is not needed as studly case is basically equal to PascalCase (https://www.php-fig.org/psr/psr-12/#21-basic-coding-standard).

[2022-06-27 20:36] RomainMazB commented on #569
@arvislacis you've got a point. So now the question is: why `php artisan create:plugin WebVPF.MyName` generates these studly variables:
[code]
and `Str::studly('WebVPF')` generates the good studly case 🤔
[code]

[2022-06-27 20:39] arvislacis commented on #569
@RomainMazB Yeah, I came to same conclusion recently - that studly case for some reason doesn't work properly here.

[2022-06-27 20:47] RomainMazB commented on #569
@arvislacis @LukeTowers , here is why.
The `BaseScaffoldCommand` class has the `HasPluginArgument` trait, which means that the arguments relies on the `PluginManager`'s `normalizeIdentifier` method: https://github.com/wintercms/winter/blob/wip/1.2/modules/system/console/traits/HasPluginArgument.php#L54-L58
This method actually lowercase the plugin name and author, which fails all the rest of the p

[2022-06-27 21:06] RomainMazB commented on #578
I'll wait for Ben's feedback before working on this. I could submit a PR including tests this week.

[2022-06-28 01:06] LukeTowers commented on #569
Fair point. What I would like to see is that the namespace is generated from the provided input verbatim rather than trying to do any case modifications to it. It should be up to the dev whether their namespace is `Webvpf` or `WebVPF`.

[2022-06-28 07:27] arvislacis commented on #569
Yes, I agree on you with this - the best solution in this situation probably would be to take input verbatim..., the only modification maybe could be applied only to the first letter to make it always uppercase so it matches the coding standarts and guides (for example, if dev accidentally or by other means enter everything in the lowercase), anyways, that's also a disputable point.

[2022-06-28 07:56] bennothommo commented on #480
Fixed by https://github.com/wintercms/storm/pull/91

[2022-06-28 07:56] #480 closed, assigned to nobody

[2022-06-28 12:27] RomainMazB commented on #569
@arvislacis yes, their is chance where the dev will fail on typing, especially when creating model or controller after creating the plugin...

I agree with the verbatim stuff but this introduce possible dev errors. We should warn this into the documentation.

[2022-06-28 12:33] arvislacis commented on #569
@RomainMazB If we look at Study/PascalCase from very basic point of view then it can also be interpreted as string in which the first character is always uppercase - all the rest characters can be interpreted verbatim from input as we don't know what acronyms dev has used for input etc. So maybe we could take user's input directly but ensure that the first character is always uppercase.

[2022-06-28 21:40] RomainMazB commented on #569
@LukeTowers , I was about to submit a PR when discovering something that is strange but provides another way to treat two problems at once.
On the 1.2 branch, you introduced a `getNormalizedIdentifier` method with the parameter `lower` which should define if we want a lower-cased normalized identifier or not:
https://github.com/wintercms/winter/blob/5ccde6fb46ac4e8a65316e183949ebde566d705d/modules

[2022-06-29 04:23] LukeTowers commented on #569
@jaxwilko can you look at @RomainMazB's comment above when you've got a moment? Too late at night for me to fully parse it at the moment.

[2022-06-29 10:55] jaxwilko commented on #569
Hey all, I've raised PR https://github.com/wintercms/winter/pull/588 which resolves the issue.

The problem from my perspective is that `normalizeIdentifier()` would check `$this->normalizedMap` for the code, but when the code was not found would return the lowered input rather than the actual input.

To simplify things, I've moved this logic into `getNormalizedIdentifier()` (which still has the a

[2022-06-29 11:57] bennothommo commented on #569
Fixed by #588.

[2022-06-29 11:57] #569 closed, assigned to nobody

[2022-06-29 22:35] mjauvin commented on #578
@bennothommo can you give your thoughts on this so that we can resolve this?

Thanks!

[2022-06-30 00:16] bennothommo commented on #578
I'm happy for you guys to proceed with a PR. Might have a couple of comments then, but will be better to test things in action.

[2022-07-04 01:28] mjauvin commented on #18
Resolved by https://github.com/wintercms/storm/pull/64

[2022-07-04 01:28] #18 closed, assigned to nobody

[2022-07-04 01:44] mjauvin commented on #18
@bennothommo I closed this. just a note in case you needed to do something before closing it.

[2022-07-04 01:45] bennothommo commented on #18
All good @mjauvin, nothing else needed to be done here :)

[2022-07-06 13:03] AIC-BV commented on #448
Finally found this again! 😌
@jaxwilko I ran into the issue described above again, and it took me a while to figure it out. When I found the solution, I realised I had this problem in the past too...

I am using repeater groups, in which I created a pretty block using a Nestedform because I wanted tabs to make the repeater more compact:
![image](https://user-images.githubusercontent.com/89913092/17

[2022-07-06 13:06] AIC-BV commented on #448
What I am also experiencing with the code above, is that when I fill in `blog.blocks.block_image_with_text.data.form.tabs.fields.title`, it also sets my `blog.title` (in fields.yaml) to the same value as `blog.blocks.block_image_with_text.data.form.tabs.fields.title`

The workaround is NOT using `title` in my blocks, but, for example, `block_title` instead

[2022-07-06 14:02] LukeTowers commented on #448
@AIC-BV submit that as a separate issue please, ideally with a PR to the wintercms/wn-test-plugin demonstrating the issue.

[2022-07-08 21:55] LukeTowers commented on #503
Fixed by https://github.com/wintercms/storm/commit/97588cb6051a8fb61d867e20657bdb4d845cc7ea

[2022-07-08 21:55] #503 closed, assigned to LukeTowers

[2022-07-10 07:14] LukeTowers commented on #578
@damsfx @RomainMazB @mjauvin @bennothommo I believe I've come up with an acceptable fix in https://github.com/wintercms/winter/commit/5b8d189df4cd1f7fdf8e318f111543b85a0e2613, please test and verify

[2022-07-10 12:50] mjauvin commented on #578
Well, looks like we have a winner!

This resolve the issue with the DynamicPDF plugin as well.

[2022-07-10 15:58] #578 closed, assigned to nobody

[2022-07-13 19:24] multiwebinc opened #601 "v1.1 should be prevented from installing on PHP 8.1"
### Winter CMS Build

Other (please specify below)

### PHP Version

8.1

### Database engine

Other (please specify below)

### Plugins installed

_No response_

### Issue description

Installation fails via Composer:

[code]

### Steps to replicate

I created a fresh Linode server and executed the following commands (as per https://wintercms.com/docs/setup/installation and https://wintercms.com/

[2022-07-13 19:37] mjauvin commented on #601
You're trying to install 1.1.X branch which does not run on PHP 8.1 (Laravel 6 requires PHP 8.0 or older)

[2022-07-13 22:28] multiwebinc commented on #466
@LukeTowers I apologize for the delay in getting back to you on this. I just tested it and it appears to be working for me.

[2022-07-13 22:44] multiwebinc commented on #601
@mjauvin Would it be possible to display a more meaningful error?

[2022-07-14 01:15] #466 closed, assigned to nobody

[2022-07-14 03:21] multiwebinc commented on #601
Here's a quick bootstrap thing I whipped up:

[code]

Let me know if you're interested in a PR.

[2022-07-14 05:34] LukeTowers commented on #601
@multiwebinc the solution would actually be to fix the PHP version requirement in composer.json:

https://github.com/wintercms/winter/blob/v1.1.8/composer.json#L32

Should be `|^8.0.1`

[2022-07-14 14:38] multiwebinc commented on #601
@LukeTowers I think that should be `~8.0.0`, since `^8.0.1` matches versions `>=8.0.1 <9.0.0-0`.

[2022-07-14 16:57] #601 closed, assigned to nobody

[2022-07-14 19:27] multiwebinc opened #604 "Image resizer gets wrong path"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

No database

### Plugins installed

_No response_

### Issue description

I'm not sure if I'm doing something wrong or if it's actually a bug, however when I try to resize images using the `ImageResizer` class, the path of `ImageResizer::getUrl()` is incorrect.

### Steps to replicate

I have the following in a component:

[code

[2022-07-15 04:32] LukeTowers commented on #604
@multiwebinc can you replicate this with a fresh install of Winter v1.2?
[code]

[2022-07-15 05:11] LukeTowers commented on #315
@bennothommo is this still in progress?

[2022-07-15 05:13] LukeTowers commented on #289
Will revisit this at a later date if anyone else runs into issues and posts here. Not worth looking into further at the moment.

[2022-07-15 05:13] #289 closed, assigned to nobody

[2022-07-15 05:14] bennothommo commented on #315
@LukeTowers it hasn't been started yet. It's not a blocker though.

[2022-07-15 05:15] LukeTowers commented on #557
Blocked by https://github.com/twigphp/Twig/pull/3722

[2022-07-15 05:17] LukeTowers commented on #437
Implemented in https://github.com/wintercms/winter/pull/596

[2022-07-15 05:17] #437 closed, assigned to jaxwilko

[2022-07-15 05:19] LukeTowers commented on #323
@queengab I'm closing this to clean up old tickets, feel free to reply confirming that it's still an issue on the latest version (v1.2) and I'll reopen it.

[2022-07-15 05:19] #323 closed, assigned to nobody

[2022-07-15 05:20] LukeTowers commented on #60
This should be resolved with the ArrayFile enhancements added by @jaxwilko in v1.2

[2022-07-15 05:20] #60 closed, assigned to jaxwilko

[2022-07-15 05:37] multiwebinc commented on #604
@LukeTowers It appears to be working correctly with a fresh install of 1.2.

[2022-07-15 06:13] LukeTowers commented on #604
@multiwebinc I would recommend you check your filesystems.php and cms.php config files against the defaults provided in v1.2 then to verify that they are up to date.

[2022-07-15 06:13] LukeTowers commented on #604
Will close the issue for now unless it can be reproduced in a fresh install of Winter since it appears to be a configuration problem. Feel free to post your findings once you've resolved it locally!

[2022-07-15 06:13] #604 closed, assigned to nobody

[2022-07-15 06:35] multiwebinc commented on #604
@LukeTowers I'm using 1.1 though, not 1.2. Are the config files from 1.2 compatible with 1.1?

**Edit:**

I was missing `filesystems.disks.local.url`. Adding that fixed the problem. Thanks for pointing me in the right direction.

[2022-07-15 07:38] WebVPF opened #607 "Version of build"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

After update:

Should be 1.1.9

No change here https://github.com/wintercms/meta/blob/master/manifest/builds.json

### Steps to replicate

[code]

Then:

[code]

### Workaround

_No response_

[2022-07-15 07:48] LukeTowers commented on #607
So quick on the draw there @WebVPF 😜 Updating the builds.json file is a manual step of our release process, @bennothommo is currently working on it. There's a lot of things that have to happen in order to release a new version of Winter, let alone three new versions 😉

[2022-07-15 07:53] LukeTowers commented on #604
No problem, happy to help!

[2022-07-15 08:21] bennothommo commented on #607
@WebVPF could you give it a try now and let me know what you get?

[2022-07-15 08:40] WebVPF commented on #607
@bennothommo Now it shows correctly. Both in the console and in the backend widget.

[2022-07-15 08:41] bennothommo commented on #607
Thanks @WebVPF!

[2022-07-15 08:42] #607 closed, assigned to bennothommo

[2022-07-15 11:37] WebVPF commented on #607
@bennothommo There is a problem with version 1.2

[code]

I upgraded from dev to stable.
In the backend (widget and system/updates) it shows version 1.1.8

[2022-07-15 11:46] WebVPF commented on #607
The person from the telegram chat did a new installation of Winter, writes that he has the correct 1.2.0

[2022-07-15 11:50] bennothommo commented on #607
@WebVPF yeah might be something wrong with your instance there. I just did `composer create-project wintercms/winter winter "^1.2.0"` and got the following:

![image](https://user-images.githubusercontent.com/15900351/179217541-b36b905a-02e5-486a-adef-b9c18ffb4da6.png)

[2022-07-15 14:32] damsfx commented on #578
This issue is still present in the 1.1.9 branch, as well as #557 .

Still need to downgrade twig/twig from v2.15.1 to v2.14.3.

[2022-07-15 16:29] arvislacis commented on #386
I can confirm that this issue exists and maybe we also need to check if this problem isn't much bigger - because it looks like when soft deleting main model which has `SoftDelete` trait (in this case User model and `backend_users` table) then all related entries in Many To Many table (in this case UserGroup and `backend_users_groups`) are deleted automatically although if we look at https://winter

[2022-07-15 17:04] damsfx commented on #505
I can confirm that the patched commands from @iamyigitkoc work's for me.

[code]
Laravel Mix
Build successful

[2022-07-15 20:02] LukeTowers commented on #505
Glad to hear it! Can someone submit the patches as a single PR to this repo?

[2022-07-15 22:37] iamyigitkoc commented on #505
I can do it this weekend. I will also test it on linux based OS wether it breaks previous builds or not.

[2022-07-16 08:52] RomainMazB opened #613 "Add mail template/layout/partial clear command"
### Package targeted

Winter CMS

### Description

As of today, when modifying a mail template, layout or partial from the backend settings, the views are saved in the database, and there is no easy way to clean up these views.
~~AFAIK we need to manually erase the corresponding table entries to retrieve the default registered view.~~

Thanks to mjauvin that pointed this out on Discord

Many users

[2022-07-17 17:43] LukeTowers commented on #578
@damsfx which part of the issue? There were a few different bugs at play here, what error are you getting?

[2022-07-17 19:24] LukeTowers commented on #613
What I would prefer is removing the reliance on the DB tables entirely, which we may be able to do now with the new ArraySource trait in Storm, and then making it so that only once a modification has been made to the defaults provided then that is when a value is stored in the database and it becomes the new version loaded when the system is asked for that particular mail template object. @bennoth

[2022-07-17 19:40] LukeTowers commented on #607
@WebVPF can you run `artisan winter:version --changes` after running `composer update` again and post the list of changed files?

[2022-07-17 20:35] mjauvin commented on #613
I thought that's how it was already.

[2022-07-18 00:03] ericp-mrel opened #615 "[v1.2] PHPUnit.xml file from docs does not work"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

No database

### Plugins installed

_No response_

### Issue description

`php artisan winter:test` command throws an error when run with the phpunit.xml file from the [docs](https://wintercms.com/docs/help/unit-testing#testing-plugins) in a brand new plugin.

[code]

### Steps to replicate

1. Create new Winter CMS project
2. C

[2022-07-18 00:08] ericp-mrel commented on #615
Moved to https://github.com/wintercms/docs/issues/88 since this is mostly a doc issue.

[2022-07-18 00:08] #615 closed, assigned to nobody

[2022-07-18 00:09] LukeTowers commented on #615
@ericp-mrel thanks! For future reference we can move issues as admins on the organization in GitHub so we can make the move slightly nicer :)

[2022-07-18 09:40] damsfx commented on #578
@LukeTowers the issue due to calling `page` filter in macros seems to have gone after running composer update and a cache clean.

The only one remaining is calling the `trans` filter `{{ 'anything' | trans }}`
[code]

[2022-07-18 19:01] ghost opened #619 "create:theme tailwind error"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

none

### Issue description

Clean install Winter CMS v1.2.0, with Composer v2.3.8 on a Linux laptop (Pop! OS 22.04 LTS ).
When I want to create a Tailwind theme `php artisan create:theme test tailwind`I get an error.
**Error** In Filesystem.php line 57: `file does not exist at path /home/be

[2022-07-18 19:06] #619 closed, assigned to nobody

[2022-07-19 06:08] LukeTowers commented on #619
Thanks for the report @ben-nl, should be fixed now.

[2022-07-19 06:11] LukeTowers commented on #578
@damsfx apply https://github.com/wintercms/storm/commit/1b866f037ea928f73dca51e9d38fe4dc3efe5484 and see if that fixes it. If it does then feel free to submit a PR to the 1.1 branch backporting that temporary fix and you can use the dev-1.1 version in your composer.json to pull it in after the PR is merged.

[2022-07-20 04:13] ericp-mrel opened #620 "[v1.2] Plugin dependencies are not sorted in the correct order"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

No database

### Plugins installed

Winter.Location, Winter.Pages, Winter.TailwindUI

### Issue description

I have a plugin which depends on other plugins in order to run, however it looks like when I run the database migrations for this plugin it is being run before it's dependencies and so the migrations are unable to success

[2022-07-20 16:22] damsfx commented on #578
Done :
https://github.com/wintercms/storm/pull/98

[2022-07-20 16:47] damsfx commented on #505
Any news @iamyigitkoc ?

[2022-07-21 02:19] #620 closed, assigned to nobody

[2022-07-22 18:02] iamyigitkoc commented on #505
I had a personal urgency, just updated the code. Gonna test the code then open the PR.

[2022-07-22 18:48] iamyigitkoc commented on #505
Can someone validate the build on a linux machine if it works as expected?

[2022-07-23 12:34] tintong opened #626 "Winter 1.2 not using SMTP settings from database"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Pages, Winter.Blog, Winter.User

### Issue description

Since upgrading to Winter 1.2 from the previous version, emailing via SMTP has not worked.

The error message when emailing has always been:
Expected response code "250/251/252" but got code "550", with message "550 5.7.1 Relayin

[2022-07-23 12:34] tintong commented on #626
I'd be happy to continue helping with this, just need some more pointers to look at please.

[2022-07-23 14:57] mjauvin commented on #626
I tried replicating this with your procedure and I couldn't. The proper config gets passed from what's provided in the form, and mail gets sent properly. I had no config in the config/mail.php (other than default values)

[2022-07-23 14:59] mjauvin commented on #626
I also added `trace_log($config)` call here and I got the proper config as expected:

https://github.com/laravel/framework/blob/8156743f644fb4597b63261a3fda4e4d6ca49a78/src/Illuminate/Mail/MailManager.php#L171

[2022-07-23 15:08] tintong commented on #626
Thank you for helping.

The only other plugin I have but not enabled is the Gmail email sending one.

I'll try again today.

[2022-07-23 15:12] mjauvin commented on #626
It's possible the gmail plugin is interfering, try removing/disabling it.

[2022-07-23 17:32] tintong commented on #626
I've removed the gmail plugin and deleted the files.
Then tested it again and the config that comes in to the "createSmtpTransport" function still points to "smtp.mailgun.org" which is what is in the config/mail.php file.

What else might it be please?

[2022-07-23 17:35] tintong commented on #626
Does trace_log($config); echo an output automatically or should it be done separately?

[2022-07-23 17:36] mjauvin commented on #626
It should work, please show how you debug this.

Also, show the output of `composer show winter*`

[2022-07-23 17:37] mjauvin commented on #626
it sends the output to your `/storage/logs/system.log` file

[2022-07-23 17:51] tintong commented on #626
I've added "trace_log($config)" to the "resolve" function in winter\storm\src\Mail\MailManager.php
The trace_log() command is right after $config = $this->getConfig($name);
The output is:

[2022-07-23 17:34:37] development.INFO: Array
(
    [host] => smtp.office365.com
    [port] => 587
    [username] => emailadrress
    [password] => password
    [encryption] => tls
)

I then added the same funct

[2022-07-23 18:03] mjauvin commented on #626
It really doesn't make any sense since `createSymfonyTransport()` is called from the resolve() method in Winter\Storm\Mail\MailManager. There are no other manipulation of the $config after that.

[2022-07-23 18:13] tintong commented on #626
Apologise for the confusion.

My first trace_log() output was from a previous test.
The output gave me the info from "$this->app['config']["mail.mailers.{$name}"];" within the same resolve function in Winter Storm MailManager.php

If I am reading the data correct in the config object, it is storing the config values from config/mail.php in the root of the object, but the config values from the dat

[2022-07-23 18:22] mjauvin commented on #626
I understand what you mean, but it doesn't match the behavior I am seeing.

Did you completely remove the gmail plugin? Something is screwing with your config dynamically

[2022-07-23 18:25] tintong commented on #626
Yes, deleted from within the backend first and then manually deleted the folder/files.
This is all I have left:

![image](https://user-images.githubusercontent.com/50303078/180618132-27ca2ae4-7c14-41c0-9bec-685058e6b05a.png)

And my plugins:

![image](https://user-images.githubusercontent.com/50303078/180618163-c8de7e02-55da-4143-9f34-ebbf6f3d87cd.png)

[2022-07-23 18:28] mjauvin commented on #626
Please, can you test this with a CLEAN install with NO PLUGINS installed and report results back? This makes absolutely no sense.

[2022-07-23 19:24] mjauvin commented on #626
Tested working on multiple clean install, not a bug.

[2022-07-23 22:03] mjauvin commented on #626
Problem caused by the old format used in `config/mail.php`

[2022-07-24 10:21] m-paniez9292 opened #627 "Migrate October to Winter : Twig loadTemplate error"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Romanov.ClearCacheWidget, Rjchauhan.LightGallery, Zen.Robots, Rahman.BlogTags, Flosch.Slideshow, Winter.Pages, Winter.Translate, Winter.User, Winter.Location, Winter.Notify, Winter.Sitemap, Winter.Blog

### Issue description

Hi,
I try to migrate an 1 page website (build with Pages and block

[2022-07-24 11:32] mjauvin commented on #627
Latest version of Winter.Pages solves this issue.

What version do you have?

[2022-07-24 12:08] m-paniez9292 commented on #627
Re,

I have Winter.Pages v2.0.0 (I do all process today).

Thanks

[2022-07-24 13:38] mjauvin commented on #627
You need version 2.0.2

[2022-07-24 14:49] m-paniez9292 commented on #627
Re,

That's right, it works.
For other, to do that : `composer require winter/wn-pages-plugin`
Just for curiosity, why the update method by backend > plugin > update doesn't work ?
Thanks

[2022-07-24 14:51] #627 closed, assigned to nobody

[2022-07-25 00:01] bennothommo commented on #627
@m-paniez9292 the update functionality of the backend won't fully work until we have a marketplace.

[2022-07-25 16:44] m-paniez9292 commented on #626
Hi,
I have a similar problem :  Expected response code "250/251/252" but got code "550", with message "550 5.7.1 Relaying denied".
I'm not using Gmail and I just installed a migration from october v1.x to Winter v1.2.
I put `trace_log($config);` in winter\storm\src\Mail\MailManager.php and I have :
[code]
Thanks

[2022-07-25 16:52] mjauvin commented on #626
Please use the new `config/mail.php` from 1.2 branch

[2022-07-25 17:25] m-paniez9292 commented on #626
Re,
With the `config/mail.php` file, it works fine.
Thanks

[2022-07-26 13:38] bennothommo opened #628 "Implement form validation functionality in Snowboard"
Snowboard is missing the form validation functionality this was originally included in the framework extras for the original framework. It is currently being documented as being part of Snowboard, but only the base event has been implemented.

https://wintercms.com/docs/snowboard/extras#ajax-validation

[2022-07-27 15:29] mjauvin commented on #33
Fixed by https://github.com/wintercms/storm/pull/78

[2022-07-27 15:29] #33 closed, assigned to nobody

[2022-07-27 16:23] LukeTowers commented on #33
See https://github.com/wintercms/storm/commit/bcbafd8242acfa58170edaeaee1b197cbb398806.

[2022-07-28 08:21] AllARTSoftworks opened #629 "Error when remaning folder in media manager"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Demo, Winter.Translate, Marcomessa.Vite, Utopigs.Seo, Winter.Pages, Excodus.TranslateExtended

### Issue description

When trying to rename a folder in media manager a popup with this text shows up:

_"Backend\Widgets\MediaManager::onLoadRenamePopup(): Return value must be of type arr

[2022-07-28 20:44] arvislacis commented on #629
Because https://github.com/wintercms/winter/blob/3be17f520b84bc7b22f3ea1435b030483fcaf3a0/modules/backend/widgets/MediaManager.php#L355 expects `array` as return type of function but the https://github.com/wintercms/winter/blob/3be17f520b84bc7b22f3ea1435b030483fcaf3a0/modules/backend/widgets/MediaManager.php#L367 looks like return only string of partial content.

So either return type of function

[2022-08-01 09:12] Dreanad opened #630 "Twig not recovered View::share()"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Source : https://wintercms.com/docs/cms/content#content-global-variables

There seems to be a problem with twig to get the values in the View::share() function

The View::share() function return the good value but can not be recovered by twig on the fron

[2022-08-02 04:58] LukeTowers commented on #630
See https://github.com/LukeTowers/oc-essentialvars-plugin/blob/master/Plugin.php#L38-L77 for how to handle this in a more robust fashion. @bennothommo @mjauvin do you think it's worth updating the docs for this? I'm not sure what the underlying issue is, I know I ran into it ages ago when I wrote that plugin though.

[2022-08-02 05:05] LukeTowers commented on #629
@arvislacis you are correct, the return type should be changed to string. Would you like to submit a PR to fix that for us?

[2022-08-02 17:13] arvislacis commented on #629
@LukeTowers Done in https://github.com/wintercms/winter/pull/632

[2022-08-02 21:49] #629 closed, assigned to nobody

[2022-08-04 15:46] quangtrongonline opened #635 "Media manager error"
### Winter CMS Build

dev-develop

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.demo

### Issue description

After i installed Winter CMS on my vps, the media library crashed. But when I install it on localhost this error does not appear. My vps is using nginx. I tried looking for a workaround but I didn't find it. The thumbnail URL of the image is: /resi

[2022-08-04 17:26] LukeTowers opened #637 "Add test case for ** support in app.trustProxies"
Need to add a test case for https://github.com/wintercms/storm/commit/411695b3e7c7c3b32f702a625d6612319cc4052d to https://github.com/wintercms/storm/blob/develop/tests/Foundation/Http/Middleware/CheckForTrustedProxiesTest.php; don't have the time at the moment. @bennothommo could you take care of this for me when you get a moment?

[2022-08-04 19:54] LukeTowers commented on #635
There's nothing to go off of here. Open the URL and see what the error message actually says and share it here please.

[2022-08-05 00:26] quangtrongonline commented on #635
When i open the url i get 404 page

[2022-08-05 00:29] LukeTowers commented on #635
Turn on debug mode and try again. With no detailed error message or other information to help you debug the issue there's nothing else I can do for you.

[2022-08-05 00:40] quangtrongonline commented on #635
I have debug mode enabled. But there isn't any error message. I noticed when I use the |resize() filter on the frontend I get the same problem
![1](https://user-images.githubusercontent.com/20581588/182978017-f619a214-133e-4cd4-8010-b395fbc78456.PNG)

[2022-08-05 01:08] bennothommo commented on #635
@quangtrongonline have you set up the Nginx config similar to our recommended Nginx config here: https://wintercms.com/docs/setup/configuration#nginx-configuration?

[2022-08-05 01:13] quangtrongonline commented on #635
@bennothommo Yes I have configured url rewrite same as in your documentation

[2022-08-05 02:09] quangtrongonline commented on #635
Oh i reconfigured url rewrite and it worked fine. my mistake was not reloading nginx. sorry for this omission. Thank you for your help

[2022-08-05 02:09] #635 closed, assigned to nobody

[2022-08-05 15:46] az-vm opened #638 "Static Pages 2.0.2 on Winter 1.2.0 - Unable to add global "this" as the runtime or the extensions have already been initialized."
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Pages, Winter.Translate

### Issue description

Hello,

First i want to thank you all for the great work done so far.

I was thinking to move to the new version of winter (1.2.0) and i done a fresh install of winter and plugins and copy my theme used on the version 1.1.9 to the theme

[2022-08-09 01:32] #467 closed, assigned to nobody

[2022-08-10 00:01] LukeTowers commented on #638
How are you changing the language? Changing the language to FR on https://spatialmedia.ca/fr doesn't trigger the issue.

[2022-08-10 10:05] az-vm commented on #638
Hello @LukeTowers

This trigger is shown when i move my existing theme with all is content and layouts.

If i delete all the static pages on the theme, and create new content, the issue stops.

I have a big website will a lot of pages, and mv de theme and all is content of the static pages were nice.

Do you want me to publish online so you can check it ?

Kind Regards

[2022-08-11 01:09] fanti1 opened #645 "When installing plugin Winter.DebugBar, throws a Twig exception"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.DebugBar

### Issue description

Hey guys. When I did a fresh installation of Winter 1.2.0, and I installed the Winter.DebugBar plugin, when I enter the backend or the / route, it shows me the error below:
![image](https://user-images.githubusercontent.com/23063442/184048283-e4bac8bc-

[2022-08-11 02:21] LukeTowers commented on #645
Don't use `plugin:install`, that uses the temporary marketplace which doesn't auto update the packages, install via composer instead for now: `composer require winter/wn-debugbar-plugin`. Also this issue would belong in the https://github.com/wintercms/wn-debugbar-plugin repository.

[2022-08-11 16:54] LukeTowers commented on #638
@az-vm yes please, we'll need to see it to check what's triggering the issue in your case.

[2022-08-11 17:06] az-vm commented on #638
Hello Luke,

Thank you for your reply.

Here is the website: www.azoresautos.com/wintercms/winter

You can check it, if you need backend access, please let me know.

Kind regards,
Vitor Miranda

Luke Towers ***@***.***> escreveu no dia quinta, 11/08/2022
à(s) 16:54:

--
Vitor Miranda

[2022-08-11 17:15] LukeTowers commented on #638
I don't see the error on any of the pages, what triggers it?

[2022-08-11 21:37] az-vm commented on #638
- Go to the language selector and change the language.

[2022-08-17 17:44] pavelmgn opened #652 "Infinity scroll on cms "pages" page"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.WnDebugbar, Winter.WnBuilder, Winter.WnDrivers

### Issue description

![cms_pages](https://user-images.githubusercontent.com/8817759/185204808-bd91c43b-e0ad-47f6-9dc6-199895a3c074.gif)

### Steps to replicate

Cms pages more than list block on pages list.
I have them with description

[2022-08-17 20:31] LukeTowers opened #654 "Add "Send password reset email" button to backend users update page"

[2022-08-24 03:35] euge001 opened #659 "Specified key was too long; max key length is 767 bytes"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

no plugins

### Issue description

Fresh Winter installation, runs well on localhost, no plugins.
When trying to transfer a DB from localhost to any of my 3 or 4 servers I see this:
[code]
And after that it is not possible of course to login at the server with a message like this:
SQLSTATE[H

[2022-08-24 16:26] LukeTowers commented on #659
Sounds like something is screwed up with your database, try deleting it and then recreating it with `artisan winter:up`

[2022-08-25 03:36] LukeTowers commented on #626
@mjauvin is there anything we can do to better support the old config style so no one else runs into this during the upgrade process?

[2022-08-25 07:56] bennothommo commented on #626
Marking as a bug due to more confirmations from the community.

[2022-08-25 12:08] bennothommo commented on #652
@pavelmgn which browser are you running?

[2022-08-25 12:11] bennothommo commented on #23
Laravel 9 support is now implemented in Winter CMS 1.2

[2022-08-25 12:11] #23 closed, assigned to nobody

[2022-08-25 15:59] pavelmgn commented on #652
@bennothommo Chrome 104.0.5112.102

[2022-08-27 20:56] arvislacis commented on #652
Can confirm this also on Brave browser Linux - Version 1.42.97 Chromium: 104.0.5112.102 (Official Build) (64-bit)

Of course this is only a minor issue and in standart cases users probably would not try to to trigger infinite scroll.

[2022-08-29 02:32] bennothommo commented on #652
Yeah I have a feeling it's related to one of the jQuery plugins in use for mouse scroll / wheel handling - I do recall seeing this problem before but haven't for quite a while, so I had assumed it was just a browser quirk.

[2022-08-29 19:10] IIFLIPII opened #663 "Trying to fetch private repo on installation via composer"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When trying to install Winter via `composer create-project` I get the following error:

[code]

### Steps to replicate

 `composer create-project wintercms/winter . 1.2`

### Workaround

_No response_

[2022-08-29 19:22] IIFLIPII commented on #663
I fixed it by removing my composer `auth.json` file and setting it up again after the installation.

[2022-08-29 19:52] #663 closed, assigned to nobody

[2022-08-30 11:28] ekinkoseoglu commented on #505
Adamsın lan sen

[2022-09-01 12:35] zawwz opened #666 "Route cache broken on winter 1.2"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Running `php artisan route:cache` breaks all routes.

HTTP requests return NotFoundHttpException and `php artisan route:list` returns "Your application doesn't have any routes."

### Steps to replicate

- Fresh install of wintercms
- Run `php artisan rou

[2022-09-02 08:08] bennothommo commented on #666
Confirmed.

[2022-09-02 10:49] lex0r opened #667 "Inline system file editing (via fileupload widget)"
Even though it may not be particularly useful by itself, inline editing while uploading files using fileupload widget opens new options like assigning additional attributes without doing the click to open the edit popup. This can be useful when you need to upload tens of files and want to quickly edit their attributes while seeing them all in the list, which is a way to avoid mistakes with large u

[2022-09-03 03:47] #667 closed, assigned to nobody

[2022-09-04 03:19] #505 closed, assigned to nobody

[2022-09-05 09:09] damsfx commented on #505
Thank's for this PR @iamyigitkoc !!

[2022-09-05 17:47] az-vm commented on #638
Hello @LukeTowers

Did you have look at my email ?

[2022-09-07 07:34] AIC-BV opened #679 "Repeater titleFrom not working for richeditor"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate, Winter.Redirects, Aic.Globals, Aic.ExtendWinterPages, Aic.Blog, Aic.Team, Aic.Account, Aic.Contact, Aic.Invoice, Aic.Discount, Aic.Aftersales, Aic.Reviews, Aic.Faq, StudioBosco.BackendNotifications, StudioBosco.BackendComments,

[2022-09-07 08:09] bennothommo commented on #679
@AIC-BV only text and dropdown fields are supported as a `titleFrom` field. I've clarified this in the docs: https://github.com/wintercms/docs/commit/1f0272caefb62c534b956ea8d61ff3ea1642fb10.

Thanks for the report!

[2022-09-07 08:09] #679 closed, assigned to nobody

[2022-09-07 14:03] lex0r opened #680 "Form widget of type text gets default attribute maxlength="255""
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When a widget of type "text" is rendered on the form by default it gets maxlength="255". This is too opinionated and leads to situations when a text field which is supposed to store very long string (and is not supposed to show it in full hence no textar

[2022-09-08 00:13] LukeTowers commented on #680
I would agree that the default maxlength is somewhat arbitrary (I believe the intention behind it is to avoid SQL errors if inserting into a default VARCHAR(255) column, but that's not really a good enough reason to have it hardcoded in here).

Would you like to submit a PR to remove the offending line entirely?

[2022-09-09 22:44] ericp-mrel opened #683 "[v1.2] CMS editor doesn't save all components added to page/layout/etc"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Pages

### Issue description

Adding multiple components to a layout/page from the CMS editor does not work, and only the last added component is saved to the actual file itself. All other components are lost.

### Steps to replicate

1. Install fresh winter cms project
2. Ins

[2022-09-09 22:49] ericp-mrel commented on #683
Here's a video demonstrating the issue:
https://user-images.githubusercontent.com/63664924/189455663-85de653e-f1a2-4720-8eaa-8c50358b42a1.mp4

Another bug I noticed during this, you cannot remove components using the backend CMS editor either.

[2022-09-10 20:39] willouch commented on #683
Same issues with php 8.1 and fresh install

[2022-09-11 20:18] OVillani opened #684 "Mediafinder Form Widget: Cuts displayed file path/name by width of image"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When using the mediafinder widget to select an image in a backend form the widget cuts the length of the shown path & file name of the media selected according to the with of the image displayed.

### Steps to replicate

- put a mediafinder widget in a b

[2022-09-11 20:23] OVillani commented on #684
Actual behaviour looks like this (see right placed widget with flag):
![grafik](https://user-images.githubusercontent.com/6983432/189547393-7a731faa-7a89-4239-ac4e-9cb3104e2baf.png)

Desired behaviour would be:
![grafik](https://user-images.githubusercontent.com/6983432/189547422-dcab0686-a315-487e-ac91-7a9f4ea2a7c8.png)

[2022-09-12 01:33] bennothommo commented on #683
Confirmed.

[2022-09-12 03:24] bennothommo commented on #683
@ericp-mrel @willouch would you mind trying the fix in #686 and see if that resolves the issue for you?

[2022-09-12 08:07] #637 closed, assigned to bennothommo

[2022-09-12 14:48] ericp-mrel commented on #683
@bennothommo, Seems to be working for me now with those changes.
The only issue that still remains, is not being able to remove components from layouts.

I just checked one of my older Winter CMS installations which is still running v1.1, the CMS still correctly adds/removes components from the backend. I'm kind of curious if the backend CMS portion for adding/removing components broke when Snowbo

[2022-09-12 15:53] willouch opened #688 "@ericp-mrel @willouch would you mind trying the fix in #686 and see if that resolves the issue for you?"
@ericp-mrel @willouch would you mind trying the fix in #686 and see if that resolves the issue for you?

_Originally posted by @bennothommo in https://github.com/wintercms/winter/issues/683#issuecomment-1243172789_

The only issue that still remains, is not being able to remove components from layouts.

[2022-09-12 15:54] willouch commented on #683
its' working but new issue that still remains, is not being able to remove components from layouts.

[2022-09-12 16:55] #684 closed, assigned to nobody

[2022-09-12 16:58] LukeTowers commented on #683
Snowboard is present in the 1.1 branch I believe so I'm not sure that would cause the issue. We'll need to figure out what commit caused the issue to come up with the ideal solution @bennothommo

[2022-09-12 23:01] ericp-mrel commented on #683
I just found something that may be related. Using the add button from a relation widget and selecting all only adds the last item and not all of the selected items.

The `checked[]` array doesn't seem to get the full list of IDs, rather only the last selected ID.

![Screen Shot 2022-09-12 at 6 01 07 PM](https://user-images.githubusercontent.com/63664924/189772969-c13fd254-116b-4769-a459-79d4ed7449

[2022-09-13 01:01] bennothommo commented on #683
I think it might be related to this commit - https://github.com/wintercms/winter/commit/a4cfd0d23f4342f530dc4b425098ee24086cd8d1. There's likely something in those changes that doesn't support arrayed POST values.

[2022-09-13 03:38] bennothommo commented on #683
I've deployed an updated fix here: https://github.com/wintercms/winter/pull/689. This should fix this issue as well as the one that @ericp-mrel reported in the relation widget.

Please feel free to re-test and let us know how you go.

Also, I wasn't able to replicate the issue where components could not be deleted in a layout. Seemed to work fine for me. Any more info on this will be appreciated.

[2022-09-13 10:02] mjauvin commented on #683
@bennothommo open a layout in the CMS editor, add a component then save and close layout. reopen layout, delete component, save and close layout. reopen layout: component should still be there.

[2022-09-13 15:06] bennothommo commented on #683
@mjauvin I was able to replicate this. It seems that with the layouts, changing only the components in a layout does not make the layout "dirty", and Halycon models on update won't trigger a save unless there is a dirty attribute. It's why it initially worked for me - the content in the code editor had changed ever so slightly (I think it removed a newline), which meant that the code attribute was

[2022-09-13 15:17] mjauvin commented on #683
@bennothommo do you mean create a new issue/PR for the component deletion problem on layouts?

[2022-09-13 15:22] bennothommo commented on #683
@mjauvin yes please, let's create a new issue for the component deletion problem.

[2022-09-13 23:31] mjauvin opened #690 "CMS Layout editor: cannot remove components."
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When deleting a component from a layout within the CMS editor, the component persist after the layout is saved.

### Steps to replicate

- open a layout in the CMS editor.
- add a component then save and close layout.
- reopen layout, delete component, s

[2022-09-13 23:48] bennothommo commented on #690
[Comment in original thread:](https://github.com/wintercms/winter/issues/683#issuecomment-1245551499)

[2022-09-14 13:00] Kuse-GmbH commented on #638
i have the same issue if i had an twig-put in my code:

`==`
`{% put intro %}
Some random text
{% endput %}`
`==`

"intro" is a placeholder, I need in my layouts

[2022-09-14 15:59] LukeTowers commented on #638
@az-vm I have not had a chance to yet, no.

@Kuse-GmbH why are you putting Twig inside of two `==` section separators?

[2022-09-14 16:12] Kuse-GmbH commented on #638
my layout contains this code:

[code]

if I save a static page, its generate a code like

[code]

if it helps I can post the complete layout-file

BTW: in october 1 there was no problem with identical codes (over 2 jeahrs ago), I dont't know if this information helps

[2022-09-14 18:05] az-vm commented on #638
@LukeTowers ok, but please check it up.

@Kuse-GmbH Thank you for the feedback.

Here is the thing:

I got this error using winter 1.2 when i try to change locale, but if i delete the static-page and add again with the same layout, the error does not occour.

With Octobercms dont have this problem with version 1, 2 or 3.

[2022-09-15 09:20] Kuse-GmbH commented on #638
some new infos:
the problem also occurs on pages that are created in german only, as soon as you switch to english.
it does not matter whether the english page exists or not.

the placeholder from my previous post doesn't seem to have any influence, as it also affects pages without placeholders.

EDIT: delete and recreate does not bring me any improvement

EDIT 2: in my case it was due to

`'enabl

[2022-09-15 13:27] WebVPF opened #693 "Remove the demo plugin and theme"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Demo

### Issue description

After a fresh installation of Winter, I run the command

[code]

In the console I get the following message:

![2022-09-15_162230](https://user-images.githubusercontent.com/61043464/190415140-4fc6b21d-e877-4116-8a6a-ad8b80975947.jpg)

The demo theme is removed, b

[2022-09-15 13:35] mjauvin commented on #693
Confirmed!

[2022-09-15 15:35] webbati opened #695 "Mail queue is not instantiable"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Unable to run the mail queue

Full stack trace:

[code]

### Steps to replicate

Simple mail queue like

[code]

### Workaround

Reading here https://github.com/laravel/lumen-framework/issues/1057

I added in the ROOT/bootstrap/app.php file this two alia

[2022-09-15 15:43] webbati opened #696 "Missing uuid field on failed_jobs table"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When job fail inserting it in the failed_jobs table require an `uuid` field that is not present in the table at the moment, so a pdo exception is thrown

`PDOException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'uuid' in 'field list' in /var

[2022-09-15 17:05] webbati commented on #695
seem that is sufficient only

`
$app->alias(
'mail.manager', Illuminate\Contracts\Mail\Factory::class
);
`

[2022-09-16 02:00] #683 closed, assigned to nobody

[2022-09-16 02:31] #693 closed, assigned to nobody

[2022-09-19 17:24] ericp-mrel opened #706 "Backend checkbox and switch fields no longer sent as boolean values"
### Winter CMS Build

dev-develop

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

It is no longer possible to save changes in the backend when using `boolean` validation rules on a model property with a `checkbox` or `switch` form widget.

This issue is related to the recent fix/changes introduced in this PR https://github.com

[2022-09-19 17:35] ericp-mrel commented on #706
I just want to add some slight clarification, checkbox and switch widgets send their values correctly when they are `unchecked` / `false` and it is only when they are set to `true` when the bug happens.

<img width="291" alt="Screen Shot 2022-09-19 at 12 34 51 PM" src="https://user-images.githubusercontent.com/63664924/191078759-ccdec2af-d304-448d-a5e2-ccdff26aae20.png">

<img width="294" alt="Scr

[2022-09-20 06:18] bennothommo commented on #706
@ericp-mrel thanks for the report. Should now be fixed by https://github.com/wintercms/winter/commit/2a4394b69088cc427885ecd6cbac76db6192919c.

[2022-09-20 06:18] #706 closed, assigned to bennothommo

[2022-09-22 15:42] ericp-mrel opened #709 "No longer able to sort relation widget by invisible column"
### Winter CMS Build

dev-develop

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Demo

### Issue description

In October CMS / Winter CMS v1.0 I was able to sort a relation widget by an invisible column as long as I marked all of the other columns as not sortable (`sortable: false`). With Winter CMS v1.1 and v1.2 it seems this doesn't work anymore.

The re

[2022-09-22 16:03] ericp-mrel commented on #709
Found a short-term workaround.

It appears I can sort a column which has a type of `partial`.

[code]

The only thing I don't like about this approach, is it allows the user to adjust the sort direction when the sort direction should only be displayed in ascending order.

![Screen Shot 2022-09-22 at 11 01 25 AM](https://user-images.githubusercontent.com/63664924/191796242-68bcf608-094a-4ef3-829d-3

[2022-09-22 21:13] ericp-mrel commented on #709
I just discovered you can disable the sorting behavior for the relation widget, so I guess this no longer an issue for me. https://wintercms.com/docs/backend/relations#configuring-relation:~:text=showSorting,true

Not sure if this is actually a bug or not, but I will keep it open for the time being.

[2022-09-23 13:15] prsuhas commented on #654
@LukeTowers. Could you please provide some more details on this enhancement ? I would be glad to work on this enhancement.

[2022-09-26 08:20] gigachel opened #711 "Add $inverse argument to MorphToMany parent::__construct"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Builder

### Issue description

In vendor\winter\storm\src\Database\Relations\MorphToMany.php (line 64) need add $inverse at the end parent::__construct. Because MorphToMany extends BaseMorphToMany now (against BelongsToMany before).

parent::__construct(
            $query,

[2022-09-26 12:18] mjauvin commented on #711
This was fixed in latest develop branch.

ref. https://github.com/wintercms/storm/commit/aea652bc79117df9aceb336db6fe85df0a3cec67

[2022-09-26 12:18] #711 closed, assigned to nobody

[2022-09-27 13:07] maoxuner opened #714 "Theme export failure: Undefined constant "Winter\Storm\Filesystem\GLOB_BRACE""
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Blog, Winter.Pages

### Issue description

When export a theme, failed with error message

### Steps to replicate

1. Go to theme manage page `cms/themes`
2. Select a theme and click manage button, then select export option
3. Select all directories to export(by default) and confirm
4

[2022-09-27 13:12] AIC-BV opened #715 "Repeater reorder not working in a repeater with nestedform"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate, Winter.Redirects, Aic.Globals, Aic.ExtendWinterPages, Aic.Blog, Aic.Team, Aic.Account, Aic.Contact, Aic.Invoice, Aic.Discount, Aic.Aftersales, Aic.Reviews, Aic.Faq, StudioBosco.BackendNotifications, StudioBosco.BackendComments,

[2022-09-27 13:20] AIC-BV opened #716 "Trigger events field with ^ parent selector does not work (nestedform)"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Sitemap, Winter.Pages, Winter.TinyPNG, Winter.Translate, Winter.Redirects, Aic.Globals, Aic.ExtendWinterPages, Aic.Blog, Aic.Team, Aic.Account, Aic.Contact, Aic.Invoice, Aic.Discount, Aic.Aftersales, Aic.Reviews, Aic.Faq, StudioBosco.BackendNotifications, StudioBosco.BackendComments,

[2022-09-27 16:45] LukeTowers commented on #714
See https://www.php.net/manual/en/function.glob.php.

Not sure what we can do instead here, @bennothommo @jaxwilko @mjauvin any ideas?

[2022-09-28 00:46] maoxuner commented on #714
@LukeTowers That's right. I'm running on Alpine Linux

[2022-09-28 01:06] bennothommo commented on #714
@LukeTowers if I recall correctly, Symfony does provide a glob polyfill. It's supposed to exist within the Finder component.

[2022-09-28 01:08] maoxuner commented on #714
This comment may help

https://github.com/docker-library/php/issues/719#issuecomment-424145034

[2022-09-28 01:12] bennothommo opened #718 "Route model binding does not appear to work in Winter 1.2"
### Discussed in https://github.com/wintercms/winter/discussions/717

<div type='discussions-op-text'>

<sup>Originally posted by **ericp-mrel** September 28, 2022</sup>
Hi,

I'm trying to use route model binding according to the Laravel documentation, but it is not working no matter what I do. https://laravel.com/docs/9.x/routing#customizing-the-key

I've tried doing something like this:
URL: `ht

[2022-09-28 08:18] LukeTowers commented on #714
@bennothommo https://github.com/symfony/symfony/blob/6.2/src/Symfony/Component/Finder/Finder.php#L634 is the extent of their polyfill, I can't tell if that actually provides the same functionality or not. Any ideas?

[2022-09-28 08:25] #695 closed, assigned to nobody

[2022-09-28 08:33] bennothommo commented on #714
Hmmm, doesn't appear to polyfill braces support, no.

Zend Framework does have a polyfill, but I don't want us to include an entire (deprecated) framework for one polyfill, so I suppose we either need to hunt for another one, or implement the polyfill ourselves.

[2022-09-28 08:53] LukeTowers commented on #714
What are we even using it for? Is it just in the one place that we can remove that use and just implement the specific check in our code or do we need to build a proper polyfill into our library?

[2022-09-28 09:00] bennothommo commented on #714
As far as I can tell, the only place we explicitly use it is the `Winter\Storm\Filesystem\Zip` class, which I assume is used for zipping up the theme export, but the underlying Filesystem class does support globs, which just forward through to the base `glob` method.

The Zip class uses it to include hidden files as an option - I'll have to see if it's something we can get around.

[2022-09-29 01:11] bennothommo commented on #714
@pawmaster could you try the fix in https://github.com/wintercms/storm/pull/121 and let us know if that resolves the issue for you?

[2022-09-29 01:31] maoxuner commented on #714
@bennothommo ~I'll have a try a few minutes later and then update this comment~
Good job. It works!

[2022-09-29 04:03] #714 closed, assigned to nobody

[2022-09-29 08:44] haralake opened #720 "The uploaded logo from the backend doesn't respect the https protocol"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

In the "customize backend" section of wintercms if I change the logo it doesn't appear either on the backend home page with credentials or on the dashboard.
![Screenshot_7](https://user-images.githubusercontent.com/18325407/192984879-d286bbfb-c963-4ab0-8

[2022-09-29 09:36] AIC-BV commented on #448
https://github.com/wintercms/wn-translate-plugin/issues/44

[2022-09-29 09:36] AIC-BV commented on #448
https://github.com/wintercms/wn-translate-plugin/issues/44 without the PR but a better explanation and some more research in it 👼

[2022-09-29 09:49] AIC-BV commented on #448
Is there a version of this that I can test?
It could potentionally solve my other issue, because reordering wouldn't be such an important feature if I can add a new item under each item (https://github.com/wintercms/winter/issues/715)

There's also this issue which could perhaps be tackled in the rework, although i'm not 100% sure its related to the repeater: https://github.com/wintercms/winter/is

[2022-09-29 20:34] LukeTowers commented on #720
@haralake this has never been a problem before, are you using Cloudflare or have you customized what the `app.url` is or have you customized what the `cms.storage.uploads.path` config value is?

If you're using Cloudflare, try using the new [Winter.Cloudflare plugin](https://github.com/wintercms/wn-cloudflare-plugin)

[2022-09-29 20:43] LukeTowers commented on #654
@prsuhas sure, would like there to be a button on the users update page in the backend, probably located under the Impersonate Users button that triggers the system to send the password reset email to the user in order to trigger a password reset manually. Is that enough information?

[2022-09-30 10:56] haralake commented on #720
Yes i'm using Cloudflare. For some strange reason suddenly the problem was solved. I can't figure out what the problem was.

[2022-10-01 00:45] LukeTowers commented on #720
Could have been a delay in Cloudflare issuing certs for you if you're using their flexible SSL.

[2022-10-01 00:45] #720 closed, assigned to nobody

[2022-10-01 09:17] prsuhas commented on #654
Yes it would be sufficient to start with.

[2022-10-02 20:34] #680 closed, assigned to nobody

[2022-10-06 21:53] LukeTowers opened #727 "Snowboard.js Request plugin custom error handler isn't being passed the request response"
In https://wintercms.com/docs/snowboard/request#available-options it says that the response data will be param 1 and the Request instance will be param 2 but it appears that Snowboard's renderError function is taking over before the this.options.error handler and then the this.options.error handler is being passed the error from renderError instead

[code]
returns
[code]
But
[code]
works just fine

[2022-10-07 03:19] bennothommo commented on #727
Should be fixed by https://github.com/wintercms/winter/commit/a2f8c3d2beff144fb74dcac2d41054632d2cf798.

[2022-10-07 03:19] #727 closed, assigned to bennothommo

[2022-10-08 15:35] mjauvin commented on #718
I confirm this is not working with latest develop branch.

[2022-10-08 15:39] mjauvin commented on #718
I also tested with 1.1.9 and it is not working either.

[2022-10-08 17:50] mjauvin commented on #718
@ericp-mrel I found the issue... in order for the implicit model binding to work, you need to use the "web" group middleware in your route:
[code]

Alternatively, you can use the `\Illuminate\Routing\Middleware\SubstituteBindings` middleware directly:

[code]

[2022-10-08 17:50] #718 closed, assigned to mjauvin

[2022-10-10 00:50] fpomidoro commented on #120
Keeping it open. Thanks!

[2022-10-10 01:33] bennothommo commented on #439
@multiwebinc Winter 1.2 with Laravel 9 support is now out. Have you had a chance to test this out on Winter 1.2?

[2022-10-12 12:01] Dreanad opened #729 "the disabled field on the create_at date does not work as expected"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Hey ,

i have a problem with the created_at, this fields is updated when i add it on the fields.yaml file configuration of a model even if the field is disabled

### Steps to replicate

add the created_at field in the fields configuration file with disab

[2022-10-12 12:38] #729 closed, assigned to nobody

[2022-10-12 12:41] Dreanad commented on #729
Refresh the db (and use timestamps() instead of two timestamp() field) solve the issue ...

[2022-10-13 09:36] LukeTowers commented on #654
Implemented in #723 by @prsuhas, thanks @prsuhas!

[2022-10-13 09:48] LukeTowers commented on #696
@webbati do you feel like submitting a PR to add the necessary migration to the system module?

[2022-10-13 15:28] pavelmgn commented on #652
If you round the height downwards, an object with the scrollbar-thumb class (for example: 151.847px > 151px) generated by the plugin will not have a problem =)
![image](https://user-images.githubusercontent.com/8817759/195639559-367f3e1f-43ec-401a-9d62-644f992bea07.png)

[2022-10-15 12:31] #654 closed, assigned to nobody

[2022-10-15 12:32] mjauvin commented on #666
@bennothommo should that be closed?

[2022-10-15 12:40] mjauvin commented on #626
@bennothommo can this be closed, I see you commited a fix for this.

[2022-10-15 13:50] bennothommo commented on #666
@mjauvin Nope, the PR is still open.

[2022-10-15 13:52] bennothommo commented on #626
The commit is within the open PR, @mjauvin, so this shouldn't be closed yet :)

[2022-10-15 15:21] mjauvin commented on #666
Didn't realize the PR was in storm...

[2022-10-17 13:56] m-paniez9292 opened #731 "Test content file exists"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Pages

### Issue description

Hi,
I would like, in a CMS partial, test if a content file exists.
So I do :
[code]
If I do that, I have a twig error on my if line : `An exception has been thrown during the rendering of a template ("The content file '<my_URL>' is not found.").`

How can I do t

[2022-10-17 14:29] mjauvin commented on #731
Just do the test in your page/component code section and add a boolean page variable that make that result available in your twig markup.

[2022-10-17 14:54] m-paniez9292 commented on #731
Re,

Sorry if you re-write the same.

My layout is
[code]
So, in my partial site/content, I have :
[code]
So, I don't have page file between layout and this partial.

Thanks

[2022-10-17 14:57] mjauvin commented on #731
Same, just use the layout code section.

[2022-10-17 16:01] m-paniez9292 commented on #731
Re,

I modify my layout to :
[code]
I have the same error.
EDIT : the error is always on test (so now in the layout file)

Thanks

[2022-10-17 17:09] mjauvin commented on #731
This is how it should look in your layout file:
[code]

[2022-10-17 20:22] #626 closed, assigned to mjauvin

[2022-10-18 12:57] m-paniez9292 commented on #731
Re,
With that method, it works.
Just, the same method to call partial works fine (ie. `{% if partial(<my_file.htm>) %}` ).
Thanks

[2022-10-18 18:12] mjauvin commented on #731
Oh, I see your point now... the `partial()` twig function returns false if the partial is not found, but the `content()` twig function throws an exception if the content file does not exist.

ref. https://github.com/wintercms/winter/blob/develop/modules/cms/classes/Controller.php#L1129-L1131

@LukeTowers @bennothommo should we change this behavior?

[2022-10-19 07:02] m-paniez9292 commented on #731
Re,

I can't say better than you. Sorry if my explanation was bad or not clearly explicit.
Thanks

[2022-10-20 05:01] #696 closed, assigned to nobody

[2022-10-20 16:00] webbati commented on #696
Sorry @LukeTowers, this week I have had some problems and I have not been able to do anything, not even about it. I see that it has already been done

[2022-10-21 00:14] multiwebinc commented on #439
@bennothommo Sorry for the delay. I just tried with 1.2.0 and it hasn't been fixed.

[2022-10-21 04:49] multiwebinc commented on #439
I think this happens when there is an error in the component's `onRender()` method. I tried adding an error to several other methods and it displays the error correctly.

e.g. This outputs the error like in the first screenshot:

[code]

[2022-10-21 08:12] GaneshKandu opened #735 "SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long | WinterCMS 1.2.1"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

no

### Issue description

I am getting this error on "Installing Winter CMS" "Installation" step

Unable to run migrations. SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 767 bytes (SQL: alter table `sessions` add unique `sessions_id_un

[2022-10-21 09:41] LukeTowers commented on #735
Minimum supported MySQL version is currently 5.7 for Winter v1.2. See https://github.com/wintercms/meta/blob/master/l9-upgrade-notes.md#database-servers

[2022-10-22 03:33] #735 closed, assigned to nobody

[2022-10-24 00:50] #461 closed, assigned to nobody

[2022-10-24 19:40] LukeTowers commented on #458
@gianluca-ugolini is this still an issue?

[2022-10-24 19:41] LukeTowers commented on #439
@multiwebinc are you able to try out the ignition plugin and see if that helps? You might have to use this WIP PR: https://github.com/wintercms/wn-ignition-plugin/pull/2 but @robertalexa should be finishing it up within the week.

[2022-10-24 19:49] LukeTowers commented on #454
Is this still an issue in Winter v1.2?

[2022-10-24 23:46] gianluca-ugolini commented on #458
Yes, last check on v 1.1.9

[2022-10-25 00:06] LukeTowers commented on #458
@gianluca-ugolini can you try on v1.2.1?

[2022-10-25 10:38] maricruztm commented on #454
Hi,

We haven't done the migration yet but will do in a few weeks. Would it be
OK to leave this open until then please?

Thanks

On Mon, 24 Oct 2022, 20:49 Luke Towers, ***@***.***> wrote:

[2022-10-26 13:26] hirisov opened #741 "Repeater field not initialzed properly pivot modal"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Test

### Issue description

If there is a relation widget with pivot model with a repeater type field, then in the pivot modal the repeater is always empty. If I enter some data to it and save it, the data is properly updated in the database, but upon opening the pivot modal

[2022-10-27 00:34] mjauvin commented on #741
I was able to "patch" this by adding the following method to the Repeater widget class, but I feel this isn't right:
[code]

[2022-10-28 12:23] bennothommo commented on #731
@mjauvin I'd say it makes sense for it to return `false`, so that people can use a conditional to display fallback content like with a partial.

[2022-10-28 13:38] gianluca-ugolini commented on #458
I confirm the bug is stille present.
Replicating the first example in 1.2.1

This is the result using deferred_binding: true
<img width="3079" alt="Schermata 2022-10-28 alle 15 34 36" src="https://user-images.githubusercontent.com/13046806/198614787-e8a7726d-0476-48aa-8cb2-487beb8ac7a3.png">

This is the result using deferred_binding: false
<img width="3077" alt="Schermata 2022-10-28 alle 15 37 32

[2022-10-28 16:20] webbati opened #747 "Booted method and global scope declaration"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

Global scopes documentation seem to refer only to Laravel 9.x (Winter 1.2.x), for previous version that are based on Laravel 6.x classes and methods are different.

### Steps to replicate

Create a global scope following the Winter documentation https://

[2022-10-28 16:40] webbati commented on #747
Added PR to Winter Docs

See https://github.com/wintercms/docs/pull/101

[2022-10-28 16:47] damsfx opened #748 "model->toArray() add timezone to dates"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When fetching model's attributes, the dates fields are corrects, but when calling `toArray()` method on the same model, date fields comes with timezone in ISO format.
If you add to pass this to the `winter/src/Argon/Argon.php@createFromFormatWithCurrentL

[2022-10-29 13:47] damsfx commented on #748
Maybe related :
https://laravel.com/docs/7.x/upgrade#date-serialization

[2022-10-30 22:49] bennothommo commented on #748
I don't think this necessarily counts as a bug within Winter, as it's a change introduced by Laravel, unless this is breaking a feature within Winter.

[2022-10-30 22:49] #748 closed, assigned to nobody

[2022-10-31 17:21] damsfx commented on #748
Totally agree with you.
Sorry for the noise.

[2022-11-01 02:56] bennothommo commented on #748
Not noise at all - happy for the report. But yeah, just falls outside the scope of us fixing it, that's all 😄

[2022-11-03 16:19] m-paniez9292 opened #753 "[MediaManager] >_ link to rename / delete"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Pages

### Issue description

Hi,
In MediaManager, I create a directory and upload a picture in it.
When I click on ">_" on the line of the file (to rename or delete the file), I have this error :
`"Backend\Widgets\MediaManager::onLoadRenamePopup(): Return value must be of type array, string

[2022-11-03 16:23] LukeTowers commented on #753
Update to 1.2.1, this was fixed 3 months ago in https://github.com/wintercms/winter/commit/b8046c222805f566acc54f63a7db7053cb4da300

[2022-11-03 16:23] #753 closed, assigned to nobody

[2022-11-06 23:09] RoKrypto opened #757 "Date shown incorrectly after opening edition mode on a record"
### Winter CMS Build

1.1

### PHP Version

7.4

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

I use Winter 1.1.9 and PHP 7.4.32. I have a model called Promotions. The logic behind it is to show promotions in detail within a range of dates. Among the input fields, there are 2 date fields oriented to define said range. Let's call these "From" and "

[2022-11-07 08:39] LukeTowers commented on #757
Try setting `ignoreTimezone: true` on your date fields in your `fields.yaml` file.

[2022-11-07 13:17] der-On opened #758 ".fancy-layout class breaks nested forms in tabs"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

wn-pages

### Issue description

When a form uses the `.fancy-layout` class like the static page forms do, nested forms inherit the styles of the fancy-layout making them look strange. In addition the collapse/expand icons of the nested forms do not work properly, as nested forms can no long

[2022-11-07 13:46] bennothommo commented on #758
If you move the fields to the primary or secondary tabs, the nested form works better in the fancy layout. I do it that way quite often. The fields you have in your screenshot are being added as "outside" fields.

[2022-11-07 14:17] der-On commented on #758
@bennothommo This works but adds an additional row of tabs which clutters things up.

[2022-11-08 01:24] bennothommo commented on #758
The only other option would be to make a PR to the [`fancylayout.less`](https://github.com/wintercms/winter/blob/develop/modules/backend/assets/less/layout/fancylayout.less) to make its styling more targeted to just the "main" instance of the form. You'll also need to make adjustments to the custom backend styling functionality that allows people to re-colour the backend, as I believe that uses th

[2022-11-08 01:52] RoKrypto commented on #757
It worked. Thank you so much, @LukeTowers

[2022-11-08 04:30] #757 closed, assigned to nobody

[2022-11-08 12:13] der-On commented on #758
@bennothommo I will take a look into that.

[2022-11-10 06:23] bennothommo commented on #758
@der-On could you give #763 a test and let me know if that fixes it for you? :)

[2022-11-10 20:09] der-On commented on #758
@bennothommo It helps. But the problem with the collapse/expand button still persists. It is now clickable but toggles both the nested form and the form with orange background on top.

![Bildschirmfoto am 2022-11-10 um 21 06 51-fullpage](https://user-images.githubusercontent.com/359399/201195419-6601fb12-a54b-47fa-b809-4596c3801d00.png)

With the tailwind-ui backend plugin the nested form still ha

[2022-11-11 00:29] bennothommo commented on #758
@der-On at the moment I'm just making sure it works with the vanilla UI. Once that's done, we'll fix up the Tailwind UI plugin.

I'll check the collapsible functionality. I'm fairly sure it works in the CMS area, so it should work here too.

[2022-11-11 02:11] bennothommo commented on #758
Sorry, forgot to mention about the collapsible functionality of the nested forms - I don't believe we intend to make these collapsible. A nested form is just a way of collating reusable sets of fields. So it'll be a case of removing the collapsible arrow for the nested fields.

[2022-11-11 02:19] bennothommo commented on #758
One more thing - you will need to re-save the Brand Settings in the Backend if you've used that functionality previously, as it needs to recompile the selectors for the brand settings.

[2022-11-13 21:28] LukeTowers commented on #19
@jaxwilko or @robertalexa, whichever is assigned the bugherd issue for selecting images in the mediafinder, please refer to this comment: https://github.com/octobercms/october/issues/2726#issuecomment-319555427

[2022-11-14 05:47] #731 closed, assigned to mjauvin, bennothommo

[2022-11-15 16:39] #758 closed, assigned to nobody

[2022-11-19 16:27] WebVPF opened #770 "Not working translation in properties ReportWidget"
### Winter CMS Build

1.2

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

WebVPF.Packagist

### Issue description

Translation does not work in properties with dropdown type.

https://github.com/WebVPF/wn-packagist-plugin/blob/bfcb655ac087999cb30d6b9b911f26c4ad7e4960/reportwidgets/Vendor.php#L20

### Steps to replicate

Install plugin:

[code]

Add a ReportWidget

[2022-11-19 20:28] LukeTowers commented on #770
@WebVPF just wrap them in calls to `Lang::get()` for now

[2022-11-22 18:17] damsfx opened #773 "Fancy layout styling"
### Winter CMS Build

dev-develop

### PHP Version

8.0

### Database engine

MySQL/MariaDB

### Plugins installed

Winter.Test

### Issue description

PR #763 introduce degenerative styles when using nested forms under repeater fields.

### winter/wn-backend-module 1.2.1
![image](https://user-images.githubusercontent.com/282242/203379877-63e81c06-d3aa-4960-b5cb-ad2d47eb0490.png)

### winter/wn-ba

[2022-11-24 09:03] hirisov opened #775 "Support for 2FA on the backend login page"
### Discussed in https://github.com/wintercms/winter/discussions/774

<div type='discussions-op-text'>

<sup>Originally posted by **hirisov** November 24, 2022</sup>
It would be nice to have 2FA option for the backend athentication for increased security.

There is an existing plugin for OctoberCMS for that:

https://octobercms.com/plugin/vdlp-twofactorauthentication

but the developers are only i

[2022-11-24 12:19] Xaero opened #776 "Fallback getAttribute to Eloquent Model"
### Winter CMS Build

1.2

### PHP Version

8.1

### Database engine

MySQL/MariaDB

### Plugins installed

_No response_

### Issue description

When using casts that resolve to a class, f.e. when using https://github.com/spatie/laravel-schemaless-attributes, Winter does not work due lack of support in the getAttribute method in the Model class.

Would it be possible to fall back to the Eloquents

[2022-11-25 07:14] LukeTowers commented on #775
There's no need for a discussion and an issue.

[2022-11-25 07:14] #775 closed, assigned to nobody

[2022-11-26 00:26] #11 closed, assigned to nobody

[2022-11-28 01:37] #628 closed, assigned to bennothommo

[2022-11-29 19:53] #776 closed, assigned to nobody

[2022-11-29 19:54] LukeTowers commented on #776
Thanks for the report @Xaero, should be fixed in https://github.com/wintercms/storm/commit/79ab8a906cd1851af5e1731879902f4a604351ea

[2022-11-29 20:42] LukeTowers commented on #458
In order for deferred binding to work correctly @gianluca-ugolini the column for the relationship that is being deferred must be marked as nullable in your table migrations, otherwise the DB itself expects a value to be present and the deferred binding system can't do its job.

[2022-11-29 20:43] LukeTowers commented on #454
@maricruztm were you able to complete the migration to Winter v1.2 yet?

[2022-11-29 22:32] fanti1 commented on #454
Just made a test with winter 1.2.1 and this issue continues. Any idea?

[2022-11-30 03:21] #666 closed, assigned to nobody

[2022-11-30 05:58] bennothommo commented on #454
@fanti1 I've just tried your replication details and I can't replicate this. There must be something else at play here. Do you have any other conditions in the query, or are using any filters?

If possible, could you try installing the [Debug Bar](https://github.com/wintercms/wn-debugbar-plugin) and provide us with a copy of the query that runs for your list (it should be the query - or queries -

[2022-11-30 11:59] fanti1 commented on #454
Hi @bennothommo. Testing with *** Detected Winter CMS build 1.2.1.
I've created an model Test with this fields:
![image](https://user-images.githubusercontent.com/23063442/204789748-77335a96-4838-4d29-ae3c-7f5487d83bbe.png)
Then, in controller I just do:
![image](https://user-images.githubusercontent.com/23063442/204789885-6751dc89-4745-448c-a6da-01cd36a35bc2.png)
When doing this, I need to set co